Repository knative/serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-writers, @google/elafros-readers, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish

Add test of running controller logic
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/controller_test.go
  pkg/controller/configuration/queueing_test.go
Owners: none

Use http.RoundTripper to inject open tracing headers (#402)
  sample/telemetrysample/telemetrysample.go
Owners: none

Add missing comments explaining Indexer Add
  pkg/controller/configuration/controller_test.go
Owners: none

areas of interest
  pkg/autoscaler/ROADMAP.md
Owners: none

Remove ConfigHolder interface based on PR feedback.
  cmd/ela-controller/main.go
  pkg/controller/config.go
  pkg/controller/config_test.go
  pkg/controller/configuration/controller.go
  pkg/controller/configuration/controller_test.go
  pkg/controller/controller.go
  pkg/controller/names.go
  pkg/controller/revision/controller.go
  pkg/controller/revision/controller_test.go
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none

areas of interest descriptions
  pkg/autoscaler/ROADMAP.md
Owners: none

Rewrite Configuration tests to call syncHandler directly (#401)
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/controller_test.go
  pkg/controller/configuration/queueing_test.go
Owners: none

draft of area items
  pkg/autoscaler/ROADMAP.md
Owners: none

DomainSuffix should be a Route controller configuration (#363)
  BUILD
  cmd/ela-controller/main.go
  controller.yaml
  elaconfig.yaml
  pkg/apis/ela/v1alpha1/route_types.go
  pkg/controller/BUILD.bazel
  pkg/controller/config.go
  pkg/controller/config_test.go
  pkg/controller/configuration/controller.go
  pkg/controller/configuration/controller_test.go
  pkg/controller/controller.go
  pkg/controller/revision/controller.go
  pkg/controller/revision/controller_test.go
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
  pkg/controller/route/ela_ingress.go
  pkg/webhook/route_test.go
  pkg/webhook/webhook_test.go
  sample/autoscale/README.md
  sample/autoscale/route.yaml
  sample/buildpack-app/README.md
  sample/buildpack-app/route.yaml
  sample/gitwebhook/README.md
  sample/gitwebhook/route.yaml
  sample/helloworld/README.md
  sample/private-repos/README.md
  sample/private-repos/manifest.yaml
  sample/steren-app/README.md
  sample/steren-app/route.yaml
  sample/steren-function/README.md
  sample/steren-function/route.yaml
  sample/telemetrysample/README.md
  sample/telemetrysample/route.yaml
  sample/thumbnailer/README.md
  sample/thumbnailer/thumbnailer-prebuilt.yaml
  sample/thumbnailer/thumbnailer.yaml.tpl
  test/conformance/route_test.go
Owners: @evankanderson, @mattmoor, @vaikas-google, @bobcatfish, @adrcunha

Update BUILD files with latest deps
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/revision/BUILD.bazel
  pkg/controller/route/BUILD.bazel
Owners: none

structure and language
  pkg/autoscaler/ROADMAP.md
Owners: none

what we are not doing
  pkg/autoscaler/ROADMAP.md
Owners: none

Update ROADMAP.md
  pkg/autoscaler/ROADMAP.md
Owners: none

Update ROADMAP.md
  pkg/autoscaler/ROADMAP.md
Owners: none

Update BUILD files with latest deps (#403)
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/revision/BUILD.bazel
  pkg/controller/route/BUILD.bazel
Owners: none

Update Roles details
  community/ROLES.md
Owners: none

Generate revision name from configuration object (#373)
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/controller.go
Owners: none

Add readyness probes to helloworld sample
  sample/helloworld/configuration.yaml
  sample/helloworld/updated_configuration.yaml
Owners: none

Import the latest Build.
  WORKSPACE
  pkg/apis/build/v1alpha1/build_types.go
Owners: @evankanderson, @mattmoor, @vaikas-google

.github/CODEOWNERS:

### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @evankanderson @mattmoor @vaikas-google

### Component-level ownerships

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs
/test/conformance/ @bobcatfish @adrcunha

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!
