Repository knative/serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-maintainers, @grantr, @tcnghia, @elafros/elafros-writers, @google/elafros-readers, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @mdemirhan, @josephburnett

Fix log collection
  DEVELOPMENT.md
  config/monitoring/101-dev/BUILD
  config/monitoring/101-dev/fluentd-configmap-dev.yaml
  config/monitoring/101-prod/BUILD
  config/monitoring/101-prod/fluentd-configmap.yaml
  config/monitoring/BUILD
  config/monitoring/README.md
Owners: none

Use unique IDs for kubetest resources under prow (#874)
  test/e2e-tests.sh
  test/library.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Update deps.
  pkg/activator/BUILD.bazel
  pkg/controller/revision/BUILD.bazel
Owners: @josephburnett, @elafros/elafros-maintainers, @mattmoor, @grantr, @tcnghia

Switch from `sed` to `perl` for substitutions.
  sample/autoscale/README.md
  sample/buildpack-app/README.md
  sample/gitwebhook/README.md
  sample/helloworld/README.md
  sample/service/README.md
  sample/steren-app/README.md
  sample/steren-function/README.md
  sample/stock-rest-app/README.md
  sample/telemetrysample/README.md
  sample/thumbnailer/README.md
Owners: @josephburnett, @elafros/elafros-maintainers

Make the sample pre-reqs link to elafros/install.
  sample/README.md
  sample/autoscale/README.md
  sample/buildpack-app/README.md
  sample/buildpack-function/README.md
  sample/gitwebhook/README.md
  sample/helloworld/README.md
  sample/pythonsimple/README.md
  sample/service/README.md
  sample/steren-app/README.md
  sample/steren-function/README.md
  sample/stock-rest-app/README.md
  sample/telemetrysample/README.md
Owners: @josephburnett, @elafros/elafros-maintainers

Remove unnecessary dep.
  Gopkg.lock
Owners: none

Address PR feedback.
  DEVELOPMENT.md
  config/monitoring/150-dev/BUILD
  config/monitoring/150-dev/fluentd-configmap-dev.yaml
  config/monitoring/150-prod/BUILD
  config/monitoring/150-prod/fluentd-configmap.yaml
  config/monitoring/BUILD
  config/monitoring/README.md
Owners: none

address cr
  pkg/controller/route/ela_istio_route.go
  pkg/controller/route/route.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Fix log collection (#877)
  DEVELOPMENT.md
  config/monitoring/150-dev/BUILD
  config/monitoring/150-dev/fluentd-configmap-dev.yaml
  config/monitoring/150-prod/BUILD
  config/monitoring/150-prod/fluentd-configmap.yaml
  config/monitoring/BUILD
  config/monitoring/README.md
Owners: none

Avoid go test caching when running conformance tests
  test/README.md
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

address cr
  pkg/controller/route/route.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Avoid go test caching when running conformance tests (#881)
  test/README.md
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Skip presubmit tests when changing only .md files
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Ignore untracked files when checking if PR is doc only
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Generates logURL for revision (#831)
  cmd/ela-controller/main.go
  config/elaconfig.yaml
  docs/spec/errors.md
  docs/spec/spec.md
  pkg/apis/ela/register.go
  pkg/apis/ela/v1alpha1/revision_types.go
  pkg/controller/revision/ela_resource.go
  pkg/controller/revision/revision.go
  pkg/controller/revision/revision_test.go
Owners: @elafros/elafros-writers, @google/elafros-readers, @elafros/elafros-maintainers, @evankanderson, @mattmoor, @vaikas-google, @grantr, @tcnghia

split /var/log/ (#875)
  third_party/config/monitoring/kubernetes/elasticsearch/fluentd-es-ds.yaml
Owners: @mdemirhan, @elafros/elafros-maintainers

More sample updates (#876)
  sample/README.md
  sample/autoscale/README.md
  sample/buildpack-app/README.md
  sample/buildpack-function/README.md
  sample/gitwebhook/README.md
  sample/helloworld/README.md
  sample/pythonsimple/README.md
  sample/service/README.md
  sample/steren-app/README.md
  sample/steren-function/README.md
  sample/stock-rest-app/README.md
  sample/telemetrysample/README.md
  sample/thumbnailer/README.md
Owners: @josephburnett, @elafros/elafros-maintainers

Add a little sleep to allow concurrent requests to land in unit test.
  pkg/activator/dedupe_test.go
Owners: @josephburnett, @elafros/elafros-maintainers

Rename DeduppingActivator as DedupingActivator.
  cmd/ela-activator/main.go
  pkg/activator/dedupe.go
  pkg/activator/dedupe_test.go
Owners: @josephburnett, @elafros/elafros-maintainers

Add Shutdown() to activators and wire into SIGTERM.
  cmd/ela-activator/main.go
  pkg/activator/activator.go
  pkg/activator/dedupe.go
  pkg/activator/dedupe_test.go
  pkg/activator/revision.go
Owners: @josephburnett, @elafros/elafros-maintainers

Link to https issue.
  cmd/ela-activator/main.go
Owners: @josephburnett, @elafros/elafros-maintainers

Remove glog
  Gopkg.lock
  Gopkg.toml
  cmd/ela-activator/BUILD.bazel
  cmd/ela-activator/main.go
  cmd/ela-autoscaler/BUILD.bazel
  cmd/ela-autoscaler/main.go
  cmd/ela-controller/BUILD.bazel
  cmd/ela-controller/main.go
  cmd/ela-queue/BUILD.bazel
  cmd/ela-queue/main.go
  cmd/ela-webhook/BUILD.bazel
  cmd/ela-webhook/main.go
  docs/telemetry.md
  pkg/activator/BUILD.bazel
  pkg/activator/activator.go
  pkg/autoscaler/BUILD.bazel
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
  pkg/client/clientset/versioned/BUILD.bazel
  pkg/client/clientset/versioned/clientset.go
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/configuration.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/ela_autoscaler.go
  pkg/controller/revision/revision.go
  pkg/controller/route/BUILD.bazel
  pkg/controller/route/ela_istio_route.go
  pkg/controller/route/route.go
  pkg/controller/service/BUILD.bazel
  pkg/controller/service/service.go
  pkg/webhook/BUILD.bazel
  pkg/webhook/certs.go
  pkg/webhook/configuration.go
  pkg/webhook/revision.go
  pkg/webhook/route.go
  pkg/webhook/service.go
  pkg/webhook/webhook.go
Owners: @josephburnett, @elafros/elafros-maintainers, @elafros/elafros-writers, @google/elafros-readers, @mattmoor, @grantr, @tcnghia

Fix pull-elafros-go-coverage-test
  pkg/activator/activator.go
  pkg/controller/route/route.go
Owners: @josephburnett, @elafros/elafros-maintainers, @mattmoor, @grantr, @tcnghia

Fix pull-elafros-elafros-test failures
  cmd/ela-controller/main.go
Owners: none

Fix pull-elafros-elafros-test
  cmd/ela-autoscaler/main.go
Owners: @josephburnett, @elafros/elafros-maintainers

Set up route rules for activator service. (#857)
  pkg/controller/names.go
  pkg/controller/route/ela_istio_route.go
  pkg/controller/route/ela_istio_route_test.go
  pkg/controller/route/route.go
  pkg/controller/route/route_test.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Skip presubmit tests when changing only .md files (#883)
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Only skip presubmit tests on presubmit job
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Show current workspace status
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Use 'git log' instead of 'git status' to list changes
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Only skip presubmit tests on presubmit job (#887)
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Remove unnecessary cast.
  pkg/activator/dedupe.go
  pkg/activator/revision.go
Owners: @josephburnett, @elafros/elafros-maintainers

Remove unnecessary function wrapping mux.Unlock().
  pkg/activator/dedupe.go
Owners: @josephburnett, @elafros/elafros-maintainers

Add boilerplate.
  pkg/activator/activator.go
  pkg/activator/dedupe.go
  pkg/activator/dedupe_test.go
  pkg/activator/revision.go
  pkg/activator/revision_test.go
Owners: @josephburnett, @elafros/elafros-maintainers

Use time.After instead of time.Sleep.
  pkg/activator/revision_test.go
Owners: @josephburnett, @elafros/elafros-maintainers

Fixes.
  cmd/ela-controller/main.go
  pkg/controller/logging/const.go
  pkg/controller/route/route.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Use http.StatusInternalServerError intead of hardcoded 500.
  pkg/activator/dedupe_test.go
  pkg/activator/revision_test.go
Owners: @josephburnett, @elafros/elafros-maintainers

Name RevisionActivator private.
  pkg/activator/revision.go
  pkg/activator/revision_test.go
Owners: @josephburnett, @elafros/elafros-maintainers

Adjust internalError signature and just return.
  pkg/activator/revision.go
Owners: @josephburnett, @elafros/elafros-maintainers

Make DedupingActivator private. Type assertions.
  pkg/activator/dedupe.go
  pkg/activator/revision.go
Owners: @josephburnett, @elafros/elafros-maintainers

.github/CODEOWNERS:

### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @elafros/elafros-maintainers

# To allow automatic PR merging by prow, update any corresponding
# OWNERS files in the relevant directories whenever CODEOWNERS is
# updated.

### Component-level ownerships
# Note that **unlike Prow OWNERS**, CODEOWNERS is not hierarchical.
# Include @elafros/elafros-maintainers on each line to allow the ToC
# to approve PRs if needed.

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google @elafros/elafros-maintainers

# API Core working group
/pkg/webhook @mattmoor @grantr @tcnghia @elafros/elafros-maintainers
/pkg/controller @mattmoor @grantr @tcnghia @elafros/elafros-maintainers

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers @elafros/elafros-maintainers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs @bobcatfish @elafros/elafros-maintainers
/test/conformance/ @bobcatfish @adrcunha @elafros/elafros-maintainers

# third_party
/third_party/ @mdemirhan @elafros/elafros-maintainers

# Scaling.
/cmd/ela-activator @josephburnett @elafros/elafros-maintainers
/cmd/ela-autoscaler @josephburnett @elafros/elafros-maintainers
/cmd/ela-queue/ @josephburnett @elafros/elafros-maintainers
/pkg/activator @josephburnett @elafros/elafros-maintainers
/pkg/autoscaler @josephburnett @elafros/elafros-maintainers
/pkg/queue @josephburnett @elafros/elafros-maintainers
/sample/autoscale @josephburnett @elafros/elafros-maintainers

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!
