Repository knative/serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-maintainers, @grantr, @tcnghia, @elafros/elafros-writers, @google/elafros-readers, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @mdemirhan, @josephburnett

Rename Ip to IP. Move error case up.
  cmd/ela-activator/main.go
  pkg/activator/activator.go
  pkg/activator/dedupe_test.go
  pkg/activator/revision.go
Owners: @josephburnett, @elafros/elafros-maintainers

Make config failures soft failures and fall back to default logging configuration in case of bad configurations.
  cmd/ela-controller/main.go
Owners: none

Docstring.
  pkg/activator/dedupe.go
Owners: @josephburnett, @elafros/elafros-maintainers

Encapsulate activator in a type (rather than global).
  cmd/ela-activator/main.go
Owners: @josephburnett, @elafros/elafros-maintainers

Update README.md
  sample/helloworld/README.md
Owners: none

Remove logging folder and put the constants under controller folder.
  pkg/controller/logging/BUILD.bazel
  pkg/controller/logging_constants.go
  pkg/controller/route/route.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Refactor common functionality in controllers into controller.go and reduce the repetition in various controllers.
  pkg/controller/BUILD.bazel
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/configuration.go
  pkg/controller/configuration/configuration_test.go
  pkg/controller/controller.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/revision.go
  pkg/controller/revision/revision_test.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

add sample apps for Elafros routing
  sample/elafros-routing/BUILD
  sample/elafros-routing/Dockerfile
  sample/elafros-routing/README.md
  sample/elafros-routing/login.yaml
  sample/elafros-routing/login_service.go
  sample/elafros-routing/search.yaml
  sample/elafros-routing/search_service.go
Owners: none

Remove `ServingState` from `RevisionTemplateSpec` requests
  pkg/apis/ela/v1alpha1/revision_types.go
Owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-maintainers

Attach logger into context and pass context around instead of the logger.
  cmd/ela-controller/main.go
  pkg/controller/route/route.go
  pkg/controller/route/route_test.go
  pkg/logging/constants.go
  pkg/logging/logger.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Fix lint errors.
  pkg/activator/activator.go
  pkg/activator/dedupe.go
  pkg/activator/dedupe_test.go
  pkg/activator/revision.go
Owners: @josephburnett, @elafros/elafros-maintainers

Update dependencies.
  pkg/controller/route/BUILD.bazel
  pkg/logging/BUILD.bazel
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Address PR comments.
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/configuration.go
  pkg/controller/configuration/configuration_test.go
  pkg/controller/controller.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/revision.go
  pkg/controller/revision/revision_test.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Remove `ServingState` from `RevisionTemplateSpec` requests (#893)
  pkg/apis/ela/v1alpha1/revision_types.go
Owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-maintainers

Documentation fixes.
  pkg/controller/controller.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Refactor the remaining two controllers.
  pkg/controller/route/BUILD.bazel
  pkg/controller/route/route.go
  pkg/controller/service/BUILD.bazel
  pkg/controller/service/service.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Address PR comments.
  cmd/ela-controller/BUILD.bazel
  cmd/ela-controller/main.go
  pkg/controller/route/route.go
  pkg/logging/BUILD.bazel
  pkg/logging/config.go
  pkg/logging/config_test.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Rename controller.ControllerBase to controller.Base based on PR feedback.
  pkg/controller/configuration/configuration.go
  pkg/controller/controller.go
  pkg/controller/revision/revision.go
  pkg/controller/route/route.go
  pkg/controller/service/service.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

addressed comments from Ville
  docs/contracts/developer-monitoring-contract.md
Owners: @elafros/elafros-writers, @google/elafros-readers, @elafros/elafros-maintainers

add activator network configuration doc
  pkg/activator/README.md
  pkg/activator/images/activator_activeRevision.png
  pkg/activator/images/activator_reserveRevision.png
  pkg/activator/images/routeTraffic.png
Owners: @josephburnett, @elafros/elafros-maintainers

update image
  pkg/activator/images/routeTraffic.png
Owners: @josephburnett, @elafros/elafros-maintainers

update
  pkg/activator/README.md
Owners: @josephburnett, @elafros/elafros-maintainers

temporary debug
  pkg/controller/route/ela_istio_route.go
  sample/elafros-routing/entry.yaml
  third_party/istio-0.6.0/install/kubernetes/BUILD.bazel
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers, @mdemirhan

Drop Bazel from e2e-tests.sh
  test/e2e-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Refactor activator (#878)
  cmd/ela-activator/BUILD.bazel
  cmd/ela-activator/main.go
  pkg/activator/BUILD.bazel
  pkg/activator/activator.go
  pkg/activator/activator_test.go
  pkg/activator/dedupe.go
  pkg/activator/dedupe_test.go
  pkg/activator/revision.go
  pkg/activator/revision_test.go
  pkg/controller/revision/BUILD.bazel
Owners: @josephburnett, @elafros/elafros-maintainers, @mattmoor, @grantr, @tcnghia

add the orders for fluent config files
  config/monitoring/150-dev/fluentd-configmap-dev.yaml
  config/monitoring/150-prod/fluentd-configmap.yaml
Owners: none

Use json field `type` for Type instead of `state`
  pkg/apis/ela/v1alpha1/route_types.go
  pkg/apis/ela/v1alpha1/service_types.go
Owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-maintainers

Also ignore .png files on presubmit
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Use json field `type` for Type instead of `state` (#902)
  pkg/apis/ela/v1alpha1/route_types.go
  pkg/apis/ela/v1alpha1/service_types.go
Owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-maintainers

Also ignore .png files on presubmit (#901)
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

moved fluentd sidecar output config to ela config map
  cmd/ela-controller/main.go
  config/elaconfig.yaml
  pkg/controller/revision/ela_fluentd.go
  pkg/controller/revision/revision.go
  pkg/controller/revision/revision_test.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

extacted a method
  pkg/controller/revision/ela_fluentd.go
  pkg/controller/revision/revision_test.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

Explicitly check changes from current commit on presubmit
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Refactor common functionality in controllers (#892)
  pkg/controller/BUILD.bazel
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/configuration.go
  pkg/controller/controller.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/revision.go
  pkg/controller/route/BUILD.bazel
  pkg/controller/route/route.go
  pkg/controller/service/BUILD.bazel
  pkg/controller/service/service.go
Owners: @mattmoor, @grantr, @tcnghia, @elafros/elafros-maintainers

add the orders for fluent config files (#899)
  config/monitoring/150-dev/fluentd-configmap-dev.yaml
  config/monitoring/150-prod/fluentd-configmap.yaml
Owners: none

Explicitly check changes from current commit on presubmit (#905)
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

Use a list for files that don't require presubmit tests
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

add Ingress and RouteRule to route request according to uri
  sample/elafros-routing/entry.yaml
Owners: none

Update comment and message.
  test/presubmit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @elafros/elafros-maintainers

address cr
  pkg/activator/README.md
  pkg/activator/images/activator_activeRevision.png
  pkg/activator/images/activator_reserveRevision.png
Owners: @josephburnett, @elafros/elafros-maintainers

.github/CODEOWNERS:

### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @elafros/elafros-maintainers

# To allow automatic PR merging by prow, update any corresponding
# OWNERS files in the relevant directories whenever CODEOWNERS is
# updated.

### Component-level ownerships
# Note that **unlike Prow OWNERS**, CODEOWNERS is not hierarchical.
# Include @elafros/elafros-maintainers on each line to allow the ToC
# to approve PRs if needed.

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google @elafros/elafros-maintainers

# API Core working group
/pkg/webhook @mattmoor @grantr @tcnghia @elafros/elafros-maintainers
/pkg/controller @mattmoor @grantr @tcnghia @elafros/elafros-maintainers

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers @elafros/elafros-maintainers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs @bobcatfish @elafros/elafros-maintainers
/test/conformance/ @bobcatfish @adrcunha @elafros/elafros-maintainers

# third_party
/third_party/ @mdemirhan @elafros/elafros-maintainers

# Scaling.
/cmd/ela-activator @josephburnett @elafros/elafros-maintainers
/cmd/ela-autoscaler @josephburnett @elafros/elafros-maintainers
/cmd/ela-queue/ @josephburnett @elafros/elafros-maintainers
/pkg/activator @josephburnett @elafros/elafros-maintainers
/pkg/autoscaler @josephburnett @elafros/elafros-maintainers
/pkg/queue @josephburnett @elafros/elafros-maintainers
/sample/autoscale @josephburnett @elafros/elafros-maintainers

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!
