Repository knative/serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-writers, @google/elafros-readers, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish

.github/CODEOWNERS:

### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @evankanderson @mattmoor @vaikas-google

### Component-level ownerships

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs
/test/conformance/ @bobcatfish @adrcunha

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!

address some more comments
  pkg/controller/configuration/controller.go
  pkg/controller/revision/controller_test.go
  pkg/controller/route/controller.go
Owners: none

fix tests
  pkg/controller/configuration/controller_test.go
  pkg/controller/route/controller_test.go
Owners: none

Explain how prow is used in the elafros development workflow.
  CONTRIBUTING.md
  DEVELOPMENT.md
Owners: none

Remove test/unit-tests.sh.
  test/README.md
  test/unit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs

Remove test/unit-tests.sh. (#369)
  test/README.md
  test/unit-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs

Added issue and PR tempaltes (#371)
  docs/issue-template.md
  docs/pull-request-template.md
Owners: @elafros/elafros-writers, @google/elafros-readers

Moved PR and Issue templates to .github
  .github/issue-template.md
  .github/pull-request-template.md
Owners: none

Added issue and PR templates (#371) (#372)
  .github/issue-template.md
  .github/pull-request-template.md
Owners: none

fix typo
  pkg/controller/revision/controller.go
Owners: none

Adds events for route (#358)
  pkg/controller/configuration/controller.go
  pkg/controller/configuration/controller_test.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/controller.go
  pkg/controller/revision/controller_test.go
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none

Documentation fixes.
  sample/telemetrysample/telemetrysample.go
Owners: none

Spelling fix.
  sample/telemetrysample/telemetrysample.go
Owners: none

Generate revision name from configuration object
  pkg/controller/configuration/controller.go
Owners: none

Removes stale uuid dependency
  pkg/controller/configuration/BUILD.bazel
Owners: none

Updates stale comment for generateRevisionName
  pkg/controller/configuration/controller.go
Owners: none

Use elafros-related names for the conformance test images.
  test/conformance/route_test.go
  test/conformance/upload-test-images.sh
Owners: @bobcatfish, @adrcunha

Change the error messages used by the configuration validation webhook.
  pkg/webhook/configuration.go
  pkg/webhook/webhook.go
Owners: none

Canonical fast ramp wrk-based load test.
  sample/autoscale/README.md
Owners: none

Add kdt3 copied from github.com/josephburnett/kdt3 and sample game.
  sample/autoscale/kdt3/app/game.go
  sample/autoscale/kdt3/app/handler.go
  sample/autoscale/kdt3/engine/move.go
  sample/autoscale/kdt3/engine/win.go
  sample/autoscale/kdt3/engine/win_test.go
  sample/autoscale/kdt3/model/identifier.go
  sample/autoscale/kdt3/model/model.go
  sample/autoscale/kdt3/model/model_test.go
  sample/autoscale/kdt3/resources/.#game.json
  sample/autoscale/kdt3/resources/game.json
  sample/autoscale/kdt3/view/game.go
  sample/autoscale/kdt3/view/template.go
Owners: none

Load game file from GCS. Build with Bazel.
  sample/autoscale/kdt3/BUILD
  sample/autoscale/kdt3/app/BUILD.bazel
  sample/autoscale/kdt3/configuration.yaml
  sample/autoscale/kdt3/engine/BUILD.bazel
  sample/autoscale/kdt3/gcs/BUILD.bazel
  sample/autoscale/kdt3/gcs/gcs.go
  sample/autoscale/kdt3/main.go
  sample/autoscale/kdt3/model/BUILD.bazel
  sample/autoscale/kdt3/route.yaml
  sample/autoscale/kdt3/view/BUILD.bazel
Owners: none

Update autoscale sample README to run kdt3 app.
  sample/autoscale/README.md
Owners: none

Modify game load to read JSON game file.
  sample/autoscale/kdt3/app/game.go
  sample/autoscale/kdt3/app/handler.go
  sample/autoscale/kdt3/model/model.go
  sample/autoscale/kdt3/resources/.#game.json
  sample/autoscale/kdt3/resources/game.json
  sample/autoscale/kdt3/view/game.go
Owners: none

Move AddToScheme to pkg/controller
  pkg/controller/BUILD.bazel
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/controller.go
  pkg/controller/controller.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/controller.go
  pkg/controller/route/BUILD.bazel
  pkg/controller/route/controller.go
Owners: none

Remove extra filename.
  .gitignore
  sample/autoscale/README.md
Owners: none

Call AddToScheme in init() instead of during Controller creation (#365)
  pkg/controller/BUILD.bazel
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/controller.go
  pkg/controller/controller.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/controller.go
  pkg/controller/route/BUILD.bazel
  pkg/controller/route/controller.go
Owners: none

Change the error messages used by the configuration validation webhook. (#378)
  pkg/webhook/configuration.go
  pkg/webhook/webhook.go
Owners: none

Rewrite test to call syncHandler directly
  pkg/controller/configuration/controller_test.go
Owners: none

DomainSuffix should be a Route controller configuration.
  controller.yaml
  pkg/apis/ela/v1alpha1/route_types.go
  pkg/controller/route/controller.go
  pkg/controller/route/ela_ingress.go
  sample/autoscale/README.md
  sample/autoscale/route.yaml
  sample/buildpack-app/README.md
  sample/buildpack-app/route.yaml
  sample/gitwebhook/README.md
  sample/gitwebhook/route.yaml
  sample/helloworld/README.md
  sample/helloworld/route.yaml
  sample/private-repos/README.md
  sample/private-repos/manifest.yaml
  sample/steren-app/README.md
  sample/steren-app/route.yaml
  sample/steren-function/README.md
  sample/steren-function/route.yaml
  sample/telemetrysample/README.md
  sample/telemetrysample/route.yaml
  sample/thumbnailer/README.md
  sample/thumbnailer/thumbnailer-prebuilt.yaml
  sample/thumbnailer/thumbnailer.yaml.tpl
  test/conformance/request.go
  test/conformance/route_test.go
Owners: @evankanderson, @mattmoor, @vaikas-google, @bobcatfish, @adrcunha

Inlining variable, per CR feedback.
  pkg/controller/route/ela_ingress.go
Owners: none

Update Route.Status.Domain with the domain.
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
  pkg/controller/route/ela_ingress.go
  sample/autoscale/README.md
  sample/buildpack-app/README.md
  sample/helloworld/README.md
  sample/private-repos/README.md
  sample/steren-app/README.md
  sample/steren-function/README.md
  sample/telemetrysample/README.md
  sample/thumbnailer/README.md
  test/conformance/request.go
  test/conformance/route_test.go
Owners: @bobcatfish, @adrcunha

Realign example output
  sample/steren-app/README.md
  sample/steren-function/README.md
Owners: none

Move TODO line back to where it should be
  test/conformance/route_test.go
Owners: @bobcatfish, @adrcunha

Fix unit tests
  pkg/webhook/route_test.go
  pkg/webhook/webhook_test.go
Owners: none

Read DomainSuffix a ConfigMap.
  BUILD
  cmd/ela-controller/main.go
  controller.yaml
  elaconfig.yaml
  pkg/controller/BUILD.bazel
  pkg/controller/config.go
  pkg/controller/config_test.go
  pkg/controller/configuration/controller.go
  pkg/controller/configuration/controller_test.go
  pkg/controller/controller.go
  pkg/controller/names.go
  pkg/controller/revision/controller.go
  pkg/controller/revision/controller_test.go
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none

Correct polarity of test conditions
  pkg/controller/configuration/controller_test.go
Owners: none

Add comments per PR feedback.
  pkg/controller/config.go
Owners: none

Fix json annotation based on PR feedback.
  pkg/controller/config.go
Owners: none

Convert remaining tests to use stopped controllers
  pkg/controller/configuration/controller_test.go
Owners: none

Use http.RoundTripper to inject open tracing headers.
  sample/telemetrysample/telemetrysample.go
Owners: none

Additional documentation.
  sample/telemetrysample/telemetrysample.go
Owners: none
