Repository knative/serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evankanderson, @mattmoor, @vaikas-google, @ImJasonH, @grantr, @tcnghia, @elafros/elafros-writers, @google/elafros-readers, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish, @mdemirhan

.github/CODEOWNERS:

### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @evankanderson @mattmoor @vaikas-google

# To allow automatic PR merging by prow, update any corresponding
# OWNERS files in the relevant directories whenever CODEOWNERS is
# updated.

### Component-level ownerships

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google

# Build API (imported from elafros/build)
/pkg/apis/build @mattmoor @ImJasonH

# API Core working group
/pkg/webhook @mattmoor @grantr @tcnghia
/pkg/controller @mattmoor @grantr @tcnghia

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs @bobcatfish
/test/conformance/ @bobcatfish @adrcunha

# third_party
/third_party/ @evankanderson @mattmoor @vaikas-google @mdemirhan

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!

Fix added test that was failing in merge.
  pkg/controller/revision/revision.go
  pkg/controller/revision/revision_test.go
Owners: @mattmoor, @grantr, @tcnghia

Remove github.com/evanphx/json-patch dependency
  Gopkg.lock
  test/conformance/BUILD.bazel
  test/conformance/patch.go
  test/conformance/route_test.go
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/BUILD.bazel
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
Owners: @bobcatfish, @adrcunha

Remove github.com/evanphx/json-patch dependency (#731)
  Gopkg.lock
  test/conformance/BUILD.bazel
  test/conformance/patch.go
  test/conformance/route_test.go
  vendor/github.com/evanphx/json-patch/.travis.yml
  vendor/github.com/evanphx/json-patch/BUILD.bazel
  vendor/github.com/evanphx/json-patch/LICENSE
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/merge.go
  vendor/github.com/evanphx/json-patch/patch.go
Owners: @bobcatfish, @adrcunha

updated Events working group (#747)
  community/WORKING-GROUPS.md
Owners: none

Stop swallowing autoscale curl output
  test/e2e-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish

Rerun update-codegen.sh
  Gopkg.lock
  pkg/controller/route/BUILD.bazel
  third_party/config/monitoring/kubernetes/elasticsearch/BUILD
  third_party/config/monitoring/prometheus-operator/node-exporter/BUILD
Owners: @mattmoor, @grantr, @tcnghia, @evankanderson, @vaikas-google, @mdemirhan

rewords
  docs/contracts/developer-monitoring-contract.md
Owners: @elafros/elafros-writers, @google/elafros-readers

resolve some nit
  docs/contracts/developer-monitoring-contract.md
Owners: @elafros/elafros-writers, @google/elafros-readers

Initial version of developer monitoring contract
  docs/contracts/developer-monitoring-contract.md
Owners: @elafros/elafros-writers, @google/elafros-readers

added referer and useragent for request logs
  docs/contracts/developer-monitoring-contract.md
Owners: @elafros/elafros-writers, @google/elafros-readers

removed prefiex for referer and useragent
  docs/contracts/developer-monitoring-contract.md
Owners: @elafros/elafros-writers, @google/elafros-readers

reword
  docs/contracts/developer-monitoring-contract.md
Owners: @elafros/elafros-writers, @google/elafros-readers

Only send first request for activation.
  pkg/activator/activator.go
  pkg/activator/revision.go
Owners: none

Stop swallowing autoscale curl output (#754)
  test/e2e-tests.sh
Owners: @adrcunha, @srinivashegde86, @steuhs, @bobcatfish

Use revision-level concurrency model.
  cmd/ela-autoscaler/main.go
  elaconfig.yaml
  pkg/controller/revision/ela_autoscaler.go
  pkg/webhook/configuration.go
Owners: @mattmoor, @grantr, @tcnghia

Also need to update conformance test
  test/conformance/route_test.go
Owners: @bobcatfish, @adrcunha

Updates buildpack template to not use docker
  sample/templates/buildpack.yaml
Owners: none

Fix build errors.
  pkg/activator/BUILD.bazel
  pkg/activator/activator.go
  pkg/activator/proxy.go
  pkg/activator/revision.go
Owners: none

Activator test stub.
  pkg/activator/activator_test.go
Owners: none

added a python simple app
  WORKSPACE
  sample/helloworld/README.md
  sample/pythonsimple/BUILD
  sample/pythonsimple/README.md
  sample/pythonsimple/configuration.yaml
  sample/pythonsimple/main.py
  sample/pythonsimple/requirements.txt
  sample/pythonsimple/route.yaml
Owners: none

change //sample/README
  sample/README.md
  sample/pythonsimple/README.md
Owners: none

fix the path in readme
  sample/pythonsimple/README.md
Owners: none

Make all Conditions positive terminating conditions (#733)
  Gopkg.lock
  docs/spec/errors.md
  pkg/apis/ela/v1alpha1/revision_types.go
  pkg/apis/ela/v1alpha1/revision_types_test.go
  pkg/apis/ela/v1alpha1/route_types.go
  pkg/apis/ela/v1alpha1/service_types.go
  pkg/client/informers/externalversions/ela/interface.go
  pkg/client/informers/externalversions/istio/interface.go
  pkg/controller/revision/revision.go
  pkg/controller/revision/revision_test.go
  pkg/controller/route/BUILD.bazel
  test/conformance/route_test.go
  third_party/config/monitoring/kubernetes/elasticsearch/BUILD
  third_party/config/monitoring/prometheus-operator/node-exporter/BUILD
Owners: @elafros/elafros-writers, @google/elafros-readers, @evankanderson, @mattmoor, @vaikas-google, @grantr, @tcnghia, @bobcatfish, @adrcunha, @mdemirhan

* Performance debugging guide * Autoscaler dashboards
  Gopkg.lock
  cmd/ela-autoscaler/BUILD.bazel
  cmd/ela-autoscaler/main.go
  config/monitoring/grafana-dashboard-defs/elafros.yaml
  config/monitoring/prometheus-servicemonitor/BUILD
  config/monitoring/prometheus-servicemonitor/ela-autoscaler.yaml
  docs/debugging/images/request_dashboard1.png
  docs/debugging/performance-investigation-guide.md
  pkg/autoscaler/BUILD.bazel
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
  pkg/autoscaler/stats_reporter.go
  pkg/autoscaler/stats_reporter_test.go
  pkg/controller/revision/ela_autoscaler.go
  pkg/controller/revision/revision_test.go
  pkg/controller/route/BUILD.bazel
  third_party/config/monitoring/kubernetes/elasticsearch/BUILD
  third_party/config/monitoring/prometheus-operator/node-exporter/BUILD
Owners: @elafros/elafros-writers, @google/elafros-readers, @mattmoor, @grantr, @tcnghia, @evankanderson, @vaikas-google, @mdemirhan

Document the deploy.sh script and Elafros environments
  hack/ENVIRONMENTS.md
Owners: none

add a cleanup kind to the issue template
  .github/issue-template.md
Owners: none

Add Route labels for active Revision traffic targets Fixes #697
  pkg/controller/route/route.go
  pkg/controller/route/route_test.go
Owners: @mattmoor, @grantr, @tcnghia

updated eventing slack channel and modified WG meeting time
  community/WORKING-GROUPS.md
Owners: none
