Repository knative/serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-writers, @google/elafros-readers, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish

.github/CODEOWNERS:

### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @evankanderson @mattmoor @vaikas-google

### Component-level ownerships

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs
/test/conformance/ @bobcatfish @adrcunha

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!

Address PR comments.
  config/monitoring/BUILD
  config/monitoring/common/BUILD
  config/monitoring/elasticsearch/BUILD
  config/monitoring/elasticsearch/clusterrole.yaml
  config/monitoring/elasticsearch/clusterrolebinding.yaml
  config/monitoring/elasticsearch/serviceaccount.yaml
  config/monitoring/elasticsearch/statefulset.yaml
  config/monitoring/fluentd/BUILD
  config/monitoring/grafana-dashboard-defs/BUILD
  config/monitoring/grafana/BUILD
  config/monitoring/kibana/BUILD
  config/monitoring/namespace.yaml
  config/monitoring/prometheus-exporter/BUILD
  config/monitoring/prometheus-servicemonitor/BUILD
Owners: none

Some notes on GKE and registry docs (#296)
  docs/creating-a-kubernetes-cluster.md
  docs/setting-up-a-docker-registry.md
Owners: @elafros/elafros-writers, @google/elafros-readers

simplify the message
  pkg/controller/configuration/controller.go
Owners: none

remove extral string
  pkg/controller/configuration/controller.go
Owners: none

Adds events for revision and configuration (#320)
  pkg/controller/configuration/controller.go
  pkg/controller/revision/controller.go
Owners: none

s/customer/user/g
  pkg/autoscaler/README.md
Owners: none

define concurrency generally, not per pod
  pkg/autoscaler/README.md
Owners: none

tweaks
  pkg/autoscaler/README.md
Owners: none

Autoscaling documentation (#306)
  pkg/autoscaler/README.md
Owners: none

Double pushing istio rules as a workaround for an istio issue.
  config/monitoring/BUILD
  config/monitoring/fluentd/BUILD
Owners: none

Convert test to call syncHandler directly
  pkg/controller/configuration/controller_test.go
Owners: none

Minor changes on the ordering of the installation.
  config/monitoring/fluentd/BUILD
Owners: none

Clean up test a bit
  pkg/controller/configuration/controller_test.go
Owners: none

Rewrite test to not use hooks
  pkg/controller/configuration/controller_test.go
Owners: none

Rewrite test to not use hooks
  pkg/controller/configuration/controller_test.go
Owners: none

Correct typo in error message.
  pkg/controller/configuration/controller.go
Owners: none

No need to call syncHandler
  pkg/controller/configuration/controller_test.go
Owners: none

Move informer add to Create
  pkg/controller/configuration/controller_test.go
Owners: none

Update test deps
  pkg/controller/configuration/BUILD.bazel
Owners: none

fix typo
  pkg/controller/configuration/controller_test.go
Owners: none

Do not update configuration is LatestReadyRevisionName is up to date (#329)
  pkg/apis/ela/v1alpha1/configuration_types.go
  pkg/apis/ela/v1alpha1/configuration_types_test.go
  pkg/controller/configuration/BUILD.bazel
  pkg/controller/configuration/controller.go
  pkg/controller/configuration/controller_test.go
Owners: @evankanderson, @mattmoor, @vaikas-google

add events
  pkg/controller/route/controller.go
Owners: none

change events in test
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none

add test for invalide configuration
  pkg/controller/route/controller_test.go
Owners: none

Move ServiceType to annotations.
  pkg/apis/ela/v1alpha1/route_types.go
  sample/autoscale/configuration.yaml
  sample/buildpack-app/configuration.yaml.tpl
  sample/gitwebhook/configuration.yaml
  sample/helloworld/configuration.yaml
  sample/helloworld/updated_configuration.yaml
  sample/private-repos/manifest.yaml
  sample/steren-app/configuration.yaml.tpl
  sample/steren-function/configuration.yaml.tpl
  sample/telemetrysample/configuration.yaml
  sample/thumbnailer/thumbnailer-prebuilt.yaml
  sample/thumbnailer/thumbnailer.yaml.tpl
Owners: @evankanderson, @mattmoor, @vaikas-google

Move ServiceType to annotations. (#353)
  pkg/apis/ela/v1alpha1/route_types.go
  sample/autoscale/configuration.yaml
  sample/buildpack-app/configuration.yaml.tpl
  sample/gitwebhook/configuration.yaml
  sample/helloworld/configuration.yaml
  sample/helloworld/updated_configuration.yaml
  sample/private-repos/manifest.yaml
  sample/steren-app/configuration.yaml.tpl
  sample/steren-function/configuration.yaml.tpl
  sample/telemetrysample/configuration.yaml
  sample/thumbnailer/thumbnailer-prebuilt.yaml
  sample/thumbnailer/thumbnailer.yaml.tpl
Owners: @evankanderson, @mattmoor, @vaikas-google

Remove unused sleep method.
  sample/telemetrysample/telemetrysample.go
Owners: none

Remove feature lifecycle docs for now
  community/FEATURE-LIFECYCLE-CHECKLIST.md
  community/FEATURE-LIFECYCLE.md
  community/README.md
Owners: none

add tests for revision and configuraiton
  pkg/controller/configuration/controller_test.go
  pkg/controller/revision/controller_test.go
Owners: none

Format markdown consistently
  community/CODE-OF-CONDUCT.md
  community/CONTRIBUTING.md
  community/README.md
  community/REVIEWING.md
  community/ROLES.md
  community/TECH-OVERSIGHT-COMMITTEE.md
  community/VALUES.md
  community/WORKING-GROUP-PROCESSES.md
  community/WORKING-GROUPS.md
Owners: none

Rename ContainerSpec to just Container.
  pkg/apis/ela/v1alpha1/revision_types.go
  pkg/apis/ela/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/configuration/controller_test.go
  pkg/controller/revision/controller_test.go
  pkg/controller/revision/ela_pod.go
  pkg/controller/route/controller_test.go
  pkg/webhook/configuration.go
  pkg/webhook/configuration_test.go
  pkg/webhook/webhook_test.go
  sample/autoscale/configuration.yaml
  sample/buildpack-app/configuration.yaml.tpl
  sample/gitwebhook/configuration.yaml
  sample/helloworld/configuration.yaml
  sample/helloworld/updated_configuration.yaml
  sample/private-repos/manifest.yaml
  sample/steren-app/configuration.yaml.tpl
  sample/steren-function/configuration.yaml.tpl
  sample/telemetrysample/configuration.yaml
  sample/thumbnailer/thumbnailer-prebuilt.yaml
  sample/thumbnailer/thumbnailer.yaml.tpl
  test/conformance/route_test.go
Owners: @evankanderson, @mattmoor, @vaikas-google, @bobcatfish, @adrcunha

Replace elafros/community with elafros/elafros
  community/REVIEWING.md
  community/ROLES.md
  community/TECH-OVERSIGHT-COMMITTEE.md
  community/WORKING-GROUP-PROCESSES.md
Owners: none

add mark revision ready tests
  pkg/controller/configuration/controller_test.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/controller_test.go
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none

Clarify maintainers means TOC in CoC
  community/CODE-OF-CONDUCT.md
Owners: none

Remove mentions of elafros.dev until it exists
  community/CONTRIBUTING.md
  community/README.md
Owners: none

send create service event for the first time
  pkg/controller/route/controller.go
Owners: none

Note that design docs are aspirational
  community/CONTRIBUTING.md
Owners: none

Link to mentioned previous section
  community/CONTRIBUTING.md
Owners: none

combine if
  pkg/controller/route/controller.go
Owners: none

Extra documentation.
  config/monitoring/zipkin/service.yaml
  sample/telemetrysample/telemetrysample.go
Owners: none
