Repository knative/serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-writers, @google/elafros-readers, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish

.github/CODEOWNERS:

### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @evankanderson @mattmoor @vaikas-google

### Component-level ownerships

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs
/test/conformance/ @bobcatfish @adrcunha

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!

testing
  sample/coverage-app/BUILD
  sample/coverage-app/README.md
  sample/coverage-app/configuration.yaml.tpl
  sample/coverage-app/route.yaml
Owners: none

delete unused package
  pkg/controller/configuration/controller.go
  pkg/controller/configuration/controller_test.go
Owners: none

remove comment
  pkg/controller/configuration/controller.go
Owners: none

testing
  sample/coverage-app/index.js
Owners: none

rename test functions
  pkg/controller/configuration/controller_test.go
Owners: none

testing
  sample/coverage-app/app/index.js
Owners: none

Focus the main docs, move Bazel stuff to DEVELOPMENT.md
  DEVELOPMENT.md
  README.md
Owners: none

Focus the main docs, move Bazel stuff to DEVELOPMENT.md (#330)
  DEVELOPMENT.md
  README.md
Owners: none

Update the rules_docker/k8s deps.
  Gopkg.lock
  Gopkg.toml
  WORKSPACE
  vendor/k8s.io/code-generator/CONTRIBUTING.md
  vendor/k8s.io/code-generator/cmd/client-gen/main.go
  vendor/k8s.io/code-generator/cmd/deepcopy-gen/main.go
  vendor/k8s.io/code-generator/cmd/defaulter-gen/main.go
  vendor/k8s.io/code-generator/cmd/informer-gen/main.go
  vendor/k8s.io/code-generator/cmd/lister-gen/main.go
Owners: none

Updates webhook configuration diagnose-me check
  scripts/diagnose-me.sh
Owners: none

increase node cpu count to 4
  docs/creating-a-kubernetes-cluster.md
Owners: @elafros/elafros-writers, @google/elafros-readers

Print workspace status to fail if required vars are empty.
  print-workspace-status.sh
Owners: none

Use the correct Route label key to check if route name has been set in the label of configuration.
  pkg/controller/route/controller.go
Owners: none

1. Add the corresponding test 2. Reset the author email to Google email address.
  pkg/controller/route/controller_test.go
Owners: none

Ask user to also run bazel clean.
  print-workspace-status.sh
Owners: none

Addressing code review comments: Moved each folder to its own BUILD file.
  config/monitoring/BUILD
  config/monitoring/common/BUILD
  config/monitoring/elasticsearch/BUILD
  config/monitoring/elasticsearch/service.yaml
  config/monitoring/elasticsearch/statefulset.yaml
  config/monitoring/fluentd/BUILD
  config/monitoring/fluentd/configmap-dev.yaml
  config/monitoring/fluentd/configmap.yaml
  config/monitoring/fluentd/ds.yaml
  config/monitoring/fluentd/istio.yaml
  config/monitoring/fluentd/service.yaml
  config/monitoring/grafana-dashboard-defs/BUILD
  config/monitoring/grafana/BUILD
  config/monitoring/kibana/BUILD
  config/monitoring/kibana/deployment.yaml
  config/monitoring/kibana/service.yaml
  config/monitoring/prometheus-exporter/BUILD
  config/monitoring/prometheus-operator/BUILD
  config/monitoring/prometheus-servicemonitor/BUILD
  config/monitoring/prometheus/BUILD
  docs/telemetry.md
Owners: @elafros/elafros-writers, @google/elafros-readers

Bump polling timeout from 1 to 2 minutes.
  test/conformance/crd_polling.go
Owners: @bobcatfish, @adrcunha

Also fail the build step if K8S_USER_OVERRIDE is unset.
  BUILD.istio
Owners: none

Use the correct Route label key to check if route name has been set (#319)
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none

Add build rules and instructions for enabling Istio sidecar injection (#278)
  BUILD.ca_bundle
  BUILD.istio
  DEVELOPMENT.md
  README.md
  WORKSPACE
  ca_bundle.bzl
  istio.bzl
  pkg/controller/revision/ela_autoscaler.go
  pkg/controller/revision/ela_pod.go
Owners: none

More descriptive message when K8S_USER_OVERRIDE is unset or empty. (#337)
  BUILD.istio
  print-workspace-status.sh
Owners: none

Fix typo
  BUILD.istio
Owners: none

improve test
  pkg/apis/ela/v1alpha1/configuration_types.go
  pkg/controller/configuration/controller_test.go
Owners: @evankanderson, @mattmoor, @vaikas-google

tweaks
  pkg/autoscaler/README.md
Owners: none

definitions
  pkg/autoscaler/README.md
Owners: none

Fix typo (#340)
  BUILD.istio
Owners: none

Update error message for new field names.
  pkg/webhook/route.go
Owners: none

Bump polling timeout from 1 to 2 minutes. (#338)
  test/conformance/crd_polling.go
Owners: @bobcatfish, @adrcunha

Add a note about why this machine type
  docs/creating-a-kubernetes-cluster.md
Owners: @elafros/elafros-writers, @google/elafros-readers

Remove nginx proxy.
  BUILD
  cmd/ela-autoscaler/main.go
  cmd/ela-queue/main.go
  controller-service.yaml
  controller.yaml
  pkg/controller/names.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/controller.go
  pkg/controller/revision/controller_test.go
  pkg/controller/revision/ela_nginx.go
  pkg/controller/revision/ela_nginx_constants.go
  pkg/controller/revision/ela_pod.go
  pkg/controller/revision/ela_service.go
  pkg/webhook/route.go
  sample/helloworld/BUILD
  sample/helloworld/README.md
  sample/helloworld/configuration.yaml
  sample/helloworld/helloworld.go
Owners: none

Increase default node cpu size from 1 to 4. (#335)
  docs/creating-a-kubernetes-cluster.md
Owners: @elafros/elafros-writers, @google/elafros-readers

Update error message for new field names. (#342)
  pkg/webhook/route.go
Owners: none

Add Istio community docs
  community/CONTRIBUTING.md
  community/FEATURE-LIFECYCLE-CHECKLIST.md
  community/FEATURE-LIFECYCLE.md
  community/README.md
  community/REVIEWING.md
  community/ROLES.md
  community/TECH-OVERSIGHT-COMMITTEE.md
  community/VALUES.md
  community/WORKING-GROUP-PROCESSES.md
  community/WORKING-GROUPS.md
Owners: none

Update community docs for Elafros
  community/CODE-OF-CONDUCT.md
  community/CONTRIBUTING.md
  community/FEATURE-LIFECYCLE-CHECKLIST.md
  community/FEATURE-LIFECYCLE.md
  community/README.md
  community/REVIEWING.md
  community/ROLES.md
  community/STEERING-COMMITTEE.md
  community/TECH-OVERSIGHT-COMMITTEE.md
  community/VALUES.md
  community/WORKING-GROUP-PROCESSES.md
  community/WORKING-GROUPS.md
Owners: none

Point to new community docs
  CONTRIBUTING.md
Owners: none

Initial set of OWNERS file.
  OWNERS
  pkg/apis/OWNERS
  test/OWNERS
  test/conformance/OWNERS
Owners: @evankanderson, @mattmoor, @vaikas-google, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish

Remove nginx proxy. (#343)
  BUILD
  cmd/ela-autoscaler/main.go
  cmd/ela-queue/main.go
  controller-service.yaml
  controller.yaml
  pkg/controller/names.go
  pkg/controller/revision/BUILD.bazel
  pkg/controller/revision/controller.go
  pkg/controller/revision/controller_test.go
  pkg/controller/revision/ela_nginx.go
  pkg/controller/revision/ela_nginx_constants.go
  pkg/controller/revision/ela_pod.go
  pkg/controller/revision/ela_service.go
  sample/helloworld/BUILD
  sample/helloworld/README.md
  sample/helloworld/configuration.yaml
  sample/helloworld/helloworld.go
Owners: none

split events
  pkg/controller/configuration/controller.go
Owners: none

change message
  pkg/controller/configuration/controller.go
Owners: none

add breaks
  pkg/controller/configuration/controller.go
Owners: none
