Repository knative/serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evankanderson, @mattmoor, @vaikas-google, @elafros/elafros-writers, @google/elafros-readers, @adrcunha, @srinivashegde86, @steuhs, @bobcatfish

.github/CODEOWNERS:

### KEEP THIS FIRST, LAST RULE WINS!
# Default ownership until delegated
# * @evankanderson @mattmoor @vaikas-google

### Component-level ownerships

# API governance.
/pkg/apis @evankanderson @mattmoor @vaikas-google

# All groups can review docs.
/docs/ @elafros/elafros-writers @google/elafros-readers

# Tests.
/test/ @adrcunha @srinivashegde86 @steuhs
/test/conformance/ @bobcatfish @adrcunha

### To request CODEOWNERS on a subdirectory, propose it above
### in a PR to the below maintainers.
/.github/CODEOWNERS @evankanderson @mattmoor @vaikas-google
### KEEP THIS LAST, LAST RULE WINS!

Also post execution plan to the feature issue
  community/CONTRIBUTING.md
Owners: none

Documentation updates.
  sample/telemetrysample/telemetrysample.go
Owners: none

Specify exception for WIP PRs
  community/CONTRIBUTING.md
Owners: none

Link to CoC at top of README
  community/README.md
Owners: none

Clarify that Elafros means serverless
  community/README.md
Owners: none

Replace community meetings with Slack for now
  community/README.md
Owners: none

Link directly to slack instead of header
  community/README.md
Owners: none

Add slack section to TOC
  community/README.md
Owners: none

Link to CoC from reviewing docs
  community/REVIEWING.md
Owners: none

Active PRs must pass tests and not be WIP
  community/REVIEWING.md
Owners: none

Wrap long lines in the roles table
  community/ROLES.md
Owners: none

Clarify members may participate in WG meetings
  community/ROLES.md
Owners: none

Link to Approver section from Member
  community/ROLES.md
Owners: none

Use complete sentences
  community/ROLES.md
Owners: none

No OWNERS files, just CODEOWNERS
  community/ROLES.md
Owners: none

Remove Vendor role description
  community/ROLES.md
Owners: none

Comment Admin elafros.dev responsibilities
  community/ROLES.md
Owners: none

Use relative links
  community/TECH-OVERSIGHT-COMMITTEE.md
Owners: none

Add a TODO link to meeting notes
  community/TECH-OVERSIGHT-COMMITTEE.md
Owners: none

Community meeting isn't scheduled yet
  community/TECH-OVERSIGHT-COMMITTEE.md
Owners: none

Add initial TOC members
  community/TECH-OVERSIGHT-COMMITTEE.md
Owners: none

Clarify how WGs are dissolved
  community/WORKING-GROUP-PROCESSES.md
Owners: none

Relax org representation requirement in WGs
  community/WORKING-GROUP-PROCESSES.md
Owners: none

Point to WG processes doc for creation info
  community/WORKING-GROUPS.md
Owners: none

More documentation.
  docs/telemetry.md
  sample/telemetrysample/telemetrysample.go
Owners: @elafros/elafros-writers, @google/elafros-readers

Add avatars for TOC members
  community/TECH-OVERSIGHT-COMMITTEE.md
Owners: none

Constrain avatar size in table
  community/TECH-OVERSIGHT-COMMITTEE.md
Owners: none

Add the initial working groups and leads
  community/WORKING-GROUPS.md
Owners: none

Fix link to B&D WG
  community/WORKING-GROUPS.md
Owners: none

Adds check for mutatingwebhookconfiguration (#326)
  scripts/diagnose-me.sh
Owners: none

expose err detail in events
  pkg/controller/configuration/controller.go
  pkg/controller/configuration/controller_test.go
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none

Update the rules_docker/k8s deps. (#332)
  Gopkg.lock
  Gopkg.toml
  WORKSPACE
  vendor/k8s.io/code-generator/CONTRIBUTING.md
  vendor/k8s.io/code-generator/cmd/client-gen/main.go
  vendor/k8s.io/code-generator/cmd/deepcopy-gen/main.go
  vendor/k8s.io/code-generator/cmd/defaulter-gen/main.go
  vendor/k8s.io/code-generator/cmd/informer-gen/main.go
  vendor/k8s.io/code-generator/cmd/lister-gen/main.go
Owners: none

add a test and remove todo
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none

Further documentation changes.
  sample/telemetrysample/telemetrysample.go
Owners: none

Call AddToScheme in init()
  pkg/controller/configuration/controller.go
  pkg/controller/revision/controller.go
  pkg/controller/route/controller.go
Owners: none

replace '%s' to %q
  pkg/controller/configuration/controller.go
  pkg/controller/configuration/controller_test.go
Owners: none

Add --expunge to "bazel clean" in release.sh.
  hack/release.sh
Owners: none

Add --expunge to "bazel clean" in release.sh. (#367)
  hack/release.sh
Owners: none

Rename ContainerSpec to just Container. (#356)
  pkg/apis/ela/v1alpha1/revision_types.go
  pkg/apis/ela/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/configuration/controller_test.go
  pkg/controller/revision/controller_test.go
  pkg/controller/revision/ela_pod.go
  pkg/controller/route/controller_test.go
  pkg/webhook/configuration.go
  pkg/webhook/configuration_test.go
  pkg/webhook/webhook_test.go
  sample/autoscale/configuration.yaml
  sample/buildpack-app/configuration.yaml.tpl
  sample/gitwebhook/configuration.yaml
  sample/helloworld/configuration.yaml
  sample/helloworld/updated_configuration.yaml
  sample/private-repos/manifest.yaml
  sample/steren-app/configuration.yaml.tpl
  sample/steren-function/configuration.yaml.tpl
  sample/telemetrysample/configuration.yaml
  sample/thumbnailer/thumbnailer-prebuilt.yaml
  sample/thumbnailer/thumbnailer.yaml.tpl
  test/conformance/route_test.go
Owners: @evankanderson, @mattmoor, @vaikas-google, @bobcatfish, @adrcunha

replace %s with %v for error
  pkg/controller/configuration/controller.go
  pkg/controller/revision/controller.go
  pkg/controller/revision/controller_test.go
  pkg/controller/route/controller.go
  pkg/controller/route/controller_test.go
Owners: none
