Repository knative/serving, pull requests merged in 2019-07, with the labels that each got.

#4582 Make sure we apply target utilization at every level.
  config/config-autoscaler.yaml
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
  pkg/reconciler/autoscaling/resources/concurrency.go
  pkg/reconciler/autoscaling/resources/concurrency_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4531 Remove /dev/log from Runtime Contract
  docs/runtime-contract.md
  test/types/runtime.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4583 Remove addon-manager labels from monitoring config
  config/monitoring/logging/elasticsearch/100-fluentd-configmap.yaml
  config/monitoring/logging/elasticsearch/200-fluentd.yaml
  config/monitoring/logging/stackdriver/100-fluentd-configmap.yaml
  config/monitoring/logging/stackdriver/200-fluentd.yaml
Labels: approved, area/monitoring, cla: yes, lgtm, ok-to-test, size/S

#4585 Remove unused scraperRetryInterval.
  pkg/autoscaler/stats_scraper.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#4588 Upgrade kubernetes-1.12.6 -> kubernetes-1.12.9
  Gopkg.lock
  Gopkg.toml
  vendor/k8s.io/apiserver/pkg/admission/metrics/metrics.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/conversion.go
  vendor/k8s.io/apiserver/pkg/server/options/authentication.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/event.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/store.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
  vendor/k8s.io/apiserver/pkg/util/webhook/authentication.go
  vendor/k8s.io/client-go/discovery/cached_discovery.go
  vendor/k8s.io/client-go/discovery/round_tripper.go
  vendor/k8s.io/client-go/rest/transport.go
  vendor/k8s.io/client-go/tools/cache/reflector.go
  vendor/k8s.io/client-go/tools/clientcmd/client_config.go
Labels: approved, cla: yes, lgtm, size/L

#4428 Update Runtime Contract with links to Runtime tests
  docs/runtime-contract.md
Labels: approved, cla: yes, lgtm, size/M

#4590 Use test provided context, if available
  pkg/reconciler/testing/v1alpha1/factory.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#4593 Remove 0 from distribution type metric boundaries
  pkg/activator/stats_reporter.go
  pkg/queue/stats/stats_reporter.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#4587 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/shared/testgrid/testgrid.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4595 Make sure we check the same constants throughout the code
  pkg/autoscaler/config.go
  pkg/reconciler/autoscaling/resources/metric.go
  pkg/reconciler/autoscaling/resources/metric_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#4586 Replace timeout propagation with context propagation in breaker.
  cmd/queue/main.go
  pkg/activator/handler/handler.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
  pkg/queue/breaker.go
  pkg/queue/breaker_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#4596 Remove the check, since it's useless.
  cmd/activator/main.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#4602 Fix some flyby issues in the codebase
  pkg/network/network.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/serverlessservice/serverlessservice.go
  test/e2e/e2e.go
  test/v1beta1/service.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#4599 Format markdown
  docs/runtime-contract.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#4598 Remove outdated VPA reference.
  config/config-autoscaler.yaml
  pkg/reconciler/autoscaling/config/testdata/config-autoscaler.yaml
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#4605 Add permissions for {networking,autoscaling}.internal.knative.dev to namespace admin role
  config/200-clusterrole-namespaced.yaml
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4592 Implementation of the burst capacity in the KPA
  cmd/autoscaler/main.go
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/multiscaler.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/reconciler.go
  pkg/reconciler/autoscaling/resources/metric.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4606 Remove clusteringress from kubectl get all
  config/300-clusteringress.yaml
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/XS

#4584 Rename all occurrences of 'KPA' to 'PA' where applicable.
  cmd/webhook/main.go
  config/300-pa.yaml
  pkg/autoscaler/collector.go
  pkg/autoscaler/multiscaler.go
  pkg/autoscaler/multiscaler_test.go
  pkg/autoscaler/stats_scraper_test.go
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/resources/decider.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/autoscaling/resources/service_test.go
  pkg/reconciler/autoscaling/resources/sks_test.go
  pkg/reconciler/revision/controller.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/names/names.go
  pkg/reconciler/revision/resources/names/names_test.go
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/resources/pa_test.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/revision/revision_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/serverlessservice/resources/services_test.go
  pkg/reconciler/testing/v1alpha1/listers.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XL

#4607 Use route inconsistency retry helper throughout all tests.
  test/conformance/api/v1alpha1/generatename_test.go
  test/conformance/api/v1beta1/generatename_test.go
  test/e2e/service_to_service_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4558 Remove deprecated domain name
  pkg/reconciler/route/domains/domains.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/resources/cluster_ingress.go
  pkg/reconciler/route/resources/cluster_ingress_test.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/traffic/traffic.go
  pkg/reconciler/route/traffic/traffic_test.go
  test/conformance/api/v1alpha1/util.go
  test/conformance/api/v1beta1/util.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#4613 This change fixes the panic in the conformance tests.
  test/conformance/api/v1alpha1/route_test.go
  test/conformance/api/v1beta1/route_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4612 Trivial changes: Add comments and constant, fix typo
  cmd/autoscaler/main.go
  pkg/autoscaler/collector.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/S

#4608 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/shared/gcs/gcs.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/injection/informers/kubeinformers/corev1/limitrange/fake/fake.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/corev1/limitrange/limitrange.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/corev1/resourcequota/fake/fake.go
  vendor/knative.dev/pkg/injection/informers/kubeinformers/corev1/resourcequota/resourcequota.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#4601 Update Bug Report Template to ask for Git SHA
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: approved, cla: yes, lgtm, size/XS

#4611 Stop printing *.internal.knative.dev resources in kubectl get all
  config/300-certificate.yaml
  config/300-ingress.yaml
  config/300-pa.yaml
  config/300-sks.yaml
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4615 Don't use user-defined domain template for cluster local services
  pkg/reconciler/route/domains/domains.go
  pkg/reconciler/route/domains/domains_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#4604 Add more validation to the PA.
  pkg/apis/autoscaling/annotation_validation.go
  pkg/apis/autoscaling/annotation_validation_test.go
  pkg/apis/autoscaling/register.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1beta1/revision_validation_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4621 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/shared/prow/prow.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#4624 Fix a problem with SKS not becoming Ready when proxying for burst capacity
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/serverlessservice/serverlessservice.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4581 Refactored ingress controllers to share reconciliation code and resources
  pkg/apis/networking/v1alpha1/clusteringress_accessors.go
  pkg/apis/networking/v1alpha1/clusteringress_accessors_test.go
  pkg/apis/networking/v1alpha1/ingress_accessors.go
  pkg/apis/networking/v1alpha1/ingress_accessors_test.go
  pkg/reconciler/clusteringress/clusteringress.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/clusteringress/reconciler_accessors.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/ingress/reconciler_accessors.go
  pkg/reconciler/ingress/resources/gateway.go
  pkg/reconciler/ingress/resources/names/names.go
  pkg/reconciler/ingress/resources/names/names_test.go
  pkg/reconciler/ingress/resources/secret.go
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/ingress/resources/virtual_service_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/XXL

#4618 Add simple probe cache for the activator.
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/testing/roundtripper.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#4559 Introduce public and private loadbalancer information in ingress status
  pkg/apis/networking/v1alpha1/ingress_lifecycle.go
  pkg/apis/networking/v1alpha1/ingress_lifecycle_test.go
  pkg/apis/networking/v1alpha1/ingress_types.go
  pkg/apis/networking/v1alpha1/zz_generated.deepcopy.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/route/table_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#4630 Do some reconciliation of approvers
  cmd/webhook/OWNERS
  pkg/http/OWNERS
  pkg/testing/OWNERS
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4632 Use TBC=-1 sentinel for unlimited TBC.
  config/config-autoscaler.yaml
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/L

#4626 Enhance the 'Forwarded' header checker in conformance tests.
  test/conformance/runtime/header_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4637 Print error message from WaitForRevisionState in TestMinScale
  test/e2e/minscale_readiness_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, needs-ok-to-test, size/XS

#4643 Assorted linter fixes.
  pkg/activator/testing/roundtripper.go
  pkg/autoscaler/config_test.go
  pkg/reconciler/ingress/ingress.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/XS

#4645 Add missing license headers.
  config/200-clusterrole-certmanager.yaml
  config/200-clusterrole-istio.yaml
  config/200-clusterrole.yaml
  config/202-gateway.yaml
  config/203-local-gateway.yaml
Labels: approved, cla: yes, lgtm, size/M

#4641 Stop relying on timers in TimeToFirstByteTimeoutHandler's tests.
  pkg/queue/timeout_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#4646 Redo breaker tests to ensure consistency and to not rely on polling.
  pkg/queue/breaker_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#4642 Add an explicit test for the number of probes in the activator.
  pkg/activator/handler/handler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#3742 Egress traffic e2e test
  test/e2e/egress_traffic_test.go
  third_party/istio-1.1.3/download-istio.sh
  third_party/istio-1.1.3/istio-lean.yaml
  third_party/istio-1.1.3/istio.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#4652 Some minor optimizations to how we format host:port strings.
  cmd/activator/main.go
  cmd/queue/main.go
  pkg/activator/handler/handler.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#4651 Validate window annotation in the webhook.
  pkg/apis/autoscaling/annotation_validation.go
  pkg/apis/autoscaling/annotation_validation_test.go
  pkg/apis/autoscaling/register.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4560 Updating k8s visibility will update the specific subroute's visibility.
  pkg/apis/networking/v1alpha1/ingress_types.go
  pkg/apis/serving/register.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/ingress/resources/virtual_service_test.go
  pkg/reconciler/route/domains/domains.go
  pkg/reconciler/route/domains/domains_test.go
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/resources/cluster_ingress.go
  pkg/reconciler/route/resources/cluster_ingress_test.go
  pkg/reconciler/route/resources/filters.go
  pkg/reconciler/route/resources/filters_test.go
  pkg/reconciler/route/resources/labels/doc.go
  pkg/reconciler/route/resources/labels/labels.go
  pkg/reconciler/route/resources/labels/labels_test.go
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/traffic.go
  pkg/reconciler/route/traffic/traffic_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XXL

#4653 Missed out possible optimizations.
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#4526 Propagate annotations to the revision from configuration
  pkg/reconciler/configuration/resources/revision.go
  pkg/reconciler/configuration/resources/revision_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/L

#4625 Add changes to use kelseyhightower envconfig for managing env configuration
  Gopkg.lock
  Gopkg.toml
  cmd/activator/main.go
  cmd/queue/main.go
  cmd/queue/main_test.go
  cmd/util/env.go
  third_party/VENDOR-LICENSE
  vendor/github.com/kelseyhightower/envconfig/LICENSE
  vendor/github.com/kelseyhightower/envconfig/doc.go
  vendor/github.com/kelseyhightower/envconfig/env_os.go
  vendor/github.com/kelseyhightower/envconfig/env_syscall.go
  vendor/github.com/kelseyhightower/envconfig/envconfig.go
  vendor/github.com/kelseyhightower/envconfig/usage.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/XL

#4660 Add retry handler to TestEgressTraffic
  test/e2e/egress_traffic_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#4661 golang format tools
  cmd/queue/main.go
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/ingress/resources/virtual_service_test.go
  pkg/reconciler/route/resources/filters_test.go
  pkg/reconciler/route/resources/labels/labels_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/S

#4649 Prepare queue healthHandler for optional aggressive retries
  cmd/queue/main.go
  pkg/network/network.go
  pkg/network/network_test.go
  pkg/queue/health/health_state.go
  pkg/queue/health/health_state_test.go
  pkg/queue/health/probe.go
  pkg/queue/health/probe_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#4664 Warn if mercurial is not installed
  hack/update-deps.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4614 Fail activation if we exceed a timeout
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/revision/resources/constants.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4656 Implement TU on annotaion.
  pkg/apis/autoscaling/annotation_validation.go
  pkg/apis/autoscaling/annotation_validation_test.go
  pkg/apis/autoscaling/register.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/reconciler/autoscaling/resources/concurrency.go
  pkg/reconciler/autoscaling/resources/concurrency_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4617 Add a job to Prometheus scrape_configs to scrape annotated services
  config/monitoring/metrics/prometheus/100-prometheus-scrape-config.yaml
Labels: approved, area/monitoring, cla: yes, lgtm, size/S

#4623 Enable local routing for public subroutes
  pkg/reconciler/route/resources/cluster_ingress.go
  pkg/reconciler/route/resources/cluster_ingress_test.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  test/e2e/subroutes_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#4670 Bump our scale test to 100.
  test/performance/scale_test.go
  test/scale/scale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4672 Make error message for invalid panic-window-percentage accurate
  pkg/autoscaler/config.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#4671 Bump the activator grace timeout to the default request timeout
  config/activator.yaml
Labels: approved, cla: yes, lgtm, size/XS

#4650 Minor cleanup
  pkg/apis/serving/v1alpha1/service_defaults.go
  pkg/apis/serving/v1alpha1/service_lifecycle_test.go
  pkg/apis/serving/v1beta1/service_defaults.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#4667 Queue ReadinessProbe Kubelet Header e2e Test
  test/conformance/runtime/readiness_probe_test.go
  test/test_images/runtime/handlers/handler.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4669 Implementation of the target burst capacity annotation.
  pkg/apis/autoscaling/annotation_validation.go
  pkg/apis/autoscaling/annotation_validation_test.go
  pkg/apis/autoscaling/register.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4674 rename component of ingress controller binary
  cmd/networking/istio/main.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#4688 golang format tools
  test/e2e/subroutes_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#4668 Add queue readiness probe package
  pkg/queue/health/probe_test.go
  pkg/queue/readiness/probe.go
  pkg/queue/readiness/probe_encoding.go
  pkg/queue/readiness/probe_encoding_test.go
  pkg/queue/readiness/probe_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/XL

#4692 update dev doc with hg install
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4673 also set the annotation on the decider
  pkg/reconciler/autoscaling/kpa/resources/decider.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4687 Fix autoscale image and remove bloatingcow image.
  test/conformance.go
  test/conformance/api/v1alpha1/resources_test.go
  test/conformance/api/v1beta1/resources_test.go
  test/e2e/autoscale_test.go
  test/test_images/autoscale/autoscale.go
  test/test_images/bloatingcow/README.md
  test/test_images/bloatingcow/bloatingcow.go
  test/test_images/bloatingcow/service.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4689 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/metrics/metricstest/metricstest.go
  vendor/knative.dev/pkg/metrics/record.go
  vendor/knative.dev/pkg/webhook/stats_reporter.go
  vendor/knative.dev/pkg/webhook/user_info.go
  vendor/knative.dev/pkg/webhook/webhook.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#4675 Wait for scaleTo0 before checking scaleTo1
  test/performance/observed_concurency_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4677 Remove protocols image by moving the info into the runtime image.
  test/conformance/api/v1alpha1/protocol_test.go
  test/conformance/api/v1beta1/protocol_test.go
  test/conformance/runtime/protocol_test.go
  test/test_images/protocols/README.md
  test/test_images/protocols/protocols.go
  test/test_images/protocols/service.yaml
  test/test_images/runtime/handlers/request.go
  test/test_images/runtime/main.go
  test/types/runtime.go
  test/util.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XL

#4695 Add e2e test for ensuring changing service visibility will update subroute address
  test/e2e/subroutes_test.go
Labels: approved, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#4703 Make tests run much faster.
  pkg/reconciler/autoscaling/reconciler.go
  test/e2e/service_to_service_test.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/S

#4708 Union not override, or you'll be in pain debugging tests
  pkg/testing/v1alpha1/service.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4711 Exclude the custom-metrics API port from istio's interception.
  config/autoscaler.yaml
Labels: approved, cla: yes, lgtm, size/XS

#4712 Fix dep hanging for a very long time without mercurial.
  Gopkg.lock
  Gopkg.toml
Labels: approved, cla: yes, lgtm, size/S

#4713 golang format tools
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/revision/controller.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/resources/imagecache.go
  pkg/reconciler/revision/resources/imagecache_test.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/revision/revision_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/testing/v1alpha1/factory.go
  pkg/reconciler/testing/v1alpha1/listers.go
  test/e2e/subroutes_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#4715 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/shared/loadgenerator/loadgenerator.go
  vendor/github.com/knative/test-infra/shared/performance/performance.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#4679 Remove workingdir image in favor of adding cwd information to the runtime image.
  test/conformance/api/v1beta1/workingdir_test.go
  test/conformance/runtime/workingdir_test.go
  test/test_images/runtime/handlers/user.go
  test/test_images/workingdir/README.md
  test/test_images/workingdir/service.yaml
  test/test_images/workingdir/workingdir.go
  test/types/runtime.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4701 Use a local buffer to store request logs template expansion
  pkg/http/request_log.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#4719 stats_reporter_tests.go use shared metricstest package
  pkg/activator/stats_reporter_test.go
  pkg/autoscaler/stats_reporter.go
  pkg/autoscaler/stats_reporter_test.go
  pkg/queue/stats/stats_reporter_test.go
  pkg/reconciler/stats_reporter_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#4720 Remove printport image from test images
  test/conformance.go
  test/conformance/api/v1alpha1/service_test.go
  test/conformance/api/v1beta1/service_test.go
  test/test_images/printport/README.md
  test/test_images/printport/main.go
  test/test_images/printport/service.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4707 Export webhook metrics to prometheus
  cmd/webhook/main.go
  config/monitoring/metrics/prometheus/100-prometheus-scrape-config.yaml
  config/webhook.yaml
Labels: approved, area/API, area/monitoring, cla: yes, lgtm, size/M

#4721 Remove use of python image for CmdArgs test
  test/conformance/api/v1alpha1/cmd_args_test.go
  test/conformance/api/v1beta1/cmd_args_test.go
  test/conformance/runtime/cmd_args_test.go
  test/conformance/runtime/util.go
  test/test_images/runtime/handlers/args.go
  test/test_images/runtime/handlers/runtime.go
  test/types/runtime.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4725 Assorted linting fixes.
  pkg/activator/config/store.go
  pkg/autoscaler/collector_test.go
  pkg/autoscaler/multiscaler_test.go
  pkg/metrics/config.go
  pkg/network/h2c.go
  pkg/queue/health/probe.go
  pkg/queue/readiness/probe.go
  pkg/reconciler/ingress/config/istio.go
  pkg/reconciler/stats_reporter.go
  pkg/testing/functional.go
Labels: approved, area/API, area/autoscale, area/monitoring, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#4729 Format markdown
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4730 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/apis/condition_types.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/status_types.go
  vendor/knative.dev/pkg/apis/volatile_time.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#4728 Give probe timeout test a lot more time to timeout.
  pkg/queue/readiness/probe_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#4575 Switch to a vegeta-based load test
  .ko.yaml
  Gopkg.lock
  Gopkg.toml
  test/performance/config/README.md
  test/performance/config/job.yaml
  vendor/github.com/c2h5oh/datasize/LICENSE
  vendor/github.com/c2h5oh/datasize/datasize.go
  vendor/github.com/influxdata/tdigest/LICENSE
  vendor/github.com/influxdata/tdigest/centroid.go
  vendor/github.com/influxdata/tdigest/tdigest.go
  vendor/github.com/rakyll/hey/hey.go
  vendor/github.com/rakyll/hey/requester/now_other.go
  vendor/github.com/rakyll/hey/requester/now_windows.go
  vendor/github.com/rakyll/hey/requester/print.go
  vendor/github.com/rakyll/hey/requester/report.go
  vendor/github.com/rakyll/hey/requester/requester.go
  vendor/github.com/shurcooL/httpfs/LICENSE
  vendor/github.com/shurcooL/httpfs/vfsutil/file.go
  vendor/github.com/shurcooL/httpfs/vfsutil/vfsutil.go
  vendor/github.com/shurcooL/httpfs/vfsutil/walk.go
  vendor/github.com/shurcooL/vfsgen/LICENSE
  vendor/github.com/shurcooL/vfsgen/commentwriter.go
  vendor/github.com/shurcooL/vfsgen/doc.go
  vendor/github.com/shurcooL/vfsgen/generator.go
  vendor/github.com/shurcooL/vfsgen/options.go
  vendor/github.com/shurcooL/vfsgen/stringwriter.go
  vendor/github.com/tsenart/go-tsz/LICENSE
  vendor/github.com/tsenart/go-tsz/bstream.go
  vendor/github.com/tsenart/go-tsz/fuzz.go
  vendor/github.com/tsenart/go-tsz/testdata/data.go
  vendor/github.com/tsenart/go-tsz/tsz.go
  vendor/github.com/tsenart/vegeta/LICENSE
  vendor/github.com/tsenart/vegeta/attack.go
  vendor/github.com/tsenart/vegeta/attack_nonwindows.go
  vendor/github.com/tsenart/vegeta/attack_windows.go
  vendor/github.com/tsenart/vegeta/dump.go
  vendor/github.com/tsenart/vegeta/encode.go
  vendor/github.com/tsenart/vegeta/file.go
  vendor/github.com/tsenart/vegeta/flags.go
  vendor/github.com/tsenart/vegeta/internal/resolver/resolver.go
  vendor/github.com/tsenart/vegeta/lib/attack.go
  vendor/github.com/tsenart/vegeta/lib/histogram.go
  vendor/github.com/tsenart/vegeta/lib/lttb/lttb.go
  vendor/github.com/tsenart/vegeta/lib/metrics.go
  vendor/github.com/tsenart/vegeta/lib/pacer.go
  vendor/github.com/tsenart/vegeta/lib/plot/assets.go
  vendor/github.com/tsenart/vegeta/lib/plot/assets_gen.go
  vendor/github.com/tsenart/vegeta/lib/plot/assets_vfsdata.go
  vendor/github.com/tsenart/vegeta/lib/plot/plot.go
  vendor/github.com/tsenart/vegeta/lib/plot/timeseries.go
  vendor/github.com/tsenart/vegeta/lib/reporters.go
  vendor/github.com/tsenart/vegeta/lib/results.go
  vendor/github.com/tsenart/vegeta/lib/results_easyjson.go
  vendor/github.com/tsenart/vegeta/lib/targets.go
  vendor/github.com/tsenart/vegeta/lib/targets_easyjson.go
  vendor/github.com/tsenart/vegeta/main.go
  vendor/github.com/tsenart/vegeta/plot.go
  vendor/github.com/tsenart/vegeta/report.go
  vendor/github.com/tsenart/vegeta/report_nonwindows.go
  vendor/github.com/tsenart/vegeta/report_windows.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XXL

#4704 Gloo e2e tests
  test/e2e-common.sh
  third_party/gloo-0.17.0/README.md
  third_party/gloo-0.17.0/download-gloo.sh
  third_party/gloo-0.17.0/gloo.yaml
  third_party/gloo-0.17.0/values.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XL

#4710 Initial TBC test.
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
  pkg/reconciler/autoscaling/resources/concurrency_test.go
  pkg/testing/functional.go
  pkg/testing/v1alpha1/service.go
  test/e2e/autoscale_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#4550 Clean-up the use of RFC2119 keywords
  docs/runtime-contract.md
Labels: approved, cla: yes, lgtm, size/M

#4733 Validate service accounts in revision
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#4741 Elide DNS lookups in the activator.
  pkg/activator/handler/handler.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#4742 Swap got and want for Diff of TestServiceDefaulting
  pkg/apis/serving/v1beta1/service_defaults_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/XS

#4745 Remove dependency on mercurial.
  DEVELOPMENT.md
  Gopkg.lock
  Gopkg.toml
  hack/update-deps.sh
  vendor/bitbucket.org/ww/goautoneg/Makefile
  vendor/bitbucket.org/ww/goautoneg/README.txt
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4722 Use the time from the pods to calculate time to scale
  test/performance/observed_concurency_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4748 Update the tests to just go via activator rather than wait for scale to 0
  test/e2e/autoscale_test.go
  test/e2e/grpc_test.go
  test/e2e/service_to_service_test.go
  test/e2e/websocket_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4749 Fix the bug where with TBC=0 we could get Activator.
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/S

#4735 Fix component names containing invalid (for Prometheus) characters
  cmd/networking/certmanager/main.go
  cmd/networking/istio/main.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#4698 Update cleanup command in development doc
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4493 Added test cases for service call without sidecar
  test/e2e/service_to_service_test.go
  test/e2e/subroutes_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#4717 Fix one benchmark and add the errorrate metric
  test/performance/benchmarks_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4231 Change revision svc column to config
  config/v1alpha1/300-revision.yaml
  config/v1beta1/300-revision.yaml
Labels: approved, cla: yes, lgtm, size/S

#4756 Replace a prober factory with a prober with no caching.
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/network/prober/prober.go
  pkg/network/prober/prober_test.go
  pkg/network/transports.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#4718 Add feature flag reconcileExternalGateway to control gateway reconciliation
  config/config-istio.yaml
  pkg/reconciler/ingress/config/istio.go
  pkg/reconciler/ingress/config/istio_test.go
  pkg/reconciler/ingress/ingress.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#4757 Remove the check which is redundant and _s.
  pkg/queue/breaker.go
  pkg/queue/breaker_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#4751 Remove outdated tests.
  test/conformance/api/v1alpha1/cmd_args_test.go
  test/conformance/api/v1beta1/cmd_args_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4767 Format markdown
  docs/runtime-contract.md
  test/performance/config/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/L

#4762 Remove `test.Options` and replace with functional options.
  pkg/testing/v1alpha1/configuration.go
  pkg/testing/v1alpha1/service.go
  test/conformance/api/v1alpha1/blue_green_test.go
  test/conformance/api/v1alpha1/configuration_test.go
  test/conformance/api/v1alpha1/errorcondition_test.go
  test/conformance/api/v1alpha1/generatename_test.go
  test/conformance/api/v1alpha1/resources_test.go
  test/conformance/api/v1alpha1/revision_timeout_test.go
  test/conformance/api/v1alpha1/route_test.go
  test/conformance/api/v1alpha1/service_test.go
  test/conformance/api/v1alpha1/single_threaded_test.go
  test/conformance/api/v1alpha1/volumes_test.go
  test/conformance/api/v1beta1/migration_test.go
  test/conformance/runtime/container_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/conformance/runtime/util.go
  test/e2e/activator_test.go
  test/e2e/autoscale_test.go
  test/e2e/destroypod_test.go
  test/e2e/e2e.go
  test/e2e/egress_traffic_test.go
  test/e2e/grpc_test.go
  test/e2e/helloworld_test.go
  test/e2e/image_pull_error_test.go
  test/e2e/minscale_readiness_test.go
  test/e2e/namespace_test.go
  test/e2e/pod_schedule_error_test.go
  test/e2e/scale.go
  test/e2e/service_to_service_test.go
  test/e2e/subroutes_test.go
  test/e2e/websocket_test.go
  test/performance/benchmarks_test.go
  test/performance/latency_test.go
  test/performance/observed_concurency_test.go
  test/performance/scale_from_zero_test.go
  test/performance/scale_revision_by_load_test.go
  test/upgrade/probe_test.go
  test/upgrade/service_preupgrade_test.go
  test/v1alpha1/configuration.go
  test/v1alpha1/service.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4754 Remove duplicated imports under different names.
  cmd/autoscaler/main.go
  pkg/activator/throttler_test.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/resources/service.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/serverlessservice/controller.go
  pkg/reconciler/serverlessservice/serverlessservice.go
  pkg/reconciler/service/service.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/M

#4760 Remove the usage of the extensions API for deployments.
  test/e2e/minscale_readiness_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4726 Move target validation to annotation validation.
  pkg/apis/autoscaling/annotation_validation.go
  pkg/apis/autoscaling/annotation_validation_test.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4758 Add the metric to report excess burst capacity.
  pkg/autoscaler/autoscaler_test.go
  pkg/autoscaler/stats_reporter.go
  pkg/autoscaler/stats_reporter_test.go
  pkg/autoscaler/stats_scraper_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#4731 Use user-defined readinessProbe in queue-proxy
  cmd/queue/main.go
  cmd/queue/main_test.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_defaults_test.go
  pkg/apis/serving/v1alpha1/revision_defaults_test.go
  pkg/apis/serving/v1alpha1/service_defaults_test.go
  pkg/apis/serving/v1beta1/configuration_defaults_test.go
  pkg/apis/serving/v1beta1/revision_defaults.go
  pkg/apis/serving/v1beta1/revision_defaults_test.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
  pkg/queue/readiness/probe_encoding.go
  pkg/queue/readiness/probe_encoding_test.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XXL

#4775 Add Dan as an approver on pkg/apis.
  pkg/apis/OWNERS
Labels: approved, area/API, cla: yes, lgtm, size/XS

#4772 Add HPA for Activator
  config/activator.yaml
Labels: approved, cla: yes, lgtm, size/S

#4759 Support reconciling ceritificate based on certificate class annotation
  config/config-network.yaml
  pkg/apis/networking/register.go
  pkg/network/network.go
  pkg/network/network_test.go
  pkg/reconciler/certificate/controller.go
  pkg/reconciler/route/resources/certificate.go
  pkg/reconciler/route/resources/certificate_test.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#4777 Remove the reason for default value of container-concurrency-target-percentage
  config/config-autoscaler.yaml
Labels: approved, cla: yes, lgtm, size/XS

#4776 Release pending requests count of breaker if the request is timeout
  pkg/queue/breaker.go
  pkg/queue/breaker_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#4682 Check route is not ready when underlying revision is not healthy in TestContainerErrorMsg
  test/conformance/api/v1alpha1/errorcondition_test.go
  test/conformance/api/v1beta1/errorcondition_test.go
  test/v1alpha1/route.go
  test/v1alpha1/service.go
  test/v1beta1/route.go
  test/v1beta1/service.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#4769 golang format tools
  test/conformance/api/v1alpha1/route_test.go
  test/conformance/api/v1alpha1/service_test.go
  test/conformance/api/v1beta1/migration_test.go
  test/e2e/helloworld_test.go
  test/e2e/image_pull_error_test.go
  test/e2e/namespace_test.go
  test/performance/benchmarks_test.go
  test/performance/latency_test.go
  test/upgrade/probe_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#4786 Fix race conditions in probe tests.
  cmd/queue/main_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#4778 Swap got and want for Diff of TestConfigurationDefaulting
  pkg/apis/serving/v1beta1/configuration_defaults_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/XS

#4784 Make breaker tests deterministic again.
  pkg/queue/breaker.go
  pkg/queue/breaker_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#4788 Use net.JoinHostPort instead of concatenation
  pkg/activator/handler/handler.go
  pkg/queue/health/probe.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#4709 Do not set default values when unsupported multiple containers are defined
  pkg/apis/serving/v1beta1/configuration_defaults_test.go
  pkg/apis/serving/v1beta1/revision_defaults.go
  pkg/apis/serving/v1beta1/revision_defaults_test.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/L

#4791 Test updates to make it pass easier
  test/e2e/autoscale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4794 YAMLS_TO_PUBLISH is deprecated, use ARTIFACTS_TO_PUBLISH
  hack/release.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4774 Use vegeta in benchmarks test
  test/performance/benchmarks_test.go
  test/performance/pacers.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4793 FF rogpeppe since it's with licence now
  Gopkg.lock
  Gopkg.toml
Labels: approved, cla: yes, lgtm, size/XS

#4789 Use revision.SetLastPinned() in route reconciler
  pkg/reconciler/route/reconcile_resources.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XS

#4797 Revert "Add simple probe cache for the activator. (#4618)"
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/testing/roundtripper.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#4750 Add namespaced ingress implementation which runs along side with cluster ingress
  cmd/networking/istio/main.go
  cmd/webhook/main.go
  pkg/apis/networking/v1alpha1/clusteringress_accessors.go
  pkg/apis/networking/v1alpha1/ingress_accessors.go
  pkg/apis/serving/v1alpha1/route_lifecycle.go
  pkg/apis/serving/v1alpha1/route_lifecycle_test.go
  pkg/reconciler/route/clusteringress_resource_accessors.go
  pkg/reconciler/route/controller.go
  pkg/reconciler/route/ingress_resource_accessors.go
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/resources/names/names.go
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/testing/v1alpha1/listers.go
  pkg/testing/functional.go
  pkg/testing/v1alpha1/route.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XXL

#4796 Stop relying on naming conventions in the activator's throttler logic.
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
  pkg/resources/endpoints.go
  pkg/resources/endpoints_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#4812 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/release.sh
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/caching/Gopkg.toml
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#4811 bump gloo version to 0.17.1
  third_party/gloo-0.17.1/README.md
  third_party/gloo-0.17.1/download-gloo.sh
  third_party/gloo-0.17.1/gloo.yaml
  third_party/gloo-0.17.1/values.yaml
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/S

#4816 Capture Istio gateway logs in case of E2E test failure
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4815 Add the actual reporting of the EBC in metrics
  pkg/autoscaler/autoscaler.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#4814 Remove prober transport factory since it's no longer used anywhere
  pkg/network/prober/prober.go
  pkg/reconciler/autoscaling/kpa/scaler.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/XS

#4818 Add Host header in vegeta target
  test/performance/benchmarks_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4820 Add the grafana metric for the excess burst capacity
  config/monitoring/metrics/prometheus/100-grafana-dash-knative-scaling.yaml
Labels: approved, area/monitoring, cla: yes, lgtm, size/S

#4817 Fix panic-window-percentage error
  pkg/autoscaler/config.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#4823 Turn on per-split header appending.
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/ingress/resources/virtual_service_test.go
  third_party/istio-1.0-latest
  third_party/istio-1.0.7/README.md
  third_party/istio-1.0.7/download-istio.sh
  third_party/istio-1.0.7/istio-crds.yaml
  third_party/istio-1.0.7/istio-knative-extras.yaml
  third_party/istio-1.0.7/istio-lean.yaml
  third_party/istio-1.0.7/istio.yaml
  third_party/istio-1.0.7/namespace.yaml.patch
  third_party/istio-1.0.7/prestop-sleep.yaml.patch
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XXL

#4795 Start autoscaler in panic mode.
  Gopkg.lock
  cmd/autoscaler/main_test.go
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
  vendor/knative.dev/pkg/kmeta/ownerrefable_accessor.go
  vendor/knative.dev/pkg/ptr/ptr.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/L

#4826 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/coreos/etcd/cmd/etcd
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
  vendor/github.com/knative/test-infra/shared/testgrid/testgrid.go
  vendor/github.com/prometheus/procfs/fixtures/self
  vendor/knative.dev/caching/Gopkg.lock
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#4825 golang format tools
  pkg/apis/serving/v1beta1/revision_defaults.go
  pkg/reconciler/route/clusteringress_resource_accessors.go
  pkg/reconciler/route/ingress_resource_accessors.go
  test/performance/benchmarks_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#4829 Clean some nits in the code
  pkg/http/response_recorder_test.go
  test/e2e/websocket_test.go
Labels: approved, area/networking, area/test-and-release, cla: yes, lgtm, size/XS

#4830 Use per-split revision headers.
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/route_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L
