Repository knative/serving, pull requests merged in 2019-11, with the labels that each got.

#5924 move poll for kube-api to before logger creation
  cmd/activator/main.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/M

#5920 Enhance error messages around image to tag resolving.
  pkg/reconciler/revision/resolve.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/revision/revision_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#5932 Add metric ports to the private service in SKS and use it in HPA.
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
  pkg/testing/functional.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/L

#5923 Implementation of load balancing via breaker.
  pkg/activator/net/revision_backends_test.go
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
  pkg/queue/breaker.go
  pkg/queue/breaker_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/XL

#5917 Enable field imagePullSecrets for PodSpec
  pkg/apis/serving/fieldmask.go
  pkg/apis/serving/fieldmask_test.go
  pkg/apis/serving/v1alpha1/configuration_conversion_test.go
  pkg/apis/serving/v1alpha1/revision_conversion.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/imagecache.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/v1alpha1/revision.go
  test/apicoverage/image/kodata/ignoredfields.yaml
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/M

#5931 Remove deprecated APIs from the 'extensions/v1beta1' group.
  pkg/apis/networking/v1alpha1/doc.go
  pkg/apis/networking/v1alpha1/ingress_types.go
  testrelease/templates/ingress.yaml
  third_party/config/monitoring/metrics/prometheus/prometheus-operator/node-exporter.yaml
Labels: approved, area/API, area/monitoring, area/networking, cla: yes, lgtm, size/XS

#5933 Rename tracker objects
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5935 update test-infra with fix for retry on any e2e test failures
  Gopkg.lock
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
  vendor/knative.dev/test-infra/scripts/performance-tests.sh
Labels: approved, cla: yes, lgtm, size/S

#5942 greghaynes@ has changed jobs and no longer works on Knative
  OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, size/XS

#5939 More tests and coverage for the throttler
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5945 add missing required DeamonSet selector
  third_party/config/monitoring/metrics/prometheus/prometheus-operator/node-exporter.yaml
Labels: approved, area/monitoring, cla: yes, lgtm, size/XS

#5831 Update route visibility test.
  test/e2e/subroutes_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#5941 Make the throttler tests more stable
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5952 Remove usage of deprecated grpc.FailFast function.
  test/e2e/grpc_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5951 Use SKS's PrivateService as the metrics service.
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/testing/functional.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/L

#5859 Support custom namespaces for gateways in the config-istio configmap
  config/config-istio.yaml
  pkg/reconciler/ingress/config/istio.go
  pkg/reconciler/ingress/config/istio_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/M

#5157 Add option to run all e2e tests with different http and https settings
  pkg/reconciler/revision/config/testdata/config-defaults.yaml
  test/README.md
  test/conformance/api/v1alpha1/blue_green_test.go
  test/conformance/api/v1alpha1/generatename_test.go
  test/conformance/api/v1alpha1/resources_test.go
  test/conformance/api/v1alpha1/service_test.go
  test/conformance/api/v1alpha1/single_threaded_test.go
  test/conformance/api/v1alpha1/volumes_test.go
  test/conformance/runtime/readiness_probe_test.go
  test/conformance/runtime/util.go
  test/e2e-common.sh
  test/e2e-tests.sh
  test/e2e-upgrade-tests.sh
  test/e2e/activator_test.go
  test/e2e/autoscale_test.go
  test/e2e/destroypod_test.go
  test/e2e/egress_traffic_test.go
  test/e2e/grpc_test.go
  test/e2e/helloworld_test.go
  test/e2e/istio/probing_test.go
  test/e2e/namespace_test.go
  test/e2e/rollback_byo_test.go
  test/e2e/service_to_service_test.go
  test/e2e/subroutes_test.go
  test/e2e/websocket_test.go
  test/e2e_flags.go
  test/performance/latency_test.go
  test/performance/observed_concurency_test.go
  test/performance/scale_from_zero_test.go
  test/v1alpha1/service.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, ok-to-test, size/L

#5958 Add nak3, yanweiguo and ZhiminXiang to networking reviewers.
  OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, size/XS

#5961 Remove all metric services and mark to-be-deleted code.
  pkg/apis/networking/register.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/reconciler.go
  pkg/reconciler/autoscaling/resources/service.go
  pkg/reconciler/autoscaling/resources/service_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#5965 Make autoscaling approvers part of activator approvers.
  pkg/activator/OWNERS
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#5962 Add a clumping test to throttler.
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#5963 Add vagababov perf robot
  test/performance/benchmarks/load-test/dev.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5966 Remove unused testrelease manifests.
  testrelease/.helmignore
  testrelease/Chart.yaml
  testrelease/templates/NOTES.txt
  testrelease/templates/_helpers.tpl
  testrelease/templates/deployment.yaml
  testrelease/templates/ingress.yaml
  testrelease/templates/service.yaml
  testrelease/values.yaml
Labels: approved, cla: yes, lgtm, size/L

#5973 Remove timing based test for the TimeToFirstByteTimeoutHandler.
  pkg/queue/timeout_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5970 Make tests faster by leveraging new waitInformers method
  pkg/activator/net/revision_backends_test.go
  pkg/activator/net/throttler_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/M

#5974 Report the deisred/actual scale in the PA status for HPA
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#5319 Fix for latestRevision routes may point to older revisions if latestCreated is not ready
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#5956 More robust WaitForServiceLatestRevision function for rolling upgrades
  test/v1/revision.go
  test/v1/service.go
  test/v1alpha1/revision.go
  test/v1alpha1/service.go
  test/v1beta1/revision.go
  test/v1beta1/service.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5987 Do not count requests with K-Kubelet-Probe header
  cmd/queue/main.go
  test/conformance/runtime/readiness_probe_test.go
Labels: approved, area/networking, area/test-and-release, cla: yes, lgtm, size/S

#5110 Add changes to validate name and generateName for revision template
  pkg/apis/serving/metadata_validation.go
  pkg/apis/serving/metadata_validation_test.go
  pkg/apis/serving/v1/configuration_validation_test.go
  pkg/apis/serving/v1/revision_validation.go
  pkg/apis/serving/v1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/XL

#6001 Minimize usages of SkipNamespaceValidation throughout our tests.
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/ingress/ingress_test.go
  pkg/reconciler/metric/metric_test.go
  pkg/reconciler/nscert/nscert_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#5991 Make sure target annotations can exceed the configured default values.
  pkg/reconciler/autoscaling/resources/target.go
  pkg/reconciler/autoscaling/resources/target_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#5992 Add permissions for caching.internal.knative.dev to edit and view role
  config/200-clusterrole-namespaced.yaml
Labels: approved, cla: yes, lgtm, size/XS

#6009 Remove unused code.
  pkg/testing/functional.go
  test/v1alpha1/service.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#6008 Remove redundant and unused values from queue stats reporting.
  cmd/queue/main.go
  pkg/queue/stats.go
  pkg/queue/stats_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#6018 Fix spelling errors
  pkg/activator/net/throttler_test.go
  test/v1/service.go
  test/v1alpha1/service.go
  test/v1beta1/service.go
Labels: approved, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/XS

#5985 Convert scale_from_zero_test.go to Mako benchmark
  test/clients.go
  test/performance/benchmarks/scale-from-zero/cluster.yaml
  test/performance/benchmarks/scale-from-zero/continuous/kodata/HEAD
  test/performance/benchmarks/scale-from-zero/continuous/kodata/dev.config
  test/performance/benchmarks/scale-from-zero/continuous/kodata/prod.config
  test/performance/benchmarks/scale-from-zero/continuous/kodata/refs
  test/performance/benchmarks/scale-from-zero/continuous/main.go
  test/performance/benchmarks/scale-from-zero/continuous/scale-from-zero.yaml
  test/performance/benchmarks/scale-from-zero/continuous/sla.go
  test/performance/benchmarks/scale-from-zero/dev.config
  test/performance/benchmarks/scale-from-zero/prod.config
  test/performance/scale_from_zero_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XL

#6002 Remove generic ingress reconciler and adjust code layout to look like all others.
  pkg/reconciler/ingress/controller.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/ingress/ingress_test.go
  pkg/reconciler/ingress/reconciler_accessors.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XL

#6012 Remove autoscaler.Stat from the queue-proxy.
  cmd/queue/main.go
  pkg/queue/prometheus_stats_reporter.go
  pkg/queue/prometheus_stats_reporter_test.go
  pkg/queue/stats.go
  pkg/queue/stats_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5957 Update doc comment to use obvious variables.
  config/config-network.yaml
Labels: approved, cla: yes, lgtm, size/XS

#5967 Add an explanation how istio template can be customized
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, size/XS

#6022 Add default request metrics backend in observability config
  config/config-observability.yaml
  pkg/metrics/config.go
  pkg/metrics/config_test.go
Labels: approved, area/monitoring, cla: yes, lgtm, needs-ok-to-test, size/S

#6023 Remove IngressAccessor and use the concrete types in all cases.
  pkg/apis/networking/v1alpha1/ingress_accessors.go
  pkg/apis/networking/v1alpha1/ingress_accessors_test.go
  pkg/reconciler/ingress/controller.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/ingress/ingress_test.go
  pkg/reconciler/ingress/resources/gateway.go
  pkg/reconciler/ingress/resources/gateway_test.go
  pkg/reconciler/ingress/resources/secret.go
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/ingress/status.go
  pkg/reconciler/ingress/status_test.go
  pkg/reconciler/route/ingress_resource_accessors.go
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
  pkg/testing/functional.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XL

#6026 golang format tools
  pkg/reconciler/revision/config/store.go
  pkg/reconciler/revision/queueing_test.go
  pkg/reconciler/revision/revision_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/route/table_test.go
  test/conformance/api/v1alpha1/generatename_test.go
  test/conformance/api/v1alpha1/resources_test.go
  test/conformance/api/v1alpha1/service_test.go
  test/conformance/api/v1alpha1/single_threaded_test.go
  test/conformance/api/v1alpha1/volumes_test.go
  test/conformance/runtime/util.go
  test/e2e/activator_test.go
  test/e2e/autoscale_test.go
  test/e2e/destroypod_test.go
  test/e2e/egress_traffic_test.go
  test/e2e/grpc_test.go
  test/e2e/helloworld_test.go
  test/e2e/rollback_byo_test.go
  test/e2e/service_to_service_test.go
  test/e2e/subroutes_test.go
  test/e2e/websocket_test.go
  test/performance/benchmarks/scale-from-zero/continuous/main.go
  test/performance/observed_concurency_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#6029 Format markdown
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, size/XS

#6030 Also report number of activators as metric
  test/performance/benchmarks/dataplane-probe/continuous/main.go
  test/performance/benchmarks/dataplane-probe/dev.config
  test/performance/benchmarks/dataplane-probe/prod.config
  test/performance/benchmarks/load-test/continuous/main.go
  test/performance/metrics/runtime.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#6028 Update vendor/knative.dev/test-infra
  Gopkg.lock
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
  vendor/knative.dev/test-infra/scripts/library.sh
  vendor/knative.dev/test-infra/scripts/release.sh
Labels: approved, cla: yes, lgtm, size/M

#6038 Remove '%s' and %s with %q
  pkg/activator/handler/handler_test.go
  pkg/apis/autoscaling/annotation_validation_test.go
  pkg/reconciler/ingress/ingress_test.go
  pkg/reconciler/labeler/labeler_test.go
  test/e2e/autoscale_test.go
  test/e2e/service_to_service_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/S

#5070 Service port names should follow istio-naming convention?
  config/400-activator-service.yaml
  config/400-controller-service.yaml
  config/400-webhook-service.yaml
  config/autoscaler-service.yaml
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, ok-to-test, size/S

#6045 Update pkg to latest
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/test/e2e_flags.go
Labels: approved, cla: yes, lgtm, size/S

#6046 move the redunant repeated code into a function
  pkg/activator/net/throttler_test.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/S

#6047 Remove mattmoor's robot and @google.com email since they're outdated
  test/performance/benchmarks/dataplane-probe/dev.config
  test/performance/benchmarks/dataplane-probe/prod.config
  test/performance/benchmarks/deployment-probe/dev.config
  test/performance/benchmarks/deployment-probe/prod.config
  test/performance/benchmarks/load-test/dev.config
  test/performance/benchmarks/load-test/prod.config
  test/performance/benchmarks/scale-from-zero/dev.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#6061 use constants for knative-ingress-gateway and cluster-local-gateway
  pkg/apis/networking/register.go
  pkg/reconciler/ingress/config/istio.go
  pkg/reconciler/ingress/ingress_test.go
  pkg/reconciler/ingress/resources/gateway_test.go
  test/e2e/istio/probing_test.go
  test/v1alpha1/service.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#6062 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/pkg/apis/duck/v1/podspec_types.go
  vendor/knative.dev/pkg/apis/duck/v1/register.go
  vendor/knative.dev/pkg/apis/duck/v1/zz_generated.deepcopy.go
  vendor/knative.dev/test-infra/scripts/library.sh
Labels: approved, cla: yes, lgtm, size/L

#6057 Install Knative monitoring in e2e-smoke-tests.sh
  test/e2e-smoke-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#6055 fix scale-from-zero errors
  test/performance/benchmarks/scale-from-zero/continuous/main.go
  test/performance/performance-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#6056 Update documentation for performance tests
  test/README.md
  test/performance-tests.sh
  test/performance/Benchmarks.md
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#6066 Format markdown
  test/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#6063 Add reserve API to the breaker
  pkg/queue/breaker.go
  pkg/queue/breaker_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#6069 Remove TODOs, stop forcing istio injection.
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#6064 Improve scale-from-zero benchmark
  test/performance/benchmarks/scale-from-zero/continuous/main.go
  test/performance/benchmarks/scale-from-zero/dev.config
  test/performance/benchmarks/scale-from-zero/prod.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#6082 Fix the bug with CC rounding in Activator and fix tests
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/M

#6021 Update to Istio 1.3.5
  third_party/istio-1.3-latest
  third_party/istio-1.3.5/README.md
  third_party/istio-1.3.5/download-istio.sh
  third_party/istio-1.3.5/drain-seconds.yaml.patch
  third_party/istio-1.3.5/istio-crds.yaml
  third_party/istio-1.3.5/istio-knative-extras.yaml
  third_party/istio-1.3.5/istio-lean.yaml
  third_party/istio-1.3.5/istio.yaml
  third_party/istio-1.3.5/namespace.yaml.patch
  third_party/istio-1.3.5/values-extras.yaml
  third_party/istio-1.3.5/values-lean.yaml
  third_party/istio-1.3.5/values.yaml
Labels: approved, cla: yes, lgtm, size/XL

#6070 Remove all occurrences of github.com/pkg/errors in our code.
  Gopkg.lock
  cmd/queue/main.go
  pkg/autoscaler/http_scrape_client.go
  pkg/autoscaler/stats_scraper.go
  pkg/queue/readiness/probe_encoding.go
  test/e2e/autoscale_test.go
  test/e2e/subroutes_test.go
  test/v1/service.go
  test/v1alpha1/service.go
  test/v1beta1/service.go
Labels: approved, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#6093 golang format tools
  pkg/reconciler/revision/resources/deploy.go
  test/performance/benchmarks/scale-from-zero/continuous/main.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/XS

#6090 Use the new reserve API to implement locally ideal LB
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/M

#6088 Use prefix instead of regex for authority match in virtualservice
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/ingress/resources/virtual_service_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#6095 Add slack shield/link to the readme
  README.md
Labels: approved, cla: yes, lgtm, size/XS

#6091 Import the duck codegen stuff
  Gopkg.lock
  Gopkg.toml
  hack/update-codegen.sh
  pkg/apis/autoscaling/v1alpha1/podscalable_types.go
  pkg/client/injection/ducks/autoscaling/v1alpha1/podscalable/fake/fake.go
  pkg/client/injection/ducks/autoscaling/v1alpha1/podscalable/podscalable.go
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/serverlessservice/controller.go
  pkg/reconciler/serverlessservice/global_resync_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  pkg/resources/scale.go
  pkg/resources/scale_test.go
  vendor/knative.dev/pkg/apis/duck/v1/addressable_types.go
  vendor/knative.dev/pkg/apis/duck/v1/podspec_types.go
  vendor/knative.dev/pkg/apis/duck/v1/source_types.go
  vendor/knative.dev/pkg/apis/duck/v1/status_types.go
  vendor/knative.dev/pkg/apis/duck/v1alpha1/addressable_types.go
  vendor/knative.dev/pkg/apis/duck/v1alpha1/conditions_types.go
  vendor/knative.dev/pkg/apis/duck/v1alpha1/legacy_targetable_types.go
  vendor/knative.dev/pkg/apis/duck/v1alpha1/retired_targetable_types.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/addressable_types.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/source_types.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/status_types.go
  vendor/knative.dev/pkg/apis/duck/verify.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/addressable/addressable.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/addressable/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/conditions/conditions.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/conditions/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/podspecable/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/podspecable/podspecable.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/source/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1/source/source.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/addressable/addressable.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/addressable/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/conditions/conditions.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/conditions/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/legacytargetable/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/legacytargetable/legacytargetable.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/targetable/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/targetable/targetable.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1beta1/addressable/addressable.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1beta1/addressable/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1beta1/conditions/conditions.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1beta1/conditions/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1beta1/source/fake/fake.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1beta1/source/source.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/duck.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/fakeduck.go
  vendor/knative.dev/pkg/codegen/cmd/injection-gen/generators/packages.go
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/injection/ducks.go
  vendor/knative.dev/pkg/injection/informers.go
  vendor/knative.dev/pkg/injection/interface.go
  vendor/knative.dev/pkg/resolver/addressable_resolver.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/XXL

#5984 Fix verbose logging
  Gopkg.lock
  test/conformance.go
  test/e2e/e2e.go
  test/e2e_flags.go
  test/performance/performance.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#6097 Start testing Istio 1.4.0
  test/config/mtls/destinationrule.yaml
  test/config/mtls/policy.yaml
  test/e2e-common.sh
  test/e2e/istio/probing_test.go
  test/performance/performance-tests.sh
  third_party/istio-1.4-latest
  third_party/istio-1.4.0/README.md
  third_party/istio-1.4.0/download-istio.sh
  third_party/istio-1.4.0/drain-seconds.yaml.patch
  third_party/istio-1.4.0/istio-crds.yaml
  third_party/istio-1.4.0/istio-knative-extras.yaml
  third_party/istio-1.4.0/istio-lean.yaml
  third_party/istio-1.4.0/istio.yaml
  third_party/istio-1.4.0/namespace.yaml.patch
  third_party/istio-1.4.0/values-extras.yaml
  third_party/istio-1.4.0/values-lean.yaml
  third_party/istio-1.4.0/values.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XXL

#5983 Add Kourier as an Ingress option for e2e tests
  test/e2e-common.sh
  test/e2e-upgrade-tests.sh
  third_party/kourier-latest/README.md
  third_party/kourier-latest/download-kourier.sh
  third_party/kourier-latest/kourier.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5666 Update DEVELOPMENT.md to use istio 1.3
  DEVELOPMENT.md
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#6102 Update knative.dev/pkg to pick up imagetemplate changes.
  Gopkg.lock
  vendor/knative.dev/pkg/apis/duck/README.md
  vendor/knative.dev/pkg/apis/duck/v1alpha1/binding_types.go
  vendor/knative.dev/pkg/apis/duck/v1alpha1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/binding/binding.go
  vendor/knative.dev/pkg/client/injection/ducks/duck/v1alpha1/binding/fake/fake.go
  vendor/knative.dev/pkg/test/e2e_flags.go
Labels: approved, cla: yes, lgtm, size/L

#6048 Mark LoadBalancerReady False when VirtualService failed to be reconciled
  pkg/apis/networking/v1alpha1/ingress_lifecycle.go
  pkg/apis/networking/v1alpha1/ingress_lifecycle_test.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/ingress/ingress_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#6099 Validate that panic ands table window have 1s precision.
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/S

#6098 Hide the methods on the private types.
  pkg/activator/handler/concurrency_reporter.go
  pkg/autoscaler/aggregation/aggregation.go
  pkg/autoscaler/aggregation/aggregation_test.go
  pkg/autoscaler/aggregation/bucketing.go
  pkg/autoscaler/aggregation/bucketing_test.go
  pkg/autoscaler/collector.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/M

#6103 Format markdown
  README.md
Labels: approved, cla: yes, lgtm, size/XS

#6106 Adjust digest validation for image templating mechanism.
  test/conformance/api/v1/util.go
  test/conformance/api/v1alpha1/util.go
  test/conformance/api/v1beta1/util.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#6096 Fix problem of Configuration becomes ready prematurely
  pkg/apis/serving/v1alpha1/configuration_lifecycle.go
  pkg/reconciler/configuration/configuration_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/M

#6105 Define autoscaleSleep variable with default value 500
  test/e2e/autoscale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#6110 Remove Istio 1.2 template from code tree
  third_party/istio-1.2-latest
  third_party/istio-1.2.7/README.md
  third_party/istio-1.2.7/download-istio.sh
  third_party/istio-1.2.7/istio-crds.yaml
  third_party/istio-1.2.7/istio-knative-extras.yaml
  third_party/istio-1.2.7/istio-lean.yaml
  third_party/istio-1.2.7/istio.yaml
  third_party/istio-1.2.7/namespace.yaml.patch
  third_party/istio-1.2.7/prestop-sleep.yaml.patch
  third_party/istio-1.2.7/values-extras.yaml
  third_party/istio-1.2.7/values-lean.yaml
  third_party/istio-1.2.7/values.yaml
Labels: approved, cla: yes, lgtm, size/XXL

#6108 Remove panic-window configmap entry and other cleanups
  config/config-autoscaler.yaml
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa_test.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
  pkg/reconciler/autoscaling/resources/metric.go
  pkg/reconciler/autoscaling/resources/metric_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#6111 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/pkg/apis/duck/typed.go
  vendor/knative.dev/pkg/resolver/addressable_resolver.go
  vendor/knative.dev/test-infra/shared/testgrid/testgrid.go
Labels: approved, cla: yes, lgtm, size/M

#6113 Add config/OWNERS restricted to wgleads+toc
  OWNERS_ALIASES
  config/OWNERS
Labels: approved, cla: yes, lgtm, size/S

#6072 Fix validation issue of lastModifier for configuration and routes
  pkg/apis/serving/v1/configuration_validation.go
  pkg/apis/serving/v1/configuration_validation_test.go
  pkg/apis/serving/v1/route_validation.go
  pkg/apis/serving/v1/route_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/route_validation.go
  pkg/apis/serving/v1alpha1/route_validation_test.go
  pkg/apis/serving/v1beta1/configuration_validation.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
  pkg/apis/serving/v1beta1/route_validation.go
  pkg/apis/serving/v1beta1/route_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#6031 Fix parameter key to specify Istio access log encoding format in Helm values
  third_party/istio-1.3.5/istio.yaml
  third_party/istio-1.3.5/values.yaml
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#6116 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/apis/url.go
  vendor/knative.dev/pkg/client/injection/client/client.go
  vendor/knative.dev/pkg/client/injection/client/fake/fake.go
  vendor/knative.dev/pkg/client/injection/informers/factory/factory.go
  vendor/knative.dev/pkg/client/injection/informers/factory/fake/fake.go
  vendor/knative.dev/pkg/resolver/addressable_resolver.go
  vendor/knative.dev/pkg/test/kube_checks.go
Labels: approved, cla: yes, lgtm, size/L

#6107 Use 1 buckets for metrics.
  pkg/autoscaler/collector.go
  pkg/autoscaler/config_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#6119 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/reconciler/testing/table.go
  vendor/knative.dev/pkg/resolver/addressable_resolver.go
  vendor/knative.dev/pkg/webhook/testing/listers.go
Labels: approved, cla: yes, lgtm, size/M

#6120 Add endpoint consistency check to the activator test.
  test/e2e/activator_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S
