Repository knative/serving, pull requests merged in 2019-10, with the labels that each got.

#5697 Use correct port by ingress prober's Host header when istio-ingress has different target port number
  pkg/reconciler/ingress/status.go
  pkg/reconciler/ingress/status_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#5728 Remove remaining pointers to Stat(Message).
  cmd/activator/main.go
  cmd/autoscaler/main.go
  cmd/queue/main.go
  pkg/activator/handler/concurrency_reporter.go
  pkg/activator/handler/concurrency_reporter_test.go
  pkg/autoscaler/statserver/server.go
  pkg/autoscaler/statserver/server_test.go
  pkg/queue/prometheus_stats_reporter.go
  pkg/queue/prometheus_stats_reporter_test.go
  pkg/queue/stats.go
  pkg/queue/stats_test.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/L

#5731 golang format tools
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/S

#5450 Add missing testcase scenario for pkg/apis/networking and pkg/apis/config
  pkg/apis/config/defaults_test.go
  pkg/apis/networking/generic_types_test.go
  pkg/apis/networking/ports_test.go
  pkg/apis/networking/v1alpha1/certificate_lifecycle_test.go
  pkg/apis/networking/v1alpha1/ingress_accessors_test.go
  pkg/apis/networking/v1alpha1/ingress_lifecycle_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/L

#5727 Wrap to %w
  cmd/activator/main.go
  cmd/queue/main.go
  pkg/reconciler/accessor/core/secret.go
  pkg/reconciler/accessor/istio/virtualservice.go
  pkg/reconciler/accessor/networking/certificate.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/reconciler.go
  pkg/reconciler/certificate/certificate.go
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/metric/metric.go
  pkg/reconciler/metric/metric_test.go
  pkg/reconciler/nscert/nscert.go
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/serverlessservice/serverlessservice.go
  pkg/reconciler/service/service.go
  pkg/resources/scale.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#5498 Refactor test code for route
  pkg/reconciler/labeler/labeler_test.go
  pkg/reconciler/route/queueing_test.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/resources/certificate_test.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/resources/names/names_test.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/errors_test.go
  pkg/reconciler/route/traffic/traffic_test.go
  pkg/reconciler/service/service_test.go
  pkg/testing/v1alpha1/route.go
  test/v1alpha1/route.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XXL

#5605 Update kube state metrics from upstream
  config/monitoring/metrics/prometheus/100-prometheus-scrape-config.yaml
  third_party/config/monitoring/metrics/prometheus/kubernetes/kube-state-metrics.yaml
Labels: approved, area/monitoring, cla: yes, lgtm, size/L

#5735 Report activator stats in a batched way.
  cmd/activator/main.go
  pkg/activator/handler/concurrency_reporter.go
  pkg/activator/handler/concurrency_reporter_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5726 Disable mTLS on Istio 1.3
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5736 Remove unused clock from concurrency reporter.
  pkg/activator/handler/concurrency_reporter.go
  pkg/activator/handler/concurrency_reporter_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5737 Hot fix for performance testing
  test/performance/tools/common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5738 Small status_test.go refactoring and typo fixing
  pkg/reconciler/ingress/status_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#5742 golang format tools
  pkg/apis/networking/v1alpha1/ingress_accessors_test.go
  pkg/reconciler/route/reconcile_resources_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/XS

#5740 Remove Wrap(f) in the rest of the non test code
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
  pkg/network/prober/prober.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/route/reconcile_resources.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/M

#5339 VirtualService/Gateway probing E2E tests
  test/clients.go
  test/e2e-tests.sh
  test/e2e/istio/probing_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5733 service creation should fail for invalid value of initialDelaySeconds
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#5747 Use the correct zap sugared logger syntax
  cmd/autoscaler/main.go
  cmd/webhook/main.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XS

#5749 Finish the %w conversion for go1.13 in the serving part
  test/conformance/api/v1/util.go
  test/conformance/api/v1alpha1/util.go
  test/conformance/api/v1beta1/util.go
  test/e2e/autoscale_test.go
  test/e2e/e2e.go
  test/e2e/scale.go
  test/performance/observed_concurency_test.go
  test/v1/configuration.go
  test/v1/revision.go
  test/v1/route.go
  test/v1/service.go
  test/v1alpha1/configuration.go
  test/v1alpha1/revision.go
  test/v1alpha1/route.go
  test/v1alpha1/service.go
  test/v1beta1/configuration.go
  test/v1beta1/revision.go
  test/v1beta1/route.go
  test/v1beta1/service.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5702 Add e2e test for rollback scenario
  pkg/testing/v1alpha1/service.go
  test/e2e/rollback_byo_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5566 Improve the error message when invalid combination
  pkg/apis/serving/v1/route_validation.go
  pkg/apis/serving/v1/route_validation_test.go
  pkg/apis/serving/v1/service_validation_test.go
  pkg/apis/serving/v1alpha1/service_validation.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1beta1/route_validation_test.go
  pkg/apis/serving/v1beta1/service_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#5750 Always run all conformance tests
  test/e2e-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5650 add changes to accessor to cover missing functionality
  pkg/reconciler/accessor/errors_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#5756 Fix race condition and simply code
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5724 Probe the target before sending requests for dataplane-probe
  Gopkg.lock
  test/performance/dataplane-probe/main.go
  vendor/knative.dev/pkg/Gopkg.toml
  vendor/knative.dev/pkg/kmeta/accessor.go
  vendor/knative.dev/pkg/reconciler/testing/table.go
  vendor/knative.dev/pkg/reconciler/testing/tracker.go
  vendor/knative.dev/pkg/test/mako/alerter/alerter.go
  vendor/knative.dev/pkg/test/mako/alerter/github/issue.go
  vendor/knative.dev/pkg/test/mako/config/configmap.go
  vendor/knative.dev/pkg/test/mako/config/environment.go
  vendor/knative.dev/pkg/test/mako/sidecar.go
  vendor/knative.dev/pkg/test/mako/stub-sidecar/main.go
  vendor/knative.dev/pkg/test/spoof/error_checks.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/testutils/clustermanager/client.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/testutils/clustermanager/util.go
  vendor/knative.dev/pkg/testutils/gke/addon.go
  vendor/knative.dev/pkg/testutils/gke/client.go
  vendor/knative.dev/pkg/testutils/gke/fake/client.go
  vendor/knative.dev/pkg/testutils/gke/location.go
  vendor/knative.dev/pkg/testutils/gke/request.go
  vendor/knative.dev/pkg/testutils/gke/wait.go
  vendor/knative.dev/pkg/tracker/enqueue.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XXL

#5765 Upgrade to Istio 1.3.1
  third_party/istio-1.3-latest
  third_party/istio-1.3.1/README.md
  third_party/istio-1.3.1/download-istio.sh
  third_party/istio-1.3.1/istio-crds.yaml
  third_party/istio-1.3.1/istio-knative-extras.yaml
  third_party/istio-1.3.1/istio-lean.yaml
  third_party/istio-1.3.1/istio.yaml
  third_party/istio-1.3.1/namespace.yaml.patch
  third_party/istio-1.3.1/prestop-sleep.yaml.patch
  third_party/istio-1.3.1/values-extras.yaml
  third_party/istio-1.3.1/values-lean.yaml
  third_party/istio-1.3.1/values.yaml
Labels: approved, cla: yes, lgtm, size/L

#5768 Improve TestDestroyPodInflight e2e test Istio 1.3 w/ mesh
  test/e2e/destroypod_test.go
  third_party/istio-1.3.1/download-istio.sh
  third_party/istio-1.3.1/drain-seconds.yaml.patch
  third_party/istio-1.3.1/istio.yaml
  third_party/istio-1.3.1/prestop-sleep.yaml.patch
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5761 Deprecate 'clusteringress.class' key in favor of 'ingress.class'.
  DEVELOPMENT.md
  config/config-network.yaml
  pkg/network/network.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/S

#5772 Fix some annoying trivial nits in the code.
  cmd/activator/main.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/autoscaler/statserver/server_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/M

#5773 Also probe target for benchmark load-test before sending bulk requests
  test/performance/dataplane-probe/main.go
  test/performance/load-test/main.go
  test/performance/performance.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5767 Initial Slicing Implementation in Activator.
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5744 Allow the route controller to track unknown targets
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/traffic.go
  pkg/reconciler/route/traffic/traffic_test.go
  pkg/reconciler/testing/v1alpha1/factory.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#5779 Streamline logging that permits us avoiding formatting values
  pkg/activator/handler/metric_handler.go
  pkg/activator/net/revision_backends.go
  pkg/autoscaler/autoscaler.go
  pkg/reconciler/gc/gc.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/S

#5783 Upgrade to newer Istios to pickup CVE fixes.
  third_party/istio-1.1-latest
  third_party/istio-1.1.15/download-istio.sh
  third_party/istio-1.1.15/istio-knative-extras.yaml
  third_party/istio-1.1.15/prestop-sleep.yaml.patch
  third_party/istio-1.1.15/values-lean.yaml
  third_party/istio-1.1.15/values.yaml
  third_party/istio-1.2-latest
  third_party/istio-1.2.6/istio.yaml
  third_party/istio-1.2.7/README.md
  third_party/istio-1.2.7/download-istio.sh
  third_party/istio-1.2.7/istio-crds.yaml
  third_party/istio-1.2.7/istio-knative-extras.yaml
  third_party/istio-1.2.7/istio-lean.yaml
  third_party/istio-1.2.7/istio.yaml
  third_party/istio-1.2.7/namespace.yaml.patch
  third_party/istio-1.2.7/prestop-sleep.yaml.patch
  third_party/istio-1.2.7/values-extras.yaml
  third_party/istio-1.2.7/values-lean.yaml
  third_party/istio-1.2.7/values.yaml
  third_party/istio-1.3-latest
  third_party/istio-1.3.1/README.md
  third_party/istio-1.3.1/istio-crds.yaml
  third_party/istio-1.3.1/istio-lean.yaml
  third_party/istio-1.3.1/namespace.yaml.patch
  third_party/istio-1.3.1/values-extras.yaml
  third_party/istio-1.3.2/README.md
  third_party/istio-1.3.2/download-istio.sh
  third_party/istio-1.3.2/drain-seconds.yaml.patch
  third_party/istio-1.3.2/istio-crds.yaml
  third_party/istio-1.3.2/istio-knative-extras.yaml
  third_party/istio-1.3.2/istio-lean.yaml
  third_party/istio-1.3.2/istio.yaml
  third_party/istio-1.3.2/namespace.yaml.patch
  third_party/istio-1.3.2/values-extras.yaml
  third_party/istio-1.3.2/values-lean.yaml
  third_party/istio-1.3.2/values.yaml
Labels: approved, cla: yes, lgtm, size/XXL

#5240 Add annotation info /creator and /lastModifier to Configuration and Route
  pkg/apis/serving/metadata_validation.go
  pkg/apis/serving/metadata_validation_test.go
  pkg/apis/serving/v1/configuration_defaults.go
  pkg/apis/serving/v1/configuration_defaults_test.go
  pkg/apis/serving/v1/configuration_validation.go
  pkg/apis/serving/v1/configuration_validation_test.go
  pkg/apis/serving/v1/route_defaults.go
  pkg/apis/serving/v1/route_defaults_test.go
  pkg/apis/serving/v1/route_validation.go
  pkg/apis/serving/v1/route_validation_test.go
  pkg/apis/serving/v1/service_defaults.go
  pkg/apis/serving/v1/service_defaults_test.go
  pkg/apis/serving/v1/service_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_defaults.go
  pkg/apis/serving/v1alpha1/configuration_defaults_test.go
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/route_defaults.go
  pkg/apis/serving/v1alpha1/route_defaults_test.go
  pkg/apis/serving/v1alpha1/route_validation.go
  pkg/apis/serving/v1alpha1/route_validation_test.go
  pkg/apis/serving/v1alpha1/service_defaults.go
  pkg/apis/serving/v1alpha1/service_defaults_test.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1beta1/configuration_defaults.go
  pkg/apis/serving/v1beta1/configuration_defaults_test.go
  pkg/apis/serving/v1beta1/configuration_validation.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
  pkg/apis/serving/v1beta1/route_defaults.go
  pkg/apis/serving/v1beta1/route_defaults_test.go
  pkg/apis/serving/v1beta1/route_validation.go
  pkg/apis/serving/v1beta1/route_validation_test.go
  pkg/apis/serving/v1beta1/service_defaults.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
  pkg/apis/serving/v1beta1/service_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/XXL

#5784 Wait for scale to 0 for benchmark load-test
  test/performance/load-test/main.go
  test/performance/metrics/runtime.go
  test/performance/performance.go
  test/performance/tools/common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5787 Remove the deprecated service field.
  pkg/apis/autoscaling/v1alpha1/pa_types.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XS

#5788 fix metric handler chaining
  cmd/activator/main.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/XS

#5789 Fix 'GET' strings to a constant and other minor nits
  pkg/activator/handler/handler_test.go
  pkg/activator/handler/healthz_handler_test.go
  test/performance/dataplane-probe/sla.go
  test/performance/load-test/main.go
Labels: approved, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#5793 Fix dataplane-probe benchmark
  test/performance/dataplane-probe/dataplane-probe.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5745 Update zipkin-go to v0.2.2
  Gopkg.lock
  vendor/github.com/openzipkin/zipkin-go/context.go
  vendor/github.com/openzipkin/zipkin-go/doc.go
  vendor/github.com/openzipkin/zipkin-go/endpoint.go
  vendor/github.com/openzipkin/zipkin-go/idgenerator/idgenerator.go
  vendor/github.com/openzipkin/zipkin-go/model/annotation.go
  vendor/github.com/openzipkin/zipkin-go/model/doc.go
  vendor/github.com/openzipkin/zipkin-go/model/endpoint.go
  vendor/github.com/openzipkin/zipkin-go/model/kind.go
  vendor/github.com/openzipkin/zipkin-go/model/span.go
  vendor/github.com/openzipkin/zipkin-go/model/span_id.go
  vendor/github.com/openzipkin/zipkin-go/model/traceid.go
  vendor/github.com/openzipkin/zipkin-go/noop.go
  vendor/github.com/openzipkin/zipkin-go/propagation/propagation.go
  vendor/github.com/openzipkin/zipkin-go/reporter/http/http.go
  vendor/github.com/openzipkin/zipkin-go/reporter/recorder/recorder.go
  vendor/github.com/openzipkin/zipkin-go/reporter/reporter.go
  vendor/github.com/openzipkin/zipkin-go/reporter/serializer.go
  vendor/github.com/openzipkin/zipkin-go/sample.go
  vendor/github.com/openzipkin/zipkin-go/span.go
  vendor/github.com/openzipkin/zipkin-go/span_implementation.go
  vendor/github.com/openzipkin/zipkin-go/span_options.go
  vendor/github.com/openzipkin/zipkin-go/tags.go
  vendor/github.com/openzipkin/zipkin-go/tracer.go
  vendor/github.com/openzipkin/zipkin-go/tracer_options.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#5792 Remove Deleted field in the backend update
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/net/throttler.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#5794 Removing duplicated imports and unused code.
  cmd/webhook/main.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1alpha1/route.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#5785 Add @taragu as a reviewer for the autoscaling group.
  OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, size/XS

#5796 Use the generated/injected secret informer
  pkg/reconciler/accessor/core/secret_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#5797 Remove non injected informers.
  cmd/activator/request_log_test.go
  pkg/activator/net/revision_backends_test.go
  pkg/reconciler/accessor/networking/certificate_test.go
  pkg/reconciler/ingress/controller.go
  pkg/reconciler/ingress/resources/gateway_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#5801 Improve the route test.
  pkg/reconciler/route/route_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#5803 Fix problem where the HEAD tests cannot run against older clusters.
  test/clients.go
  test/e2e/autoscale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5448 Remove logURL assertion from conformance tests.
  test/conformance/api/v1/errorcondition_test.go
  test/conformance/api/v1alpha1/errorcondition_test.go
  test/conformance/api/v1beta1/errorcondition_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5805 Update to Istio 1.3.3
  third_party/istio-1.3-latest
  third_party/istio-1.3.3/README.md
  third_party/istio-1.3.3/download-istio.sh
  third_party/istio-1.3.3/drain-seconds.yaml.patch
  third_party/istio-1.3.3/istio-crds.yaml
  third_party/istio-1.3.3/istio-knative-extras.yaml
  third_party/istio-1.3.3/istio-lean.yaml
  third_party/istio-1.3.3/istio.yaml
  third_party/istio-1.3.3/namespace.yaml.patch
  third_party/istio-1.3.3/values-extras.yaml
  third_party/istio-1.3.3/values-lean.yaml
  third_party/istio-1.3.3/values.yaml
Labels: approved, cla: yes, lgtm, size/M

#5810 Bump YAML library to latest release.
  Gopkg.lock
  Gopkg.toml
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
Labels: approved, cla: yes, lgtm, size/M

#5811 Run Istio tests having mutations after scale tests.
  test/e2e-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5799 Remove invalid command `kubectl autoscale deploy activator` in e2e-common.sh
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5807 Add e2e test to destroy activator pod in flight
  pkg/testing/v1alpha1/service.go
  test/e2e/destroypod_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5819 Revert "Add e2e test to destroy activator pod in flight (#5807)"
  pkg/testing/v1alpha1/service.go
  test/e2e/destroypod_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5812 Use an SLO approach in TestAutoscalingSustaining
  test/e2e/autoscale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5804 refactor revision lifecycle status markers
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/pa_test.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/traffic/traffic_test.go
  pkg/testing/v1alpha1/revision.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, ok-to-test, size/L

#5820 Prefer Pod IPs to ClusterIPs when possible
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5826 Use sleep 15s less than TERMINATION_DRAIN_DURATION_SECONDS in TestDestroyPodWithRequests
  test/e2e/destroypod_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5715 Call API when removing route's finalizer
  pkg/reconciler/route/route.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#5832 Fix the backend assignment when # of activators changes
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5835 Log activator pod name as key.
  cmd/activator/main.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#5836 Receive SIGTERM in main routine and signal to HealthHandler to let readiness probe start failing
  cmd/activator/main.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5800 Updated knative.dev/pkg
  Gopkg.lock
  vendor/knative.dev/pkg/OWNERS_ALIASES
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/pkg/logging/config.go
  vendor/knative.dev/pkg/metrics/config.go
  vendor/knative.dev/pkg/metrics/exporter.go
  vendor/knative.dev/pkg/source/doc.go
  vendor/knative.dev/pkg/source/source_labels.go
  vendor/knative.dev/pkg/test/gke/addon.go
  vendor/knative.dev/pkg/test/gke/client.go
  vendor/knative.dev/pkg/test/gke/fake/client.go
  vendor/knative.dev/pkg/test/gke/location.go
  vendor/knative.dev/pkg/test/gke/request.go
  vendor/knative.dev/pkg/test/gke/wait.go
  vendor/knative.dev/pkg/test/helpers/data.go
  vendor/knative.dev/pkg/test/helpers/dryrun.go
  vendor/knative.dev/pkg/test/helpers/name.go
  vendor/knative.dev/pkg/test/mako/alerter/alerter.go
  vendor/knative.dev/pkg/test/mako/alerter/github/issue.go
  vendor/knative.dev/pkg/test/mako/alerter/slack/message.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/test/zipkin/util.go
  vendor/knative.dev/pkg/testutils/clustermanager/e2e-tests/boskos/boskos.go
  vendor/knative.dev/pkg/testutils/clustermanager/e2e-tests/boskos/fake/fake.go
  vendor/knative.dev/pkg/testutils/clustermanager/e2e-tests/client.go
  vendor/knative.dev/pkg/testutils/clustermanager/e2e-tests/common/common.go
  vendor/knative.dev/pkg/testutils/clustermanager/e2e-tests/doc.go
  vendor/knative.dev/pkg/testutils/clustermanager/e2e-tests/gke.go
  vendor/knative.dev/pkg/testutils/clustermanager/e2e-tests/util.go
  vendor/knative.dev/pkg/testutils/clustermanager/perf-tests/main.go
  vendor/knative.dev/pkg/testutils/clustermanager/perf-tests/pkg/benchmark.go
  vendor/knative.dev/pkg/testutils/clustermanager/perf-tests/pkg/cluster.go
  vendor/knative.dev/pkg/testutils/clustermanager/perf-tests/pkg/testdir/test-benchmark1/cluster.yaml
  vendor/knative.dev/pkg/testutils/clustermanager/perf-tests/pkg/testdir/test-benchmark2/cluster.yaml
  vendor/knative.dev/pkg/testutils/clustermanager/perf-tests/pkg/testdir/test-benchmark3/cluster.yaml
  vendor/knative.dev/pkg/testutils/clustermanager/perf-tests/pkg/testdir/test-benchmark4/noop.yaml
  vendor/knative.dev/pkg/websocket/connection.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XXL

#5795 Fix race in TestGlobalResyncOnUpdateDomainConfigMap test
  pkg/activator/handler/handler_test.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/net/throttler_test.go
  pkg/reconciler/accessor/core/secret_test.go
  pkg/reconciler/accessor/istio/virtualservice_test.go
  pkg/reconciler/accessor/networking/certificate_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/ingress/ingress_test.go
  pkg/reconciler/revision/queueing_test.go
  pkg/reconciler/revision/revision_test.go
  pkg/reconciler/route/queueing_test.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/serverlessservice/global_resync_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, ok-to-test, size/L

#5824 Add container and pod labels to revision and activator metrics
  cmd/activator/main.go
  cmd/queue/main.go
  config/activator.yaml
  config/autoscaler.yaml
  config/controller.yaml
  pkg/activator/stats_reporter.go
  pkg/activator/stats_reporter_test.go
  pkg/metrics/key.go
  pkg/queue/stats/stats_reporter.go
  pkg/queue/stats/stats_reporter_test.go
Labels: approved, area/monitoring, area/networking, cla: yes, lgtm, size/M

#5843 Enable alert for dataplane-probe benchmark
  test/performance/dataplane-probe/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5842 Common function to process one vegeta attack result
  test/performance/dataplane-probe/main.go
  test/performance/load-test/main.go
  test/performance/metrics/request.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5846 Fix incorrect use of Error instead of Errorf
  pkg/activator/net/revision_backends.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#5840 Better backend assignment.
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5847 Fix error wrapping in the status prober.
  pkg/reconciler/ingress/status.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#5729 Consistently use Duration helpers to get correct units.
  DEVELOPMENT.md
  pkg/activator/stats_reporter.go
  pkg/queue/stats/stats_reporter.go
  pkg/reconciler/stats_reporter.go
  test/e2e/destroypod_test.go
  test/performance/latency_test.go
  test/performance/observed_concurency_test.go
  test/performance/scale_revision_by_load_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/S

#5849 Fix dataplane probe benchmark
  test/performance/dataplane-probe/dataplane-probe.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5854 Explicitly get a single endpoints object in the status prober.
  pkg/reconciler/ingress/status.go
  pkg/reconciler/ingress/status_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#5855 Fix the outdated comment
  pkg/reconciler/autoscaling/kpa/controller.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XS

#5857 Fix spelling errors
  pkg/activator/net/revision_backends.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/XS

#5858 golang format tools
  pkg/activator/net/throttler_test.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/ingress/ingress_test.go
  pkg/reconciler/route/route_test.go
  test/e2e/istio/probing_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#5853 Move all fmt.Errorf calls from %v to %w for errors.
  cmd/default-domain/main.go
  pkg/apis/config/defaults.go
  pkg/autoscaler/http_scrape_client.go
  pkg/autoscaler/multiscaler_test.go
  pkg/queue/health/probe.go
  pkg/queue/prometheus_stats_reporter.go
  pkg/reconciler/ingress/config/istio.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/metric/metric.go
  pkg/reconciler/nscert/nscert.go
  pkg/reconciler/route/domains/domains.go
  test/conformance/api/v1/generatename_test.go
  test/conformance/api/v1/single_threaded_test.go
  test/conformance/api/v1/util.go
  test/conformance/api/v1alpha1/generatename_test.go
  test/conformance/api/v1alpha1/single_threaded_test.go
  test/conformance/api/v1alpha1/util.go
  test/conformance/api/v1beta1/generatename_test.go
  test/conformance/api/v1beta1/single_threaded_test.go
  test/conformance/api/v1beta1/util.go
  test/conformance/runtime/filesystem_test.go
  test/e2e/autoscale_test.go
  test/e2e/istio/probing_test.go
  test/e2e/namespace_test.go
  test/performance/observed_concurency_test.go
  test/performance/performance.go
  test/performance/scale_from_zero_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#5848 Update test-infra
  Gopkg.lock
  test/presubmit-tests.sh
  vendor/knative.dev/test-infra/scripts/README.md
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
  vendor/knative.dev/test-infra/scripts/performance-tests.sh
  vendor/knative.dev/test-infra/scripts/presubmit-tests.sh
  vendor/knative.dev/test-infra/shared/testgrid/testgrid.go
  vendor/knative.dev/test-infra/shared/testgrid/yaml.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5863 Switch the remaining StartInformers in tests to RunInformers
  pkg/activator/net/throttler_test.go
  test/performance/scale_revision_by_load_test.go
Labels: approved, area/networking, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#5869 Special case inifite concurrency case to assign all trackers.
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#5865 Fix race in activator's revisionWatcher
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, kind/bug, lgtm, ok-to-test, size/M

#5539 Let nscert's wildcard certs create secret with domain name instead of the name of namespace
  pkg/reconciler/nscert/nscert_test.go
  pkg/reconciler/nscert/resources/wildcard_certificate.go
  pkg/reconciler/nscert/resources/wildcard_certificate_test.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#5874 Adding standard duck label on CRD to signal this resource adheres to Addressable
  config/300-route.yaml
  config/300-service.yaml
Labels: approved, cla: yes, lgtm, size/XS

#5875 Manually update knative.dev/pkg due to test errors.
  Gopkg.lock
  pkg/activator/stats_reporter_test.go
  pkg/queue/stats/stats_reporter_test.go
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/caching/Gopkg.toml
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/apis/v1alpha1/destination.go
  vendor/knative.dev/pkg/metrics/config.go
  vendor/knative.dev/pkg/metrics/exporter.go
  vendor/knative.dev/pkg/metrics/gcp_metadata.go
  vendor/knative.dev/pkg/metrics/metricstest/metricstest.go
  vendor/knative.dev/pkg/metrics/stackdriver_exporter.go
  vendor/knative.dev/pkg/resolver/addressable_resolver.go
  vendor/knative.dev/pkg/test/mako/alerter/github/issue.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5871 Add yaml to explicitly create our webhook configs.
  Gopkg.lock
  cmd/webhook/main.go
  config/500-webhook-configuration.yaml
  vendor/knative.dev/pkg/apis/duck/README.md
  vendor/knative.dev/pkg/webhook/config_validation_controller.go
  vendor/knative.dev/pkg/webhook/resource_admission_controller.go
  vendor/knative.dev/pkg/webhook/webhook.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#5878 Updating pkg to latest for 0.10 release.
  Gopkg.lock
  Gopkg.toml
Labels: approved, cla: yes, lgtm, size/XS

#5879 revert the 'better' assigment
  pkg/activator/net/throttler.go
  pkg/activator/net/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5880 Make the tests more reliable by increasing timeout
  pkg/activator/handler/handler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#5882 Remove dead code, simplify and fix comment in Throttler
  pkg/activator/net/throttler.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#5881 Move all benchmark files into a separate folder
  test/performance/benchmarks/dataplane-probe/continuous/dataplane-probe-setup.yaml
  test/performance/benchmarks/dataplane-probe/continuous/dataplane-probe.yaml
  test/performance/benchmarks/dataplane-probe/continuous/dev.config
  test/performance/benchmarks/dataplane-probe/continuous/kodata/HEAD
  test/performance/benchmarks/dataplane-probe/continuous/kodata/dev.config
  test/performance/benchmarks/dataplane-probe/continuous/kodata/prod.config
  test/performance/benchmarks/dataplane-probe/continuous/kodata/refs
  test/performance/benchmarks/dataplane-probe/continuous/main.go
  test/performance/benchmarks/dataplane-probe/continuous/prod.config
  test/performance/benchmarks/dataplane-probe/continuous/sla.go
  test/performance/benchmarks/deployment-probe/continuous/benchmark.yaml
  test/performance/benchmarks/deployment-probe/continuous/dev.config
  test/performance/benchmarks/deployment-probe/continuous/kodata/HEAD
  test/performance/benchmarks/deployment-probe/continuous/kodata/basic-template.yaml
  test/performance/benchmarks/deployment-probe/continuous/kodata/dev.config
  test/performance/benchmarks/deployment-probe/continuous/kodata/prod.config
  test/performance/benchmarks/deployment-probe/continuous/kodata/refs
  test/performance/benchmarks/deployment-probe/continuous/main.go
  test/performance/benchmarks/deployment-probe/continuous/prod.config
  test/performance/benchmarks/deployment-probe/continuous/sla.go
  test/performance/benchmarks/load-test/continuous/dev.config
  test/performance/benchmarks/load-test/continuous/kodata/HEAD
  test/performance/benchmarks/load-test/continuous/kodata/dev.config
  test/performance/benchmarks/load-test/continuous/kodata/prod.config
  test/performance/benchmarks/load-test/continuous/kodata/refs
  test/performance/benchmarks/load-test/continuous/load-test-setup.yaml
  test/performance/benchmarks/load-test/continuous/load-test.yaml
  test/performance/benchmarks/load-test/continuous/main.go
  test/performance/benchmarks/load-test/continuous/prod.config
  test/performance/benchmarks/load-test/continuous/sla.go
  test/performance/performance-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5639 Add changes to through an error for autoscaling.knative.dev/window when provided class is hpa.autoscaling.knative.dev
  pkg/apis/autoscaling/annotation_validation.go
  pkg/apis/autoscaling/annotation_validation_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#5862 Cleanup the revision backend test
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#5823 Use RevisionContainerExitingMessage
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#5676 Add correct path info while error display
  pkg/apis/serving/v1/configuration_validation_test.go
  pkg/apis/serving/v1/revision_validation.go
  pkg/apis/serving/v1/service_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
  pkg/apis/serving/v1beta1/service_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#5415 Add permissions for caching.internal.knative.dev to namespace admin role
  config/200-clusterrole-namespaced.yaml
Labels: approved, cla: yes, lgtm, size/XS

#5884 Remove deadcode and duplicate imports.
  pkg/activator/net/throttler.go
  pkg/reconciler/accessor/networking/certificate_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#5886 Return error after parseGateways failed soon
  pkg/reconciler/ingress/config/istio.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#5888 Have the GC config take context.
  cmd/webhook/main.go
  pkg/gc/config.go
  pkg/gc/config_test.go
  pkg/reconciler/gc/config/store.go
  pkg/reconciler/gc/config/store_test.go
  pkg/reconciler/gc/controller.go
  pkg/reconciler/route/config/store.go
  pkg/reconciler/route/config/store_test.go
  pkg/reconciler/route/controller.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#5891 Add more tests to RMB to cover service failures.
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5889 Delete istio pods before reinstalling for performance testing
  test/performance/performance-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5861 Add pod and container labels to activator concurrency metric as well
  pkg/activator/stats_reporter.go
  pkg/activator/stats_reporter_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#5629 Do not remove default TLS server modified by users in gateway
  pkg/reconciler/ingress/resources/gateway.go
  pkg/reconciler/ingress/resources/gateway_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#5897 Format markdown
  test/performance/Benchmarks.md
  test/performance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#5896 golang format tools
  pkg/reconciler/revision/table_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/XS

#5782 Stop assuming that !Gloo=Istio and that mesh is Istio only.
  test/e2e-common.sh
  test/e2e-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5102 Check file access information in conformance tests
  test/conformance/runtime/filesystem_test.go
  test/test_images/runtime/handlers/file_access_attempt.go
  test/test_images/runtime/handlers/runtime.go
  test/types/runtime.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5899 Unify helper for setting MetricsService status.
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/testing/functional.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/L

#5902 Use Istio if no gateway was specified for e2e-tests.sh
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5907 Decouple 'TestActivationHandler' from timing to stabilize it.
  pkg/activator/handler/handler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#4619 Short FQDN into spec.hosts of {virtualservice}-mesh if Istio sidecar injected for service only visible within cluster
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/ingress/resources/virtual_service_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/XS

#5590 Prevent duplicate wildcard certificates
  pkg/reconciler/nscert/nscert.go
  pkg/reconciler/nscert/nscert_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/M

#5910 Manually bump dependencies to unblock bots.
  Gopkg.lock
  Gopkg.toml
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/test-infra/scripts/performance-tests.sh
Labels: approved, cla: yes, lgtm, size/M

#5909 Add vaikas to OWNERS via new account
  OWNERS
  pkg/apis/OWNERS
Labels: approved, area/API, cla: yes, lgtm, size/XS

#5915 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/OWNERS_ALIASES
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#5911 Pull in the latest knative/pkg, incl. webhook refactor.
  Gopkg.lock
  Gopkg.toml
  cmd/webhook/main.go
  config/500-webhook-configuration.yaml
  test/apicoverage/image/common/common.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/OWNERS_ALIASES
  vendor/knative.dev/pkg/RELEASING.md
  vendor/knative.dev/pkg/client/injection/kube/informers/admissionregistration/v1beta1/mutatingwebhookconfiguration/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/admissionregistration/v1beta1/mutatingwebhookconfiguration/mutatingwebhookconfiguration.go
  vendor/knative.dev/pkg/client/injection/kube/informers/admissionregistration/v1beta1/validatingwebhookconfiguration/fake/fake.go
  vendor/knative.dev/pkg/client/injection/kube/informers/admissionregistration/v1beta1/validatingwebhookconfiguration/validatingwebhookconfiguration.go
  vendor/knative.dev/pkg/controller/controller.go
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/injection/README.md
  vendor/knative.dev/pkg/injection/clients/dynamicclient/dynamicclient.go
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/test/junit/junit.go
  vendor/knative.dev/pkg/test/mako/alerter/slack/message.go
  vendor/knative.dev/pkg/test/mako/sidecar.go
  vendor/knative.dev/pkg/test/slackutil/message_read.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/apicoverage_recorder.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/webhook.go
  vendor/knative.dev/pkg/webhook/README.md
  vendor/knative.dev/pkg/webhook/certificates/certificates.go
  vendor/knative.dev/pkg/webhook/certificates/controller.go
  vendor/knative.dev/pkg/webhook/certificates/resources/certs.go
  vendor/knative.dev/pkg/webhook/certificates/resources/secret.go
  vendor/knative.dev/pkg/webhook/configmaps/configmaps.go
  vendor/knative.dev/pkg/webhook/configmaps/controller.go
  vendor/knative.dev/pkg/webhook/context.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/controller.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/resourcesemantics.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/user_info.go
  vendor/knative.dev/pkg/webhook/stats_reporter.go
  vendor/knative.dev/pkg/webhook/testing/factory.go
  vendor/knative.dev/pkg/webhook/testing/listers.go
  vendor/knative.dev/pkg/webhook/testing/testing.go
  vendor/knative.dev/pkg/webhook/webhook.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/XXL
