Repository knative/serving, pull requests merged in 2019-08, with the labels that each got.

#5010 Add better logging in scaler and metrics.
  pkg/autoscaler/collector.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4928 Update the PodAutoscaler status when desiredScale is unknown
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#5012 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
  vendor/knative.dev/pkg/apis/condition_set.go
  vendor/knative.dev/pkg/configmap/store.go
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/hack/update-deps.sh
  vendor/knative.dev/pkg/hack/verify-codegen.sh
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/test/presubmit-tests.sh
  vendor/knative.dev/test-infra/shared/testgrid/yaml.go
  vendor/knative.dev/test-infra/tools/webhook-apicoverage/webhook/apicoverage_recorder.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#5013 Simple refactor for ResolveConcurrency
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/resources/concurrency.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#5023 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/caching/Gopkg.toml
  vendor/knative.dev/caching/hack/update-deps.sh
  vendor/knative.dev/caching/test/presubmit-tests.sh
Labels: approved, cla: yes, lgtm, ok-to-test, size/M

#4952 Add ClusterIP monitoring for revision backends
  pkg/activator/activator.go
  pkg/activator/handler/handler.go
  pkg/activator/net/helpers.go
  pkg/activator/net/helpers_test.go
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/revision_backends.go
  pkg/activator/revision_backends_test.go
  pkg/activator/testing/roundtripper.go
Labels: approved, area/networking, cla: yes, lgtm, size/XXL

#4996 Simple cache prober activator revival and retouching.
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/testing/roundtripper.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5017 Use injection based client creation in activator and webhook.
  cmd/activator/main.go
  cmd/webhook/main.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#5028 Move withTU function to testing package
  pkg/reconciler/autoscaling/resources/concurrency_test.go
  pkg/testing/functional.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/S

#4969 Refactor ingress controller to use accessor model for reconciling VS
  pkg/reconciler/accessor/istio/virtualservice.go
  pkg/reconciler/accessor/istio/virtualservice_test.go
  pkg/reconciler/ingress/ingress.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#5027 Prepare for the deprecation of RevisionRequestConcurrencyModelType
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/serving/v1alpha1/revision_defaults.go
  pkg/apis/serving/v1alpha1/revision_types.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#5014 Add the update and re-create scripts for running perf benchmarks
  test/performance/tools/Dockerfile
  test/performance/tools/Makefile
  test/performance/tools/common.sh
  test/performance/tools/create_cluster_benchmark.sh
  test/performance/tools/recreate-serving/README.md
  test/performance/tools/recreate-serving/recreate-test.yaml
  test/performance/tools/recreate-serving/recreate.sh
  test/performance/tools/recreate-serving/recreate.yaml
  test/performance/tools/update-serving/README.md
  test/performance/tools/update-serving/update-test.yaml
  test/performance/tools/update-serving/update.sh
  test/performance/tools/update-serving/update.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XL

#5026 Fixes to backend watcher for better testing
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/testing/roundtripper.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#4724 Change scale-to-zero period for rolling upgrade tests
  test/upgrade/service_preupgrade_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5035 Use config helpers to simplify autoscaler and activator main.
  Gopkg.lock
  cmd/activator/main.go
  cmd/autoscaler/main.go
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/injection/sharedmain/main.go
  vendor/knative.dev/pkg/test/vegeta/pacers/combined_pacer.go
  vendor/knative.dev/pkg/test/vegeta/pacers/steady_up_pacer.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/L

#5039 Format markdown
  test/performance/tools/recreate-serving/README.md
  test/performance/tools/update-serving/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#5038 golang format tools
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/M

#5034 Fix some double quoting, typos and misleading logs.
  pkg/reconciler/accessor/istio/virtualservice.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/ingress/ingress.go
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/errors.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#5029 Fix flaky unit test
  pkg/reconciler/route/queueing_test.go
  pkg/reconciler/route/route.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XS

#5049 Remove unnecessary volume mounts.
  cmd/webhook/main.go
  config/activator.yaml
  config/autoscaler-hpa.yaml
  config/autoscaler.yaml
  config/controller.yaml
  config/networking-certmanager.yaml
  config/networking-istio.yaml
  config/webhook.yaml
Labels: approved, area/API, cla: yes, lgtm, size/M

#5050 Updating pkg to latest for 0.8 release.
  Gopkg.lock
  Gopkg.toml
Labels: approved, cla: yes, lgtm, size/XS

#5051 Remove useless make(map) in revisionbackends
  pkg/activator/net/revision_backends.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#5052 Bring back removed fields.
  pkg/apis/serving/v1alpha1/route_types.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#5053 Fix comment for API reference docs
  pkg/apis/serving/v1beta1/revision_types.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#5055 Fix missing value in log message
  pkg/reconciler/autoscaling/kpa/scaler.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, ok-to-test, size/XS

#5057 Route is ready only when the Ingress is ready and has been reconciled
  pkg/reconciler/route/route.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XS

#4976 Remove 404 retry logic in E2E tests
  test/v1alpha1/route.go
  test/v1beta1/route.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/S

#5047 Combine some KPA tests into existing table tests
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, ok-to-test, size/L

#5059 Remove obsolete comment for 404 retry exception in e2e test
  test/v1alpha1/route.go
  test/v1beta1/route.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#5058 Remove unused arg in SetupSecretTracker
  pkg/reconciler/clusteringress/clusteringress.go
  pkg/reconciler/ingress/ingress.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/XS

#4763 Do not allow modification for creator/lastModifer annotations
  pkg/apis/serving/v1alpha1/service_defaults_test.go
  pkg/apis/serving/v1alpha1/service_lifecycle_test.go
  pkg/apis/serving/v1alpha1/service_validation.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1beta1/service_validation.go
  pkg/apis/serving/v1beta1/service_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/L

#5063 Add missing files to HPA controller.
  cmd/autoscaler-hpa/OWNERS
  cmd/autoscaler-hpa/kodata/HEAD
  cmd/autoscaler-hpa/kodata/LICENSE
  cmd/autoscaler-hpa/kodata/VENDOR-LICENSE
Labels: approved, cla: yes, lgtm, size/S

#5064 Enable autoscale for Istio gateways in E2E tests
  third_party/istio-1.1.7/istio-lean.yaml
  third_party/istio-1.1.7/istio.yaml
  third_party/istio-1.1.7/values-lean.yaml
  third_party/istio-1.1.7/values.yaml
  third_party/istio-1.2.0/istio-lean.yaml
  third_party/istio-1.2.0/istio.yaml
  third_party/istio-1.2.0/values-lean.yaml
  third_party/istio-1.2.0/values.yaml
Labels: approved, cla: yes, lgtm, size/M

#5065 Small change: use Pacer from pkg
  test/performance/benchmarks_test.go
  test/performance/pacers.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5072 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/test-infra/scripts/e2e-tests.sh
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#5067 Add a simple dataplane-probe benchmark.
  Gopkg.lock
  test/performance/dataplane-probe/dataplane-probe-setup.yaml
  test/performance/dataplane-probe/dataplane-probe.config
  test/performance/dataplane-probe/dataplane-probe.yaml
  test/performance/dataplane-probe/main.go
  test/performance/dataplane-probe/sla.go
  test/performance/mako/sidecar.go
  test/performance/mako/time.go
  vendor/github.com/google/mako/LICENSE
  vendor/github.com/google/mako/clients/proto/analyzers/threshold_analyzer_go_proto/threshold_analyzer.pb.go
  vendor/github.com/google/mako/clients/proto/analyzers/utest_analyzer_go_proto/utest_analyzer.pb.go
  vendor/github.com/google/mako/clients/proto/analyzers/window_deviation_go_proto/window_deviation.pb.go
  vendor/github.com/google/mako/helpers/go/quickstore/quickstore.go
  vendor/github.com/google/mako/helpers/proto/quickstore/quickstore_go_proto/quickstore.pb.go
  vendor/github.com/google/mako/internal/go/common/common_deps.go
  vendor/github.com/google/mako/internal/quickstore_microservice/proto/quickstore_go_proto/quickstore.pb.go
  vendor/github.com/google/mako/spec/proto/mako_go_proto/mako.pb.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XXL

#4995 Validate system annotations
  pkg/apis/serving/metadata_validation.go
  pkg/apis/serving/metadata_validation_test.go
  pkg/apis/serving/register.go
  pkg/apis/serving/v1beta1/configuration_validation.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
  pkg/apis/serving/v1beta1/register.go
  pkg/apis/serving/v1beta1/revision_validation.go
  pkg/apis/serving/v1beta1/route_validation.go
  pkg/apis/serving/v1beta1/route_validation_test.go
  pkg/apis/serving/v1beta1/service_validation.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#5079 Updating pkg to latest for 0.9 work.
  Gopkg.lock
  Gopkg.toml
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/kmeta/names.go
  vendor/knative.dev/pkg/test/request.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/calculator.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/coveragedata.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/coveragecalculator/ignorefields.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/arraykindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/basictypekindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/node.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/otherkindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/ptrkindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/resourceforest.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/resourcetree.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/rule.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/structkindnode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/test_util.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/resourcetree/timetypenode.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/tools/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/tools/tools.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/html_display.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/view/rule.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/README.md
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/apicoverage_recorder.go
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/webhook.go
Labels: approved, area/API, cla: yes, lgtm, size/XXL

#5048 Have the labeling reconciler label Revisions.
  pkg/reconciler/labeler/labeler.go
  pkg/reconciler/labeler/labeler_test.go
  pkg/reconciler/labeler/labels.go
  pkg/testing/v1alpha1/revision.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#5081 Drop a vestigial flag.
  test/performance/load-test/load-test.config
  test/performance/load-test/load-test.yaml
  test/performance/load-test/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5085 Remove redundant -port suffix from activator yaml
  config/activator.yaml
Labels: approved, cla: yes, lgtm, size/XS

#4921 Fix report metric issue
  cmd/activator/main.go
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/handler/metric_handler.go
  pkg/activator/handler/metric_handler_test.go
Labels: approved, area/networking, cla: yes, lgtm, needs-ok-to-test, size/L

#5087 Fix output of generate-yamls.sh
  hack/generate-yamls.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5033 Use general word instead of "Concurrency" in order to support other metric in KPA
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
  pkg/autoscaler/multiscaler.go
  pkg/autoscaler/multiscaler_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/resources/decider.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
  pkg/reconciler/autoscaling/resources/target.go
  pkg/reconciler/autoscaling/resources/target_test.go
  pkg/testing/functional.go
  test/performance/scale_revision_by_load_test.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/L

#4876 Refactor garbage collection from configuration reconciler
  cmd/controller/main.go
  hack/update-codegen.sh
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/reconciler/configuration/controller.go
  pkg/reconciler/gc/config/doc.go
  pkg/reconciler/gc/config/store.go
  pkg/reconciler/gc/config/store_test.go
  pkg/reconciler/gc/config/testdata/config-gc.yaml
  pkg/reconciler/gc/config/zz_generated.deepcopy.go
  pkg/reconciler/gc/controller.go
  pkg/reconciler/gc/gc.go
  pkg/reconciler/gc/gc_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XL

#5088 Alter the load-test to rotate through several TBC settings.
  test/performance/load-test/load-test-setup.yaml
  test/performance/load-test/load-test.config
  test/performance/load-test/load-test.yaml
  test/performance/load-test/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5089 Replace pacers in load-test.go with CombinedPacer
  test/performance/load-test/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5042 Refactor ingress controller to use access model to reconcile Secret
  pkg/reconciler/accessor/core/secret.go
  pkg/reconciler/accessor/core/secret_test.go
  pkg/reconciler/accessor/errors.go
  pkg/reconciler/accessor/errors_test.go
  pkg/reconciler/accessor/istio/virtualservice.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/ingress/ingress.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#5093 Ensure that the Route label isn't propagated to the Deployment.
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/meta.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#5090 Tag runs with the kubernetes version from the API Server.
  test/performance/load-test/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4723 Make TBC 200 by default
  config/config-autoscaler.yaml
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#5015 Make operationsPerSecond calculate correctly irrespective of the value of reporterReportingPeriod
  cmd/queue/main.go
  pkg/queue/prometheus_stats_reporter.go
  pkg/queue/prometheus_stats_reporter_test.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/L

#5041 Fix h2c bug with revisions backends manager
  pkg/activator/net/helpers.go
  pkg/activator/net/helpers_test.go
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5096 golang format tools
  cmd/controller/main.go
  pkg/activator/handler/metric_handler_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
  pkg/reconciler/configuration/controller.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, ok-to-test, size/S

#5097 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/pkg/test/webhook-apicoverage/webhook/apicoverage_recorder.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#5098 Revert " Make TBC 200 by default"
  config/config-autoscaler.yaml
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#5036 Make `percent` *int
  pkg/apis/serving/v1alpha1/route_conversion_test.go
  pkg/apis/serving/v1alpha1/route_defaults.go
  pkg/apis/serving/v1alpha1/route_defaults_test.go
  pkg/apis/serving/v1alpha1/route_validation.go
  pkg/apis/serving/v1alpha1/route_validation_test.go
  pkg/apis/serving/v1alpha1/service_conversion.go
  pkg/apis/serving/v1alpha1/service_conversion_test.go
  pkg/apis/serving/v1alpha1/service_defaults_test.go
  pkg/apis/serving/v1alpha1/service_lifecycle_test.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1beta1/route_defaults.go
  pkg/apis/serving/v1beta1/route_defaults_test.go
  pkg/apis/serving/v1beta1/route_types.go
  pkg/apis/serving/v1beta1/route_validation.go
  pkg/apis/serving/v1beta1/route_validation_test.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
  pkg/apis/serving/v1beta1/service_validation_test.go
  pkg/apis/serving/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/labeler/labeler_test.go
  pkg/reconciler/route/queueing_test.go
  pkg/reconciler/route/reconcile_resources_test.go
  pkg/reconciler/route/resources/ingress.go
  pkg/reconciler/route/resources/ingress_test.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/traffic.go
  pkg/reconciler/route/traffic/traffic_test.go
  pkg/reconciler/service/resources/route_test.go
  pkg/reconciler/service/resources/shared_test.go
  pkg/reconciler/service/service_test.go
  pkg/testing/v1alpha1/route.go
  pkg/testing/v1alpha1/service.go
  test/conformance/api/v1alpha1/blue_green_test.go
  test/conformance/api/v1alpha1/revision_timeout_test.go
  test/conformance/api/v1alpha1/service_test.go
  test/conformance/api/v1beta1/blue_green_test.go
  test/conformance/api/v1beta1/revision_timeout_test.go
  test/conformance/api/v1beta1/service_test.go
  test/e2e/route_service_test.go
  test/e2e/subroutes_test.go
  test/v1alpha1/route.go
  test/v1beta1/route.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XXL

#5074 Bubble up probe serialisation error
  pkg/reconciler/revision/cruds.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  pkg/reconciler/revision/table_test.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#5100 Dont divide concurrency by time
  pkg/queue/prometheus_stats_reporter.go
  pkg/queue/prometheus_stats_reporter_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#4861 Update comment httpProtocol is valid when reconcileExternalGateway is enabled
  config/config-network.yaml
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#5077 Refactor deployment status propagation
  pkg/apis/serving/k8s_lifecycle.go
  pkg/apis/serving/k8s_lifecycle_test.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/v1alpha1/revision.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#5108 Fix the pacer issue in perf tests
  test/performance/load-test/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5109 Use knative-perf image for cronjobs
  test/performance/load-test/load-test.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5105 Use `pa.ScaleBounds()` instead of accessing the annotation directly
  pkg/reconciler/autoscaling/kpa/kpa.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#5112 golang format tools
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/S

#5107 Update the yamls and dockerfile to point to latest image
  test/performance/tools/Dockerfile
  test/performance/tools/recreate-serving/recreate-test.yaml
  test/performance/tools/recreate-serving/recreate.sh
  test/performance/tools/recreate-serving/recreate.yaml
  test/performance/tools/update-serving/update-test.yaml
  test/performance/tools/update-serving/update.sh
  test/performance/tools/update-serving/update.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5113 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/caching/OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#5114 Delete all jobs before deleting k8s objects when updating cluster for perf jobs
  test/performance/tools/common.sh
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/XS

#5115 Remove the version tag for now
  test/performance/load-test/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5116 Remove build from clean-up instructions
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, size/XS

#5106 Don't mark the revision as `Updating` when reconciling PA
  pkg/reconciler/revision/reconcile_resources.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#5119 Update location of scripts to match the yaml
  test/performance/tools/Dockerfile
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5123 Add kubernetes version back in the benchmark
  test/performance/load-test/main.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5131 Fix wrong log format in certificate
  pkg/reconciler/certificate/certificate.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/XS

#5132 Remove shadowed logging package.
  cmd/activator/main.go
  cmd/queue/main.go
  pkg/logging/config.go
  pkg/logging/config_test.go
  pkg/reconciler/revision/config/store.go
  pkg/reconciler/revision/config/store_test.go
Labels: approved, area/API, area/monitoring, area/networking, cla: yes, lgtm, size/L

#5133 Remove unused field in configuration reconciler.
  pkg/reconciler/configuration/configuration.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#5128 Validate volume-sources and -projections more deeply.
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#5137 Add forceUpgrade to list of allowed annotations
  pkg/apis/serving/metadata_validation.go
  pkg/apis/serving/metadata_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#5091 add an option to run e2e test with reconcileExternalGateway enabled
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5071 Update log level to run tests on debug level
  hack/verify-codegen.sh
  pkg/logging/config_test.go
  pkg/logging/testdata/test-config-logging.yaml
  test/config/config-logging.yaml
Labels: approved, area/monitoring, area/test-and-release, cla: yes, lgtm, ok-to-test, size/L

#5120 Fix a test in pkg/activator/metric_handler_test.go
  pkg/activator/handler/metric_handler.go
  pkg/activator/handler/metric_handler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5104 Refactor metadata validation tests
  pkg/apis/serving/metadata_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#5144 Rely on a given point in time for 'inStatusFor' checks.
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#5139 Remove clusteringress resources in route reconcile loop
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/XL

#5125 Add support for distinct performance test environments.
  test/performance/config/config-mako.yaml
  test/performance/dataplane-probe/dataplane-probe.yaml
  test/performance/dataplane-probe/dev.config
  test/performance/dataplane-probe/kodata/dev.config
  test/performance/dataplane-probe/kodata/prod.config
  test/performance/dataplane-probe/main.go
  test/performance/dataplane-probe/prod.config
  test/performance/load-test/dev.config
  test/performance/load-test/kodata/dev.config
  test/performance/load-test/kodata/prod.config
  test/performance/load-test/load-test.yaml
  test/performance/load-test/main.go
  test/performance/load-test/prod.config
  test/performance/mako/benchmark.go
  test/performance/mako/config.go
  test/performance/mako/config_test.go
  test/performance/mako/environment.go
  test/performance/mako/testdata/config-mako.yaml
  test/performance/tools/common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5151 Add missing dev.config benchmark_key
  test/performance/load-test/dev.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5150 Add json struct tag to ProtocolType on PA
  pkg/apis/autoscaling/v1alpha1/pa_types.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XS

#5149 Ignore Gateways that cannot be probed (yet).
  pkg/reconciler/ingress/resources/gateway.go
  pkg/reconciler/ingress/resources/gateway_test.go
  pkg/reconciler/ingress/status.go
  pkg/reconciler/ingress/status_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#4944 Upgrade to latest Istio & remove old versions.
  third_party/istio-1.1-latest
  third_party/istio-1.1.13/README.md
  third_party/istio-1.1.13/download-istio.sh
  third_party/istio-1.1.13/istio-crds.yaml
  third_party/istio-1.1.13/istio-knative-extras.yaml
  third_party/istio-1.1.13/istio-lean.yaml
  third_party/istio-1.1.13/istio.yaml
  third_party/istio-1.1.13/namespace.yaml.patch
  third_party/istio-1.1.13/prestop-sleep.yaml.patch
  third_party/istio-1.1.13/values-extras.yaml
  third_party/istio-1.1.13/values-lean.yaml
  third_party/istio-1.1.13/values.yaml
  third_party/istio-1.1.2/README.md
  third_party/istio-1.1.2/download-istio.sh
  third_party/istio-1.1.2/prestop-sleep.yaml.patch
  third_party/istio-1.1.3/README.md
  third_party/istio-1.1.3/download-istio.sh
  third_party/istio-1.1.3/istio-crds.yaml
  third_party/istio-1.1.3/istio-knative-extras.yaml
  third_party/istio-1.1.3/istio.yaml
  third_party/istio-1.1.3/prestop-sleep.yaml.patch
  third_party/istio-1.1.7/istio-crds.yaml
  third_party/istio-1.1.7/istio-lean.yaml
  third_party/istio-1.1.7/istio.yaml
  third_party/istio-1.1.7/namespace.yaml.patch
  third_party/istio-1.2-latest
  third_party/istio-1.2.0/istio-knative-extras.yaml
  third_party/istio-1.2.0/istio.yaml
  third_party/istio-1.2.0/namespace.yaml.patch
  third_party/istio-1.2.4/README.md
  third_party/istio-1.2.4/download-istio.sh
  third_party/istio-1.2.4/istio-crds.yaml
  third_party/istio-1.2.4/istio-knative-extras.yaml
  third_party/istio-1.2.4/istio-lean.yaml
  third_party/istio-1.2.4/istio.yaml
  third_party/istio-1.2.4/namespace.yaml.patch
  third_party/istio-1.2.4/prestop-sleep.yaml.patch
  third_party/istio-1.2.4/values-extras.yaml
  third_party/istio-1.2.4/values-lean.yaml
  third_party/istio-1.2.4/values.yaml
Labels: approved, cla: yes, lgtm, size/XXL

#5154 Remove duplicate status check in service test
  test/v1beta1/service.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XS

#5155 Update Activator Import
  cmd/activator/main.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#5167 Add kleung robot to dev.config files
  test/performance/dataplane-probe/dev.config
  test/performance/load-test/dev.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5164 Update queue proxy import for zipkin
  cmd/queue/main.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/XS

#5142 Refactor tools to migrate benchmark cluster update cronjobs to Prow
  test/performance/tools/Makefile
  test/performance/tools/README.md
  test/performance/tools/common.sh
  test/performance/tools/recreate-serving/README.md
  test/performance/tools/recreate-serving/recreate-test.yaml
  test/performance/tools/recreate-serving/recreate.yaml
  test/performance/tools/recreate_clusters.sh
  test/performance/tools/update-serving/README.md
  test/performance/tools/update-serving/update-test.yaml
  test/performance/tools/update-serving/update.sh
  test/performance/tools/update-serving/update.yaml
  test/performance/tools/update_clusters.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5066 Merge KPA table tests
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, ok-to-test, size/XL

#5136 Refactor route.go to use accessor model to reconcile Certificate
  pkg/reconciler/accessor/core/secret.go
  pkg/reconciler/accessor/networking/certificate.go
  pkg/reconciler/accessor/networking/certificate_test.go
  pkg/reconciler/route/route.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#5169 Fix link to serving performance metrics
  test/performance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5170 Some nits around activator test code.
  pkg/activator/handler/concurrency_reporter_test.go
  pkg/activator/handler/metric_handler_test.go
  pkg/activator/handler/requestevent_handler_test.go
  pkg/activator/net/helpers.go
  pkg/activator/net/helpers_test.go
  pkg/activator/testing/roundtripper.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5141 Add RPS support when resolving target value for scaling
  config/config-autoscaler.yaml
  pkg/apis/autoscaling/register.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
  pkg/reconciler/autoscaling/resources/metric_test.go
  pkg/reconciler/autoscaling/resources/target.go
  pkg/reconciler/autoscaling/resources/target_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#5173 Reduce resource usage for istio-lean.yaml.
  third_party/istio-1.1.13/istio-lean.yaml
  third_party/istio-1.1.13/values-lean.yaml
  third_party/istio-1.2.4/istio-lean.yaml
  third_party/istio-1.2.4/values-lean.yaml
Labels: approved, cla: yes, lgtm, size/M

#5178 Format markdown
  test/performance/README.md
  test/performance/tools/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#5179 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/pkg/apis/duck/v1beta1/source_types.go
  vendor/knative.dev/pkg/apis/duck/v1beta1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/apis/url.go
  vendor/knative.dev/pkg/apis/v1alpha1/destination.go
  vendor/knative.dev/pkg/apis/v1alpha1/doc.go
  vendor/knative.dev/pkg/apis/v1alpha1/zz_generated.deepcopy.go
  vendor/knative.dev/pkg/changeset/commit.go
  vendor/knative.dev/pkg/changeset/testdata/garbage/HEAD
  vendor/knative.dev/pkg/changeset/testdata/with-refs/HEAD
  vendor/knative.dev/pkg/changeset/testdata/with-refs/refs/heads/branch-name
  vendor/knative.dev/pkg/hack/update-codegen.sh
  vendor/knative.dev/pkg/testutils/README.md
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/boskos.go
  vendor/knative.dev/pkg/testutils/clustermanager/client.go
  vendor/knative.dev/pkg/testutils/clustermanager/doc.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/testutils/clustermanager/util.go
  vendor/knative.dev/pkg/testutils/common/common.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/XL

#5177 golang format tools
  cmd/activator/main.go
  cmd/queue/main.go
  pkg/apis/serving/metadata_validation.go
  pkg/reconciler/ingress/resources/gateway_test.go
  pkg/reconciler/ingress/status_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/M

#5099 Container concurrency to pointer (cont. of #4911)
  config/config-defaults.yaml
  pkg/activator/handler/handler_test.go
  pkg/activator/net/revision_backends_test.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
  pkg/apis/config/defaults.go
  pkg/apis/serving/metadata_validation.go
  pkg/apis/serving/v1alpha1/configuration_conversion_test.go
  pkg/apis/serving/v1alpha1/configuration_defaults_test.go
  pkg/apis/serving/v1alpha1/revision_conversion.go
  pkg/apis/serving/v1alpha1/revision_conversion_test.go
  pkg/apis/serving/v1alpha1/revision_defaults.go
  pkg/apis/serving/v1alpha1/revision_defaults_test.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_types.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/service_conversion_test.go
  pkg/apis/serving/v1alpha1/service_defaults_test.go
  pkg/apis/serving/v1beta1/configuration_defaults_test.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
  pkg/apis/serving/v1beta1/revision_defaults.go
  pkg/apis/serving/v1beta1/revision_defaults_test.go
  pkg/apis/serving/v1beta1/revision_lifecycle.go
  pkg/apis/serving/v1beta1/revision_types.go
  pkg/apis/serving/v1beta1/revision_validation.go
  pkg/apis/serving/v1beta1/revision_validation_test.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
  pkg/apis/serving/v1beta1/service_validation_test.go
  pkg/apis/serving/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
  pkg/reconciler/autoscaling/resources/metric_test.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/imagecache_test.go
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/resources/pa_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  pkg/testing/functional.go
  pkg/testing/v1alpha1/configuration.go
  pkg/testing/v1alpha1/revision.go
  pkg/testing/v1alpha1/service.go
  pkg/testing/v1beta1/service.go
  test/e2e/activator_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XL

#5175 Add refs links to enable better changeset resolution.
  cmd/activator/kodata/refs
  cmd/autoscaler-hpa/kodata/refs
  cmd/autoscaler/kodata/refs
  cmd/controller/kodata/refs
  cmd/networking/certmanager/kodata/refs
  cmd/networking/istio/kodata/refs
  cmd/queue/kodata/refs
  cmd/webhook/kodata/refs
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/XS

#5183 Fix a typo in the performance-test script
  test/performance/tools/common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5171 Add the docs for mako dev process
  test/performance/dev.md
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5185 Add vagababov's SA for dev mako runs
  test/performance/dataplane-probe/dev.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5159 New probe handling in Queue-Proxy & Activator
  cmd/activator/main.go
  cmd/queue/main.go
  pkg/autoscaler/http_scrape_client.go
  pkg/network/network.go
  pkg/network/probe_handler.go
  pkg/network/probe_handler_test.go
  pkg/network/prober/prober.go
  pkg/network/prober/prober_test.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/L

#5188 Reference .git/refs from root for perf tests
  test/performance/dataplane-probe/kodata/refs
  test/performance/load-test/kodata/refs
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5158 Remove the wildcard HTTPS server from knative-ingress-gateway
  config/202-gateway.yaml
Labels: approved, cla: yes, lgtm, size/XS

#5193 Generalize the benchmark tagging.
  test/performance/dataplane-probe/main.go
  test/performance/load-test/main.go
  test/performance/mako/sidecar.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5184 Add support for custom tags.
  test/performance/config/config-mako.yaml
  test/performance/mako/config.go
  test/performance/mako/environment.go
  test/performance/mako/sidecar.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#5101 Performance test case refactoring
  test/performance/load-test/main.go
  test/performance/metrics/runtime.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#5199 Update .sh boilerplate year
  hack/boilerplate/boilerplate.sh.txt
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5138 More consistent lifecycle conditions for certificate
  pkg/apis/networking/v1alpha1/certificate_lifecycle.go
  pkg/apis/networking/v1alpha1/certificate_lifecycle_test.go
  pkg/reconciler/certificate/certificate.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/S

#5205 Format markdown
  test/performance/dev.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#5206 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
  vendor/knative.dev/pkg/configmap/testing/configmap.go
  vendor/knative.dev/pkg/testutils/clustermanager/boskos/boskos.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#5194 Make ingress prober ready when gets StatusMovedPermanently for the response
  pkg/activator/handler/handler.go
  pkg/activator/net/revision_backends.go
  pkg/network/probe_handler_test.go
  pkg/network/prober/prober.go
  pkg/network/prober/prober_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/ingress/status.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/M

#5190 Add scaling based on RPS for KPA
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
  pkg/autoscaler/multiscaler.go
  pkg/reconciler/autoscaling/kpa/resources/decider.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#5147 Add `Reachability` field to PodAutoscaler spec
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/resources/pa_test.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/functional.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/L

#5211 Fix the metric name in the dataplane probe
  test/performance/dataplane-probe/sla.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5210 Revert back to 200 as default TBC
  config/config-autoscaler.yaml
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#5212 Update the docs to describe how to attach tags
  test/performance/dataplane-probe/dev.config
  test/performance/dev.md
  test/performance/load-test/dev.config
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5222 Use the version from knative.dev/pkg
  Gopkg.lock
  cmd/activator/main.go
  cmd/queue/main.go
  cmd/queue/main_test.go
  hack/update-codegen.sh
  pkg/activator/config/store.go
  pkg/activator/config/zz_generated.deepcopy.go
  pkg/activator/handler/handler_test.go
  pkg/reconciler/revision/config/store.go
  pkg/reconciler/revision/config/store_test.go
  pkg/reconciler/revision/queueing_test.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  pkg/reconciler/revision/revision_test.go
  pkg/reconciler/revision/table_test.go
  pkg/tracing/config/doc.go
  pkg/tracing/config/tracing.go
  pkg/tracing/config/tracing_test.go
  pkg/tracing/config/zz_generated.deepcopy.go
  pkg/tracing/http.go
  pkg/tracing/http_test.go
  pkg/tracing/opencensus.go
  pkg/tracing/opencensus_test.go
  pkg/tracing/zipkin.go
  pkg/tracing/zipkin_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XL

#5215 Add two more dataplane probes
  test/performance/dataplane-probe/dataplane-probe-setup.yaml
  test/performance/dataplane-probe/dataplane-probe.yaml
  test/performance/dataplane-probe/dev.config
  test/performance/dataplane-probe/prod.config
  test/performance/dataplane-probe/sla.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#5226 Format markdown
  test/performance/dev.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#5224 Set default timeout when 0 is specified
  pkg/apis/serving/v1beta1/revision_defaults.go
  pkg/apis/serving/v1beta1/revision_defaults_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#5218 Some linter/nit fixes to the PA/Revision code
  pkg/reconciler/revision/resources/pa.go
  pkg/reconciler/revision/table_test.go
  pkg/testing/functional.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/M

#5220 nit fix: Use ErrInvalidValue for invalid autoscaling.knative.dev/metric value
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#5225 Incorporate the changes to config-tracing
  Gopkg.lock
  cmd/activator/main.go
  cmd/queue/main.go
  cmd/queue/main_test.go
  config/config-tracing.yaml
  pkg/activator/handler/handler_test.go
  pkg/reconciler/revision/queueing_test.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  vendor/knative.dev/pkg/tracing/config/tracing.go
  vendor/knative.dev/pkg/tracing/opencensus.go
  vendor/knative.dev/pkg/tracing/testing/zipkin.go
  vendor/knative.dev/pkg/tracing/zipkin.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#5231 Remove the dead code in QP
  pkg/queue/timeout.go
  pkg/queue/timeout_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#5233 Also add projectID as a tag to the benchmark run.
  test/performance/mako/sidecar.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5182 Move autoscaler status propagation
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/reconciler/revision/reconcile_resources.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#5239 Kill kail process after test
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#5241 Further reducing Istio resources.
  third_party/istio-1.1.13/istio-lean.yaml
  third_party/istio-1.1.13/values-lean.yaml
  third_party/istio-1.2.4/istio-lean.yaml
  third_party/istio-1.2.4/values-lean.yaml
Labels: approved, cla: yes, lgtm, size/M

#4884 Only observe minScale if revision is reachable
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/testing/functional.go
  test/e2e/minscale_readiness_test.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/L

#5229 Note that we're using the same analyzers.
  test/performance/dataplane-probe/sla.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5230 Add cross run config in analyzer
  Gopkg.lock
  test/performance/dataplane-probe/dataplane-probe.yaml
  test/performance/dataplane-probe/sla.go
  test/performance/load-test/load-test.yaml
  test/performance/load-test/main.go
  test/performance/load-test/sla.go
  test/performance/mako/analyzer.go
  test/performance/mako/sidecar.go
  vendor/github.com/google/mako/clients/proto/analyzers/threshold_analyzer_go_proto/threshold_analyzer.pb.go
  vendor/github.com/google/mako/helpers/go/quickstore/quickstore.go
  vendor/github.com/google/mako/spec/proto/mako_go_proto/mako.pb.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XXL

#5162 Add labels and annotations to Certificates resources
  pkg/reconciler/certificate/resources/cert_manager_certificate.go
  pkg/reconciler/certificate/resources/cert_manager_certificate_test.go
  pkg/reconciler/route/resources/certificate.go
  pkg/reconciler/route/resources/certificate_test.go
  pkg/reconciler/route/table_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#5249 Auto-update dependencies
  Gopkg.lock
  vendor/knative.dev/caching/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.lock
  vendor/knative.dev/pkg/Gopkg.toml
  vendor/knative.dev/pkg/OWNERS_ALIASES
  vendor/knative.dev/pkg/test/mako/README.md
  vendor/knative.dev/pkg/test/mako/analyzer.go
  vendor/knative.dev/pkg/test/mako/benchmark.go
  vendor/knative.dev/pkg/test/mako/config.go
  vendor/knative.dev/pkg/test/mako/environment.go
  vendor/knative.dev/pkg/test/mako/sidecar.go
  vendor/knative.dev/pkg/test/mako/testdata/config-mako.yaml
  vendor/knative.dev/pkg/test/mako/time.go
  vendor/knative.dev/pkg/testutils/clustermanager/gke.go
  vendor/knative.dev/pkg/testutils/clustermanager/util.go
  vendor/knative.dev/test-infra/scripts/presubmit-tests.sh
Labels: approved, cla: yes, lgtm, ok-to-test, size/XL

#5251 Fix `Reachability` json struct tag
  pkg/apis/autoscaling/v1alpha1/pa_types.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XS

#5191 Use view.Count() instead of view.Sum() for request count stats
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/stats_reporter.go
  pkg/activator/stats_reporter_test.go
  pkg/queue/request_metric.go
  pkg/queue/request_metric_test.go
  pkg/queue/stats/stats_reporter.go
  pkg/queue/stats/stats_reporter_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#5242 Simplify the backend manager a bit.
  pkg/activator/net/revision_backends.go
  pkg/activator/net/revision_backends_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#5252 Remove addonmanager labels from monitoring.yaml
  third_party/config/monitoring/logging/elasticsearch/elasticsearch.yaml
  third_party/config/monitoring/logging/elasticsearch/kibana.yaml
Labels: approved, area/monitoring, cla: yes, lgtm, size/XS

#5255 Fix race condition in `TestMinScale` that causes occasional flakes
  test/e2e/minscale_readiness_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#5256 Remove unused contaxt from ValidateContainerConcurrency
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/serving/metadata_validation.go
  pkg/apis/serving/metadata_validation_test.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1beta1/revision_validation.go
  pkg/apis/serving/v1beta1/revision_validation_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#5260 Add the missing comments and fix a bug in the perf tests.
  pkg/apis/autoscaling/register.go
  test/performance/metrics/runtime.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/XS

#5219 Use cluster local gateway for communication using cluster local domain
  pkg/reconciler/ingress/resources/virtual_service.go
  pkg/reconciler/ingress/resources/virtual_service_test.go
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/resources/service_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#5202 Skip copying over kubectl.kubernetes.io/last-applied-configuration annotation
  pkg/reconciler/service/resources/configuration.go
  pkg/reconciler/service/resources/configuration_test.go
  pkg/reconciler/service/resources/route.go
  pkg/reconciler/service/resources/route_test.go
  pkg/reconciler/service/resources/shared_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/M
