Repository knative/serving, pull requests merged in 2019-06, with the labels that each got.

#4200 Remove the test build resource and controller
  hack/update-codegen.sh
  test/apis/doc.go
  test/apis/testing/register.go
  test/apis/testing/v1alpha1/build_types.go
  test/apis/testing/v1alpha1/build_types_test.go
  test/apis/testing/v1alpha1/doc.go
  test/apis/testing/v1alpha1/register.go
  test/apis/testing/v1alpha1/zz_generated.deepcopy.go
  test/client/clientset/versioned/clientset.go
  test/client/clientset/versioned/doc.go
  test/client/clientset/versioned/fake/clientset_generated.go
  test/client/clientset/versioned/fake/doc.go
  test/client/clientset/versioned/fake/register.go
  test/client/clientset/versioned/scheme/doc.go
  test/client/clientset/versioned/scheme/register.go
  test/client/clientset/versioned/typed/testing/v1alpha1/build.go
  test/client/clientset/versioned/typed/testing/v1alpha1/doc.go
  test/client/clientset/versioned/typed/testing/v1alpha1/fake/doc.go
  test/client/clientset/versioned/typed/testing/v1alpha1/fake/fake_build.go
  test/client/clientset/versioned/typed/testing/v1alpha1/fake/fake_testing_client.go
  test/client/clientset/versioned/typed/testing/v1alpha1/generated_expansion.go
  test/client/clientset/versioned/typed/testing/v1alpha1/testing_client.go
  test/client/informers/externalversions/factory.go
  test/client/informers/externalversions/generic.go
  test/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  test/client/informers/externalversions/testing/interface.go
  test/client/informers/externalversions/testing/v1alpha1/build.go
  test/client/informers/externalversions/testing/v1alpha1/interface.go
  test/client/listers/testing/v1alpha1/build.go
  test/client/listers/testing/v1alpha1/expansion_generated.go
  test/clients.go
  test/reconciler/build/build.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#3881 Add endpoint_wait span in activator
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#4187 Regard revisions as stale if they are never pinned and non-ready status after creation
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
Labels: approved, area/API, cla: yes, lgtm, ok-to-test, size/M

#4220 Update used HPA API to v2beta1.
  Gopkg.lock
  cmd/autoscaler/main.go
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
  pkg/reconciler/testing/listers.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4108 Add test to ensure services in another namespace does not affect route.
  test/e2e/namespace_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4197 Remove remaining deprecated fields from status.
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/traffic.go
  pkg/reconciler/route/traffic/traffic_test.go
  pkg/reconciler/service/resources/shared_test.go
  pkg/reconciler/service/service_test.go
  pkg/reconciler/testing/functional.go
  test/e2e/scale.go
  test/e2e/service_to_service_test.go
  test/states.go
  test/upgrade/upgrade.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#4219 The string in the constant is removed
  pkg/activator/activator.go
Labels: approved, area/networking, cla: yes, lgtm, ok-to-test, size/XS

#4145 Separate Runtime and API Conformance tests
  test/conformance.go
  test/conformance/api/blue_green_test.go
  test/conformance/api/cmd_args_test.go
  test/conformance/api/configuration_test.go
  test/conformance/api/errorcondition_test.go
  test/conformance/api/generatename_test.go
  test/conformance/api/protocol_test.go
  test/conformance/api/resources_test.go
  test/conformance/api/revision_timeout_test.go
  test/conformance/api/route_test.go
  test/conformance/api/service_test.go
  test/conformance/api/single_threaded_test.go
  test/conformance/api/util.go
  test/conformance/api/volumes_test.go
  test/conformance/api/workingdir_test.go
  test/conformance/runtime/cgroup_test.go
  test/conformance/runtime/container_test.go
  test/conformance/runtime/envpropagation_test.go
  test/conformance/runtime/envvars_test.go
  test/conformance/runtime/file_descriptor_test.go
  test/conformance/runtime/filesystem_test.go
  test/conformance/runtime/header_test.go
  test/conformance/runtime/sysctl_test.go
  test/conformance/runtime/user_test.go
  test/conformance/runtime/util.go
  test/conformance/util.go
  test/e2e-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XXL

#4226 Inject ReadyPodCounter into NewServiceScraper
  cmd/autoscaler/main.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#4191 Bubble up pod schedule errors to revision status
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/testing/functional.go
  test/e2e/pod_schedule_error_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#4228 remove duplicate test case
  pkg/apis/serving/k8s_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#4221 Move to corev1.PodSpec now that vN-1 supports the containers field.
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_conversion_test.go
  pkg/apis/serving/v1alpha1/configuration_defaults_test.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/revision_conversion.go
  pkg/apis/serving/v1alpha1/revision_conversion_test.go
  pkg/apis/serving/v1alpha1/revision_defaults_test.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/service_conversion_test.go
  pkg/apis/serving/v1alpha1/service_defaults_test.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1beta1/configuration_defaults_test.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
  pkg/apis/serving/v1beta1/revision_defaults_test.go
  pkg/apis/serving/v1beta1/revision_types.go
  pkg/apis/serving/v1beta1/revision_validation.go
  pkg/apis/serving/v1beta1/revision_validation_test.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
  pkg/apis/serving/v1beta1/service_validation_test.go
  pkg/apis/serving/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/reconciler/configuration/queueing_test.go
  pkg/reconciler/revision/queueing_test.go
  pkg/reconciler/revision/resources/imagecache_test.go
  pkg/reconciler/revision/resources/queue_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/traffic_test.go
  pkg/reconciler/testing/functional.go
  test/crd.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#3040 Scaling Roadmap 2019
  docs/roadmap/scaling-2019.md
Labels: approved, area/autoscale, cla: yes, lgtm, size/L

#4151 Enable setting the resource request/limits via annotations for queue-proxy side-car container
  pkg/apis/serving/register.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  pkg/reconciler/revision/resources/resourceboundary.go
  pkg/reconciler/revision/resources/resourceboundary_test.go
  test/configuration.go
  test/crd.go
  test/e2e/helloworld_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XL

#4238 Remove unused constants.
  pkg/apis/serving/register.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#4230 Remove outdated comment about auto TLS
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, size/XS

#4241 golang format tools
  pkg/autoscaler/autoscaler_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, ok-to-test, size/XS

#4236 Move Metric interfaces into the general autoscaling package.
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/resources/decider.go
  pkg/reconciler/autoscaling/resources/metric.go
  pkg/reconciler/autoscaling/resources/metric_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4242 Apply various fixes pointed out by staticcheck.
  cmd/activator/request_log_test.go
  cmd/networking/certmanager/main.go
  cmd/networking/istio/main.go
  pkg/activator/handler/handler_test.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1beta1/configuration_lifecycle.go
  pkg/apis/serving/v1beta1/revision_lifecycle.go
  pkg/apis/serving/v1beta1/route_lifecycle.go
  pkg/apis/serving/v1beta1/service_lifecycle.go
  pkg/autoscaler/autoscaler_test.go
  pkg/autoscaler/multiscaler_test.go
  pkg/autoscaler/stats_scraper.go
  pkg/deployment/config.go
  pkg/http/request_log_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/certificate/certificate.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/clusteringress/resources/gateway.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/reconciler/labeler/labels.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/service/resources/shared_test.go
  pkg/reconciler/service/service.go
  pkg/reconciler/service/service_test.go
  pkg/tracing/config/tracing.go
  pkg/tracing/opencensus.go
  test/conformance/api/util.go
  test/e2e/autoscale_test.go
  test/performance/performance.go
  test/performance/scale_from_zero_test.go
  test/test_images/runtime/handlers/cgroup.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#4240 Format markdown
  docs/roadmap/scaling-2019.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/L

#4243 Drop DeprecatedName from service_test.go
  pkg/reconciler/service/service_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#4237 Make autoscaling configuration available to the HPA reconciler.
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4252 Make the route prober take a logging.FormatLogger
  test/conformance/api/route_test.go
  test/conformance/api/service_test.go
  test/e2e/scale.go
  test/prober.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4249 Factor calculation of final target concurrency out of the KPA.
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
  pkg/reconciler/autoscaling/kpa/resources/decider.go
  pkg/reconciler/autoscaling/resources/concurrency.go
  pkg/reconciler/autoscaling/resources/concurrency_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4250 SKS private service will use random names
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/serverlessservice/global_resync_test.go
  pkg/reconciler/serverlessservice/resources/names/doc.go
  pkg/reconciler/serverlessservice/resources/names/names.go
  pkg/reconciler/serverlessservice/resources/names/names_test.go
  pkg/reconciler/serverlessservice/resources/services.go
  pkg/reconciler/serverlessservice/resources/services_test.go
  pkg/reconciler/serverlessservice/serverlessservice.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  pkg/reconciler/testing/factory.go
  pkg/reconciler/testing/functional.go
  pkg/reconciler/testing/listers.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#4255 Use existing values for min/max nodes when running e2e tests, if provided
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4256 fix the formatting in the table test
  pkg/reconciler/route/table_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#4260 Remove MetricSpec from DeciderSpec.
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
  pkg/autoscaler/multiscaler.go
  pkg/reconciler/autoscaling/kpa/resources/decider.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4261 Surface internal scraping errors and other refactors.
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#4248 Update knative/pkg to get the updates to pkg's logging/.
  Gopkg.lock
  Gopkg.toml
  pkg/logging/config.go
  pkg/logging/config_test.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/addressable_types.go
  vendor/github.com/knative/pkg/logging/config.go
Labels: approved, area/monitoring, cla: yes, lgtm, size/M

#4265 Remove immutability in PA validation
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4156 Collect /var/log without fluentd sidecar
  cmd/queue/main.go
  cmd/queue/main_test.go
  config/config-observability.yaml
  config/monitoring/logging/elasticsearch/100-fluentd-configmap.yaml
  config/monitoring/logging/elasticsearch/200-fluentd.yaml
  config/monitoring/logging/stackdriver/100-fluentd-configmap.yaml
  config/monitoring/logging/stackdriver/200-fluentd.yaml
  pkg/metrics/config.go
  pkg/metrics/config_test.go
  pkg/reconciler/revision/config/store_test.go
  pkg/reconciler/revision/queueing_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/constants.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/fluentd.go
  pkg/reconciler/revision/resources/fluentd_test.go
  pkg/reconciler/revision/resources/names/names.go
  pkg/reconciler/revision/resources/names/names_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/revision/revision_test.go
  pkg/reconciler/revision/table_test.go
Labels: approved, area/API, area/monitoring, area/networking, cla: yes, lgtm, size/XXL

#4273 Some additional code was removed
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#4264 Change how Reconcile works.
  pkg/reconciler/serverlessservice/serverlessservice.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#4269 [Release 0.6] Cherrypick: remove immutability in PA validation
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4282 golang format tools
  cmd/networking/certmanager/main.go
  pkg/reconciler/certificate/certificate.go
  pkg/reconciler/certificate/certificate_test.go
  pkg/reconciler/certificate/controller.go
  pkg/reconciler/testing/listers.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/S

#4223 Update the istio version from 1.1.3 to 1.1.7
  DEVELOPMENT.md
  third_party/istio-1.1-latest
  third_party/istio-1.1.7/README.md
  third_party/istio-1.1.7/download-istio.sh
  third_party/istio-1.1.7/istio-crds.yaml
  third_party/istio-1.1.7/istio-knative-extras.yaml
  third_party/istio-1.1.7/istio-lean.yaml
  third_party/istio-1.1.7/istio.yaml
  third_party/istio-1.1.7/namespace.yaml.patch
  third_party/istio-1.1.7/prestop-sleep.yaml.patch
Labels: approved, cla: yes, lgtm, ok-to-test, size/XXL

#4271 Add internal URL fields to the API coverage ignore list
  test/apicoverage/image/kodata/ignoredfields.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4211 Add probe to upgrade test
  test/e2e-upgrade-tests.sh
  test/upgrade/README.md
  test/upgrade/probe_test.go
  test/upgrade/service_postupgrade_test.go
  test/upgrade/service_preupgrade_test.go
  test/upgrade/upgrade.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4285 Consolidate Istio helm options to a values.yaml file.
  third_party/istio-1.1.7/README.md
  third_party/istio-1.1.7/download-istio.sh
  third_party/istio-1.1.7/istio-knative-extras.yaml
  third_party/istio-1.1.7/istio-lean.yaml
  third_party/istio-1.1.7/istio.yaml
  third_party/istio-1.1.7/prestop-sleep.yaml.patch
  third_party/istio-1.1.7/values.yaml
Labels: approved, cla: yes, lgtm, size/XXL

#4284 Process the even when the channel is closed gracefully
  cmd/queue/main.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#4267 Test upgrading a scaled-to-zero revision
  test/upgrade/service_postupgrade_test.go
  test/upgrade/service_preupgrade_test.go
  test/upgrade/upgrade.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4210 Enable use of annotations in domainTemplate
  config/config-network.yaml
  pkg/network/network.go
  pkg/network/network_test.go
  pkg/network/zz_generated.deepcopy.go
  pkg/reconciler/route/domains/domains.go
  pkg/reconciler/route/domains/domains_test.go
  pkg/reconciler/route/route_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, ok-to-test, size/L

#4245 Sanity check GC revision timeout
  pkg/gc/config.go
  pkg/gc/config_test.go
  pkg/reconciler/configuration/config/store.go
  pkg/reconciler/configuration/config/store_test.go
  pkg/reconciler/configuration/controller.go
  pkg/reconciler/route/config/store.go
  pkg/reconciler/route/config/store_test.go
  pkg/reconciler/route/controller.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#4287 Metric svc field
  pkg/autoscaler/collector.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/resources/metric.go
  pkg/reconciler/autoscaling/resources/metric_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4289 Allow users to specify their container name.
  config/config-defaults.yaml
  docs/spec/spec.md
  pkg/apis/config/defaults.go
  pkg/apis/config/defaults_test.go
  pkg/apis/config/store_test.go
  pkg/apis/serving/fieldmask.go
  pkg/apis/serving/fieldmask_test.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_defaults.go
  pkg/apis/serving/v1alpha1/configuration_defaults_test.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/revision_defaults_test.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/service_defaults.go
  pkg/apis/serving/v1alpha1/service_defaults_test.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1beta1/configuration_defaults_test.go
  pkg/apis/serving/v1beta1/revision_defaults.go
  pkg/apis/serving/v1beta1/revision_defaults_test.go
  pkg/apis/serving/v1beta1/revision_validation_test.go
  pkg/apis/serving/v1beta1/service_defaults.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
  pkg/reconciler/revision/queueing_test.go
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/resources/constants.go
  pkg/reconciler/revision/resources/deploy.go
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  test/crd.go
  test/service.go
  test/upgrade/probe_test.go
  test/upgrade/service_preupgrade_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/XL

#4000 Reconcile ClusterIngress into two VirtualServices.
  pkg/reconciler/clusteringress/clusteringress.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/clusteringress/resources/names/names.go
  pkg/reconciler/clusteringress/resources/names/names_test.go
  pkg/reconciler/clusteringress/resources/virtual_service.go
  pkg/reconciler/clusteringress/resources/virtual_service_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XL

#3956 Default to not using sidecar for presubmit tests.
  config/config-istio.yaml
  pkg/reconciler/clusteringress/config/istio.go
  pkg/reconciler/clusteringress/config/istio_test.go
  test/e2e-common.sh
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#4293 slightly streamline autoscaler code
  pkg/autoscaler/autoscaler.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/S

#4292 Make the hostname assigned to tags configurable by Operators.
  config/config-network.yaml
  pkg/network/network.go
  pkg/network/network_test.go
  pkg/network/zz_generated.deepcopy.go
  pkg/reconciler/route/domains/domains.go
  pkg/reconciler/route/domains/domains_test.go
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/resources/cluster_ingress.go
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/traffic.go
  pkg/reconciler/route/traffic/traffic_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#4079 This adds support for the "projected" K8s volume source.
  docs/spec/spec.md
  pkg/apis/serving/fieldmask.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/reconciler/testing/functional.go
  test/conformance/api/volumes_test.go
  test/test_images/hellovolume/hellovolume.go
  test/test_images/hellovolume/service.yaml
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/XL

#4196 Allow customization of max revision timeout seconds
  Gopkg.lock
  Gopkg.toml
  config/config-defaults.yaml
  pkg/apis/config/defaults.go
  pkg/apis/config/defaults_test.go
  pkg/apis/networking/register.go
  pkg/apis/networking/v1alpha1/clusteringress_defaults.go
  pkg/apis/networking/v1alpha1/clusteringress_defaults_test.go
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/service_validation.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1beta1/configuration_validation.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
  pkg/apis/serving/v1beta1/revision_validation.go
  pkg/apis/serving/v1beta1/revision_validation_test.go
  pkg/apis/serving/v1beta1/service_validation.go
  pkg/apis/serving/v1beta1/service_validation_test.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/clusteringress/resources/virtual_service_test.go
  vendor/github.com/knative/pkg/apis/contexts.go
  vendor/github.com/knative/pkg/controller/controller.go
  vendor/github.com/knative/pkg/injection/README.md
  vendor/github.com/knative/pkg/reconciler/testing/context.go
  vendor/github.com/knative/pkg/webhook/webhook.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XXL

#4294 Change the default tag-to-hostname template.
  pkg/network/network.go
  pkg/reconciler/route/resources/cluster_ingress_test.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/route_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/route/traffic/traffic_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#4295 Make scraper url updateable
  pkg/autoscaler/collector.go
  pkg/autoscaler/collector_test.go
  pkg/autoscaler/http_scrape_client_test.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/L

#4199 Expose v1beta1 endpoints using storage-equivalence.
  cmd/webhook/main.go
  config/300-configuration.yaml
  config/300-revision.yaml
  config/300-route.yaml
  config/300-service.yaml
  test/e2e/v1beta1_test.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#4299 Fix the diagnoser not to panic on test end.
  test/e2e/autoscale_test.go
  test/e2e/diagnose.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4296 Fix the pod counting target.
  cmd/autoscaler/main.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#4306 Alternative solution for scrape target service update.
  pkg/autoscaler/collector.go
  pkg/autoscaler/collector_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#4314 Add IsReady which is needed to run the conformance tests.
  pkg/apis/serving/v1beta1/configuration_lifecycle.go
  pkg/apis/serving/v1beta1/revision_lifecycle.go
  pkg/apis/serving/v1beta1/revision_types.go
  pkg/apis/serving/v1beta1/route_lifecycle.go
  pkg/apis/serving/v1beta1/service_lifecycle.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#4316 Generalize the signature of our naming methods.
  pkg/reconciler/clusteringress/resources/names/names.go
  pkg/reconciler/clusteringress/resources/names/names_test.go
  pkg/reconciler/revision/resources/names/names.go
  pkg/reconciler/revision/resources/names/names_test.go
  pkg/reconciler/route/resources/names/names.go
  pkg/reconciler/route/resources/names/names_test.go
  pkg/reconciler/service/resources/names/names.go
  pkg/reconciler/service/resources/names/names_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#4304 Better naming of the instances for the scale test.
  test/e2e/scale.go
  test/performance/scale_revision_by_load_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4308 KPA metric service will be generate-name based.
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/resources/names/names.go
  pkg/reconciler/autoscaling/kpa/resources/names/names_test.go
  pkg/reconciler/autoscaling/kpa/resources/service.go
  pkg/reconciler/autoscaling/kpa/resources/service_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#4318 make istio lean leaner
  third_party/istio-1.1.7/README.md
  third_party/istio-1.1.7/download-istio.sh
  third_party/istio-1.1.7/istio-lean.yaml
Labels: approved, cla: yes, lgtm, size/XS

#4209 Add HTTP01 challenge into CertificateStatus
  pkg/apis/networking/v1alpha1/certificate_types.go
  pkg/apis/networking/v1alpha1/zz_generated.deepcopy.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#4321 Shut down the Knative Playground and Demo environments
  hack/README.md
  hack/deploy.sh
  hack/environments.md
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4322 Drop the build stuff from listers.go
  pkg/reconciler/testing/listers.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#4319 Fix Webhook API Coverage builds
  test/apicoverage.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4317 Use function MakeK8sNamePrefix in pkg/test
  test/crd.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4195 Propagate ImagePullBackoff
  pkg/reconciler/revision/reconcile_resources.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/testing/functional.go
  test/e2e/image_pull_error_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#4327 Various linter fixes.
  cmd/autoscaler/main.go
  pkg/reconciler/clusteringress/clusteringress.go
  pkg/reconciler/labeler/labeler_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/serverlessservice/global_resync_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  pkg/reconciler/service/service_test.go
  pkg/reconciler/testing/factory.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/M

#4325 Start to version our testing libraries.
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/autoscaling/resources/concurrency_test.go
  pkg/reconciler/autoscaling/resources/metric_test.go
  pkg/reconciler/certificate/certificate_test.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/reconciler/labeler/labeler_test.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/route/table_test.go
  pkg/reconciler/serverlessservice/global_resync_test.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  pkg/reconciler/service/resources/shared_test.go
  pkg/reconciler/service/service_test.go
  pkg/reconciler/testing/functional.go
  pkg/reconciler/testing/service.go
  pkg/reconciler/testing/v1alpha1/factory.go
  pkg/reconciler/testing/v1alpha1/listers.go
  pkg/testing/OWNERS
  pkg/testing/functional.go
  pkg/testing/v1alpha1/configuration.go
  pkg/testing/v1alpha1/functional.go
  pkg/testing/v1alpha1/revision.go
  pkg/testing/v1alpha1/route.go
  pkg/testing/v1alpha1/service.go
  test/configuration.go
  test/conformance/api/generatename_test.go
  test/conformance/api/revision_timeout_test.go
  test/conformance/api/volumes_test.go
  test/conformance/runtime/envpropagation_test.go
  test/conformance/runtime/util.go
  test/crd.go
  test/e2e/image_pull_error_test.go
  test/e2e/scale.go
  test/e2e/service_to_service_test.go
  test/performance/scale_from_zero_test.go
  test/performance/scale_revision_by_load_test.go
  test/route.go
  test/service.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/XXL

#4329 Add annotation to our jobs to prevent scaledown of the nodes.
  config/activator.yaml
  config/autoscaler.yaml
  config/webhook.yaml
Labels: approved, cla: yes, lgtm, size/XS

#4328 Cover the case for 0.6-0.7 upgrade.
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4330 Apply min/max scale first.
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#4332 Don't delete cluster-admin-binding on uninstall
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4345 Add instrumentation to help track down flake
  test/states.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4334 Factor out ScaleResource related methods.
  cmd/autoscaler/main.go
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
  pkg/reconciler/serverlessservice/controller.go
  pkg/reconciler/serverlessservice/serverlessservice.go
  pkg/reconciler/serverlessservice/serverlessservice_test.go
  pkg/resources/scale.go
  pkg/resources/scale_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4326 Centralize minimal ConfigStore interface.
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/certificate/certificate.go
  pkg/reconciler/certificate/certificate_test.go
  pkg/reconciler/certificate/controller.go
  pkg/reconciler/clusteringress/clusteringress.go
  pkg/reconciler/clusteringress/clusteringress_test.go
  pkg/reconciler/clusteringress/controller.go
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/configuration/configuration_test.go
  pkg/reconciler/configuration/controller.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/revision/controller.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/revision/table_test.go
  pkg/reconciler/route/controller.go
  pkg/reconciler/route/route.go
  pkg/reconciler/route/table_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#4351 Create a new autoscaling base reconciler.
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/autoscaling/kpa/kpa.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/reconciler.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XL

#4350 Drop `TODO_` checks.
  test/conformance/api/route_test.go
  test/conformance/api/util.go
  test/states.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4313 Add benchmark tests for steady and bursty traffic
  test/performance/benchmarks_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4357 Fix typo for k8s object field name for scaling
  docs/scaling/README.md
Labels: approved, area/autoscale, cla: yes, lgtm, ok-to-test, size/XS

#4352 Implement custom-metrics provider for concurrency metrics.
  cmd/autoscaler/main.go
  pkg/autoscaler/metrics_provider.go
  pkg/autoscaler/metrics_provider_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/L

#4347 Add permission for RestrictedEndpointsAdmission
  config/200-clusterrole.yaml
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4349 More specific requests/limits in TestPodScheduleError test
  test/e2e/pod_schedule_error_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4359 Add certmanager and istio controller to the log gathering mechanism.
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4348 TestImagePullError accepts another err string to succeed
  test/e2e/image_pull_error_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4353 Set memory request for zipkin pods
  config/monitoring/tracing/zipkin-in-mem/100-zipkin.yaml
  config/monitoring/tracing/zipkin/100-zipkin.yaml
Labels: approved, area/monitoring, cla: yes, lgtm, size/XS

#4361 Dump cluster state after e2e tests (before scale tests) as well.
  test/e2e-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4363 Propagate annotations to the route from svc
  pkg/reconciler/service/resources/configuration.go
  pkg/reconciler/service/service.go
  pkg/reconciler/service/service_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#4368 Add session affinity to our spec to avoid updates during Route's Reconcile.
  pkg/reconciler/route/reconcile_resources.go
  pkg/reconciler/route/resources/service.go
  pkg/reconciler/route/resources/service_test.go
  pkg/reconciler/route/table_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#4371 Rename metrics file to remove _
  test/performance/benchmarks_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4375 golang format tools
  test/v1beta1/configuration.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#4367 Conformance test for the annotation propagation
  pkg/reconciler/service/service_test.go
  pkg/testing/v1beta1/service.go
  test/conformance/api/v1alpha1/service_test.go
  test/conformance/api/v1alpha1/util.go
  test/conformance/api/v1beta1/service_test.go
  test/conformance/api/v1beta1/util.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#4374 fix the test names to remove _ from them
  pkg/activator/handler/handler_test.go
  pkg/activator/stats_reporter_test.go
  pkg/activator/throttler_test.go
  pkg/autoscaler/autoscaler_test.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/M

#4360 Add deployment yaml for the custom-metrics API.
  config/200-clusterrole-metrics.yaml
  config/201-clusterrolebinding-metrics-server.yaml
  config/201-clusterrolebinding-metrics.yaml
  config/201-rolebinding-metrics-server.yaml
  config/custom-metrics-apiservice.yaml
Labels: approved, cla: yes, lgtm, size/L

#4373 This changes our handling of the route label in the service controller.
  pkg/reconciler/service/resources/configuration.go
  pkg/reconciler/service/resources/configuration_test.go
  pkg/reconciler/service/service.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#4379 Fix the name of the v1beta1 test
  test/conformance/api/v1beta1/cmd_args_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4380 Properly setup system.Namespace for e2e tests.
  test/conformance/api/v1alpha1/blue_green_test.go
  test/conformance/api/v1alpha1/single_threaded_test.go
  test/conformance/api/v1beta1/blue_green_test.go
  test/conformance/api/v1beta1/single_threaded_test.go
  test/e2e/autoscale_test.go
  test/system.go
  test/upgrade/service_postupgrade_test.go
  test/upgrade/service_preupgrade_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4382 Remove the test that is no longer necessary
  pkg/reconciler/autoscaling/kpa/kpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#4381 Remove trailing else
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/autoscaler/http_scrape_client.go
  pkg/reconciler/configuration/configuration.go
  pkg/reconciler/revision/revision.go
  pkg/reconciler/service/service.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4384 Move metric service to general autoscaling resources.
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/reconciler.go
  pkg/reconciler/autoscaling/resources/service.go
  pkg/reconciler/autoscaling/resources/service_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#4389 Prepare `./test/conformance/runtime` for Beta.
  pkg/testing/v1alpha1/service.go
  pkg/testing/v1beta1/service.go
  test/conformance/runtime/cgroup_test.go
  test/conformance/runtime/envpropagation_test.go
  test/conformance/runtime/envvars_test.go
  test/conformance/runtime/file_descriptor_test.go
  test/conformance/runtime/filesystem_test.go
  test/conformance/runtime/header_test.go
  test/conformance/runtime/sysctl_test.go
  test/conformance/runtime/user_test.go
  test/conformance/runtime/util.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4392 Prepare container_test for beta
  test/conformance/runtime/container_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4337 Check for nil pointer in received data before dereferencing it.
  test/conformance/runtime/filesystem_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4395 Simplify the metric parsing to a loop to remove repetition
  pkg/autoscaler/http_scrape_client.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#4393 Update OCI interface section of runtime contract
  docs/runtime-contract.md
Labels: approved, cla: yes, lgtm, size/XS

#4397 Add CleanupOnInterrupt to TestMultipleNamespace
  test/e2e/namespace_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#4400 Have v1beta1 test use typed client.
  test/e2e/v1beta1_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4274 Add an e2e test to assert that autoscaler sustains the required pods …
  test/e2e/autoscale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4396 fix the race in the multiscaler test
  pkg/autoscaler/multiscaler_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#4394 Generate hashed names when they are long
  pkg/reconciler/revision/resources/names/names.go
  pkg/reconciler/revision/resources/names/names_test.go
  pkg/resources/meta.go
  pkg/resources/meta_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#4401 Fix a silly mistake in test/system.go
  test/system.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4383 Update path to conformance test in testing docs
  test/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#4398 Floats for counters
  pkg/activator/handler/concurrency_reporter.go
  pkg/autoscaler/collector.go
  pkg/autoscaler/http_scrape_client.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
  pkg/autoscaler/statserver/server_test.go
  pkg/queue/prometheus_stats_reporter.go
  pkg/queue/stats.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/M

#4388 Add test coverage for the HPA factory function.
  pkg/reconciler/autoscaling/hpa/resources/hpa_test.go
  pkg/testing/functional.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/L

#4408 Format markdown
  docs/runtime-contract.md
Labels: approved, cla: yes, lgtm, ok-to-test, size/XS

#4409 golang format tools
  test/e2e/autoscale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/XS

#4386 Enable HPA /metric=concurrency.
  cmd/autoscaler/main.go
  pkg/apis/autoscaling/v1alpha1/pa_defaults.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/reconciler/autoscaling/hpa/controller.go
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
  pkg/reconciler/autoscaling/hpa/resources/hpa_test.go
  pkg/testing/functional.go
  test/e2e/autoscale_test.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/L

#4412 Bump ggcr dependency
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/google/go-containerregistry/pkg/name/digest.go
  vendor/github.com/google/go-containerregistry/pkg/name/doc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/platform.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/check.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/delete.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/descriptor.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/list.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/transport/basic.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/transport/error.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/write.go
Labels: approved, cla: yes, lgtm, size/L

#4124 Remove prober transportfactory global
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/network/prober/prober.go
  pkg/network/prober/prober_test.go
  pkg/reconciler/autoscaling/kpa/kpa_test.go
  pkg/reconciler/autoscaling/kpa/scaler.go
  pkg/reconciler/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#4413 Fix the percentage to actually be percentage
  config/config-autoscaler.yaml
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa_test.go
  pkg/reconciler/autoscaling/kpa/resources/decider_test.go
  pkg/reconciler/autoscaling/resources/concurrency.go
  pkg/reconciler/autoscaling/resources/metric_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#4341 Update to latest test-infra
  Gopkg.lock
  test/performance/README.md
  test/performance/benchmarks_test.go
  test/performance/latency_test.go
  test/performance/observed_concurency_test.go
  test/performance/performance.go
  test/performance/scale_from_zero_test.go
  test/performance/scale_revision_by_load_test.go
  test/performance/scale_test.go
  vendor/github.com/knative/test-infra/scripts/README.md
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
  vendor/github.com/knative/test-infra/shared/loadgenerator/loadgenerator.go
  vendor/github.com/knative/test-infra/shared/performance/performance.go
  vendor/github.com/knative/test-infra/shared/testgrid/testgrid.go
  vendor/github.com/knative/test-infra/tools/dep-collector/README.md
  vendor/github.com/knative/test-infra/tools/webhook-apicoverage/coveragecalculator/README.md
  vendor/github.com/knative/test-infra/tools/webhook-apicoverage/coveragecalculator/ignorefields.go
  vendor/github.com/knative/test-infra/tools/webhook-apicoverage/resourcetree/README.md
  vendor/github.com/knative/test-infra/tools/webhook-apicoverage/tools/README.md
  vendor/github.com/knative/test-infra/tools/webhook-apicoverage/tools/tools.go
  vendor/github.com/knative/test-infra/tools/webhook-apicoverage/view/README.md
  vendor/github.com/knative/test-infra/tools/webhook-apicoverage/webhook/README.md
Labels: approved, area/API, area/autoscale, area/monitoring, area/networking, area/test-and-release, cla: yes, lgtm, size/XL

#4419 fix the test to be more stable
  test/e2e/autoscale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#4387 Stream relevant controller logs to test output.
  test/crd.go
  test/e2e/activator_test.go
  test/e2e/autoscale_test.go
  test/e2e/destroypod_test.go
  test/e2e/grpc_test.go
  test/e2e/helloworld_test.go
  test/e2e/image_pull_error_test.go
  test/e2e/minscale_readiness_test.go
  test/e2e/namespace_test.go
  test/e2e/pod_schedule_error_test.go
  test/e2e/service_to_service_test.go
  test/e2e/v1beta1_test.go
  test/e2e/websocket_test.go
  test/logstream/doc.go
  test/logstream/interface.go
  test/logstream/kubelogs.go
  test/logstream/null.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4414 Bump flakey scaler tick poll test timeout
  pkg/autoscaler/multiscaler_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#4422 Remove explicit deletion of HPA.
  pkg/reconciler/autoscaling/hpa/hpa.go
  pkg/reconciler/autoscaling/hpa/hpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4426 Add @dprotaso as a serving approver
  OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, size/XS

#4418 Update Knative dashboards
  config/monitoring/logging/elasticsearch/100-istio-requestlogs.yaml
  config/monitoring/logging/stackdriver/100-istio-requestlogs.yaml
  config/monitoring/metrics/prometheus/100-grafana-dash-knative.yaml
  config/monitoring/metrics/prometheus/100-grafana.yaml
  config/monitoring/metrics/prometheus/100-istio-metrics.yaml
  third_party/config/monitoring/metrics/prometheus/istio/LICENSE
  third_party/config/monitoring/metrics/prometheus/istio/istio-dashboard.json
  third_party/config/monitoring/metrics/prometheus/istio/mixer-dashboard.json
  third_party/config/monitoring/metrics/prometheus/istio/pilot-dashboard.json
Labels: approved, area/monitoring, cla: yes, lgtm, size/XXL

#4247 Tracing Config Error Logging
  cmd/activator/main.go
  pkg/activator/config/store.go
  pkg/metrics/config.go
Labels: approved, area/monitoring, area/networking, cla: yes, lgtm, size/S

#4338 Use short version of the image name if the image registry is not gcr.io
  hack/generate-yamls.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4372 allow istio latest in e2e test
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#4423 Allow custom-metrics server to generate certs as a non-root user.
  config/autoscaler.yaml
Labels: approved, cla: yes, lgtm, size/XS

#4425 Fix autoscaler shutdown error reporting.
  cmd/autoscaler/main.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#4411 Add test case for user set headers
  Gopkg.lock
  test/conformance/runtime/envpropagation_test.go
  test/conformance/runtime/header_test.go
  test/conformance/runtime/util.go
  vendor/github.com/knative/pkg/Gopkg.lock
  vendor/github.com/knative/pkg/test/request.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#4445 Make Target() return float64
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/reconciler/autoscaling/hpa/resources/hpa.go
  pkg/reconciler/autoscaling/hpa/resources/hpa_test.go
  pkg/reconciler/autoscaling/resources/concurrency.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#4451 Update to latest test-infra
  Gopkg.lock
  vendor/fortio.org/fortio/LICENSE
  vendor/fortio.org/fortio/debian/copyright
  vendor/fortio.org/fortio/fhttp/http_client.go
  vendor/fortio.org/fortio/fhttp/http_server.go
  vendor/fortio.org/fortio/fhttp/http_utils.go
  vendor/fortio.org/fortio/fhttp/httprunner.go
  vendor/fortio.org/fortio/fnet/network.go
  vendor/fortio.org/fortio/log/logger.go
  vendor/fortio.org/fortio/periodic/periodic.go
  vendor/fortio.org/fortio/stats/stats.go
  vendor/fortio.org/fortio/version/version.go
  vendor/github.com/knative/test-infra/shared/gcs/gcs.go
  vendor/github.com/knative/test-infra/shared/loadgenerator/loadgenerator.go
  vendor/istio.io/fortio/fhttp/http.go
  vendor/istio.io/fortio/fnet/network.go
Labels: approved, cla: yes, lgtm, size/XXL

#4288 Mark `IngressNotConfigured` on Route when there is no Ingress status
  pkg/apis/serving/v1alpha1/route_lifecycle.go
  pkg/apis/serving/v1alpha1/route_lifecycle_test.go
  pkg/reconciler/route/table_test.go
  pkg/testing/v1alpha1/route.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#4431 Use the upstream logstream.
  Gopkg.lock
  test/crd.go
  test/e2e/activator_test.go
  test/e2e/autoscale_test.go
  test/e2e/destroypod_test.go
  test/e2e/grpc_test.go
  test/e2e/helloworld_test.go
  test/e2e/image_pull_error_test.go
  test/e2e/minscale_readiness_test.go
  test/e2e/namespace_test.go
  test/e2e/pod_schedule_error_test.go
  test/e2e/service_to_service_test.go
  test/e2e/v1beta1_test.go
  test/e2e/websocket_test.go
  vendor/github.com/knative/pkg/kmeta/names.go
  vendor/github.com/knative/pkg/test/helpers/name.go
  vendor/github.com/knative/pkg/test/logstream/doc.go
  vendor/github.com/knative/pkg/test/logstream/interface.go
  vendor/github.com/knative/pkg/test/logstream/kubelogs.go
  vendor/github.com/knative/pkg/test/logstream/null.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#4447 Micro flyby test optimization
  pkg/activator/handler/concurrency_reporter_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#4376 Forwarded header
  cmd/queue/main.go
  pkg/queue/forwarded_shim.go
  pkg/queue/forwarded_shim_test.go
  test/conformance/runtime/header_test.go
Labels: approved, area/networking, area/test-and-release, cla: yes, lgtm, size/L

#4455 Add autoscaler probe handler.
  cmd/autoscaler/main.go
  pkg/autoscaler/statserver/server.go
  pkg/autoscaler/statserver/server_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#4444 Cleanup helper methods of the revision reconciler.
  pkg/reconciler/revision/helpers.go
  pkg/reconciler/revision/helpers_test.go
  pkg/reconciler/revision/reconcile_resources.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#4462 Auto-update dependencies
  Gopkg.lock
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/presubmit-tests.sh
Labels: approved, cla: yes, lgtm, ok-to-test, size/S

#3237 Run all containers as non-root user
  .ko.yaml
  config/activator.yaml
  config/autoscaler.yaml
  config/controller.yaml
  config/networking-certmanager.yaml
  config/networking-istio.yaml
  config/webhook.yaml
  docs/resources-overview.md
  pkg/reconciler/revision/resources/deploy_test.go
  pkg/reconciler/revision/resources/queue.go
  pkg/reconciler/revision/resources/queue_test.go
  pkg/testing/v1alpha1/service.go
  pkg/testing/v1beta1/service.go
  test/conformance.go
  test/conformance/runtime/user_test.go
  test/conformance/runtime/util.go
  test/test_images/runtime-unprivileged/main.go
  test/test_images/runtime-unprivileged/service.yaml
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#4456 The configuration for the autoscaler probe.
  config/autoscaler.yaml
Labels: approved, cla: yes, lgtm, size/S

#4461 golang format tools
  test/e2e/activator_test.go
  test/e2e/autoscale_test.go
  test/e2e/destroypod_test.go
  test/e2e/grpc_test.go
  test/e2e/helloworld_test.go
  test/e2e/image_pull_error_test.go
  test/e2e/minscale_readiness_test.go
  test/e2e/namespace_test.go
  test/e2e/pod_schedule_error_test.go
  test/e2e/service_to_service_test.go
  test/e2e/websocket_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, ok-to-test, size/S

#4465 Add owners to the pkg/resources
  pkg/resources/OWNERS
Labels: approved, cla: yes, lgtm, size/S

#4442 Filter all endpoints informer by the label we're looking for.
  pkg/reconciler/autoscaling/kpa/controller.go
  pkg/reconciler/revision/controller.go
  pkg/reconciler/serverlessservice/controller.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#4443 Use common controller helpers in certificate controller as well.
  pkg/reconciler/certificate/controller.go
Labels: approved, area/API, cla: yes, lgtm, size/S
