Repository knative/serving, pull requests merged in 2019-04, with the labels that each got.

#3605 Format markdown
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/XS

#3566 Fix malformed Prometheus performance example
  test/performance/README.md
Labels: approved, area/test-and-release, lgtm, size/XS

#3612 Temporarily turning off xip.io resolvable domain.
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#3588 Drop the 'ActivatorPodName' constant.
  pkg/activator/handler/concurrency_reporter_test.go
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/S

#3608 Merge knative.dev/crd-install label from caching
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/knative/caching/config/image.yaml
Labels: approved, cla: yes, lgtm, size/S

#3596 Send request metrics from queue proxy
  Gopkg.lock
  Gopkg.toml
  cmd/queue/main.go
  config/config-observability.yaml
  pkg/queue/request_metric.go
  pkg/queue/request_metric_test.go
  pkg/queue/stats/stats_reporter.go
  pkg/queue/stats/stats_reporter_test.go
  pkg/reconciler/v1alpha1/revision/config/observability.go
  pkg/reconciler/v1alpha1/revision/config/observability_test.go
  pkg/reconciler/v1alpha1/revision/resources/deploy_test.go
  pkg/reconciler/v1alpha1/revision/resources/queue.go
  pkg/reconciler/v1alpha1/revision/resources/queue_test.go
  vendor/github.com/knative/pkg/metrics/config.go
  vendor/github.com/knative/pkg/metrics/metricskey/constants.go
  vendor/github.com/knative/pkg/metrics/prometheus_exporter.go
  vendor/github.com/knative/pkg/test/ingress/ingress.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/XL

#3613 Couple cleanups related to our imperative use of conditions.
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/apis/serving/v1alpha1/route_lifecycle_test.go
  pkg/reconciler/v1alpha1/revision/revision.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#3558 Poll checking k8s version on activator startup
  cmd/activator/main.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#3609 Add new field test to revision validation
  pkg/apis/serving/v1alpha1/revision_validation_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#3603 Rename Metric to Decider.
  cmd/autoscaler/main.go
  cmd/autoscaler/main_test.go
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
  pkg/autoscaler/multiscaler.go
  pkg/autoscaler/multiscaler_test.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
  pkg/autoscaler/zz_generated.deepcopy.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/metric.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/metric_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3353 Move to using Istio 1.1.1.
  hack/generate-yamls.sh
  test/e2e-common.sh
  third_party/istio-1.1.1/README.md
  third_party/istio-1.1.1/conn-timeout.yaml.patch
  third_party/istio-1.1.1/download-istio.sh
  third_party/istio-1.1.1/istio-crds.yaml
  third_party/istio-1.1.1/istio-lean.yaml
  third_party/istio-1.1.1/istio.yaml
  third_party/istio-1.1.1/namespace.yaml.patch
  third_party/istio-1.1.1/prestop-sleep.yaml.patch
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XXL

#3618 Fix stutter around 'KPAScaler'.
  cmd/autoscaler/main.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#3059 Multiple runs on scale-from-zero test
  test/performance/scale_from_zero_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#3627 Remove an imperative use of Conditions.
  pkg/reconciler/v1alpha1/revision/helpers.go
  pkg/reconciler/v1alpha1/revision/helpers_test.go
  pkg/reconciler/v1alpha1/revision/reconcile_resources.go
  pkg/reconciler/v1alpha1/revision/table_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#3619 Simplify label handling in autoscaler factories.
  cmd/autoscaler/main.go
  cmd/autoscaler/main_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#3580 Metrics k8s service from KPA
  cmd/autoscaler/main.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
  pkg/reconciler/names.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/names/names.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/names/names_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/service.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/service_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XL

#3623 Set autoscaler stat timestamp upon receive
  pkg/activator/handler/concurrency_reporter.go
  pkg/activator/handler/concurrency_reporter_test.go
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/statserver/server.go
  pkg/autoscaler/statserver/server_test.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/M

#3615 Update autoscaling types to duckv1beta1.Status
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/autoscaling/v1alpha1/zz_generated.deepcopy.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#3431 Add note about what group to contact for security issues to bug template
  .github/ISSUE_TEMPLATE/ask-question.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: approved, cla: yes, lgtm, size/XS

#3616 Update serving types to duckv1beta1.Status
  pkg/apis/serving/v1alpha1/configuration_lifecycle.go
  pkg/apis/serving/v1alpha1/configuration_lifecycle_test.go
  pkg/apis/serving/v1alpha1/configuration_types.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/apis/serving/v1alpha1/revision_types.go
  pkg/apis/serving/v1alpha1/route_lifecycle.go
  pkg/apis/serving/v1alpha1/route_lifecycle_test.go
  pkg/apis/serving/v1alpha1/route_types.go
  pkg/apis/serving/v1alpha1/service_lifecycle.go
  pkg/apis/serving/v1alpha1/service_lifecycle_test.go
  pkg/apis/serving/v1alpha1/service_types.go
  pkg/reconciler/v1alpha1/configuration/configuration_test.go
  pkg/reconciler/v1alpha1/revision/revision_test.go
  pkg/reconciler/v1alpha1/route/route_test.go
  pkg/reconciler/v1alpha1/route/traffic/errors_test.go
  pkg/reconciler/v1alpha1/service/service_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#3638 golang format tools
  pkg/reconciler/v1alpha1/revision/resources/deploy_test.go
Labels: approved, area/API, cla: yes, lgtm, needs-ok-to-test, size/XS

#3637 Fix spelling errors
  pkg/queue/request_metric_test.go
Labels: approved, area/networking, cla: yes, lgtm, needs-ok-to-test, size/XS

#3622 Refactor endpoints-counting code to a common place.
  cmd/activator/main.go
  pkg/activator/throttler.go
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/stats_scraper.go
  pkg/resources/endpoints.go
  pkg/resources/endpoints_test.go
  pkg/resources/resources.go
Labels: approved, area/autoscale, area/networking, cla: yes, lgtm, size/L

#3598 Test container exiting message for tcp readiness probe
  test/conformance/errorcondition_test.go
  test/conformance/util.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#3635 Adjust a few more references from 'Metric' to 'Decider'.
  cmd/autoscaler/main_test.go
  pkg/autoscaler/multiscaler.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/decider.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/decider_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#3555 ServerlessService Controller
  cmd/controller/main.go
  pkg/apis/networking/register.go
  pkg/apis/networking/v1alpha1/clusteringress_lifecycle_test.go
  pkg/apis/networking/v1alpha1/serverlessservice_lifecycle.go
  pkg/apis/networking/v1alpha1/serverlessservice_lifecycle_test.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/names/doc.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/names/names.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/names/names_test.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/services.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/services_test.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice_test.go
  pkg/reconciler/v1alpha1/service/resources/names/names.go
  pkg/reconciler/v1alpha1/testing/functional.go
  pkg/reconciler/v1alpha1/testing/listers.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XXL

#3642 some obscure places where we can take advantage of the new methods
  pkg/autoscaler/dynamic_config_test.go
  pkg/reconciler/v1alpha1/clusteringress/clusteringress_test.go
  pkg/reconciler/v1alpha1/revision/cruds.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/M

#3644 Improve the table test diagnostic output.
  pkg/reconciler/testing/table.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#3645 Use resource helpers in SKS controller.
  pkg/reconciler/v1alpha1/serverlessservice/resources/services.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#3649 Remove unnecessary channels and make kpa tests runnable repeatedly.
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3634 Check all the keys in the uniscaler creation
  cmd/autoscaler/main.go
  cmd/autoscaler/main_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/M

#3640 Add an istio-knative-extras.yaml file
  hack/generate-yamls.sh
  third_party/istio-1.0.6/download-istio.sh
  third_party/istio-1.0.6/istio-knative-extras.yaml
  third_party/istio-1.1.1/download-istio.sh
  third_party/istio-1.1.1/istio-knative-extras.yaml
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XL

#3653 Update out-of-date README of scaling
  docs/scaling/README.md
Labels: approved, area/autoscale, cla: yes, lgtm, size/XS

#3594 Add ability to save zipkin traces for perf tests
  Gopkg.lock
  test/performance/latency_test.go
  test/performance/observed_concurency_test.go
  test/performance/performance.go
  test/performance/scale_from_zero_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#3610 Add release and license badges
  README.md
Labels: approved, cla: yes, lgtm, size/XS

#3658 Propagate protocol type to the PA
  pkg/reconciler/v1alpha1/revision/reconcile_resources.go
  pkg/reconciler/v1alpha1/revision/resources/kpa.go
  pkg/reconciler/v1alpha1/revision/resources/kpa_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#3543 Update receiver name to be consistent with previous receiver name
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/serving/v1alpha1/revision_validation.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, needs-ok-to-test, size/M

#3537 Refactor reconciler autoscaling kpa to reduce cyclomatic complexity
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3497 Updating links to docs repo
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  community/README.md
  sample/README.md
Labels: approved, cla: yes, lgtm, size/M

#3664 Make created objects more obvious in the KPA.
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#3636 Create Metric collector primitives and hook them up.
  cmd/autoscaler/main.go
  pkg/autoscaler/collector.go
  pkg/autoscaler/collector_test.go
  pkg/autoscaler/zz_generated.deepcopy.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/metric.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/metric_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3669 [RELEASE-0.4] Update to Istio 1.0.7
  hack/generate-yamls.sh
  test/e2e-common.sh
  test/e2e-upgrade-tests.sh
  third_party/istio-1.0.2/istio-pilot-hpa.yaml
  third_party/istio-1.0.7/README.md
  third_party/istio-1.0.7/conn-timeout.yaml.patch
  third_party/istio-1.0.7/download-istio.sh
  third_party/istio-1.0.7/istio-crds.yaml
  third_party/istio-1.0.7/istio-knative-extras.yaml
  third_party/istio-1.0.7/istio-lean.yaml
  third_party/istio-1.0.7/istio.yaml
  third_party/istio-1.0.7/namespace.yaml.patch
  third_party/istio-1.0.7/prestop-sleep.yaml.patch
Labels: approved, cla: yes, lgtm, size/XXL

#3667 Use Istio 1.1.2.
  hack/generate-yamls.sh
  third_party/istio-1.0.7/README.md
  third_party/istio-1.0.7/conn-timeout.yaml.patch
  third_party/istio-1.0.7/download-istio.sh
  third_party/istio-1.0.7/istio-crds.yaml
  third_party/istio-1.0.7/istio-knative-extras.yaml
  third_party/istio-1.0.7/istio-lean.yaml
  third_party/istio-1.0.7/istio.yaml
  third_party/istio-1.0.7/namespace.yaml.patch
  third_party/istio-1.0.7/prestop-sleep.yaml.patch
  third_party/istio-1.1.2/README.md
  third_party/istio-1.1.2/conn-timeout.yaml.patch
  third_party/istio-1.1.2/download-istio.sh
  third_party/istio-1.1.2/istio-crds.yaml
  third_party/istio-1.1.2/istio-knative-extras.yaml
  third_party/istio-1.1.2/istio-lean.yaml
  third_party/istio-1.1.2/istio.yaml
  third_party/istio-1.1.2/namespace.yaml.patch
  third_party/istio-1.1.2/prestop-sleep.yaml.patch
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XXL

#3671 Remove the timeout customization from Istio installations
  third_party/istio-1.0.7/conn-timeout.yaml.patch
  third_party/istio-1.0.7/download-istio.sh
  third_party/istio-1.0.7/istio.yaml
  third_party/istio-1.1.2/conn-timeout.yaml.patch
  third_party/istio-1.1.2/download-istio.sh
  third_party/istio-1.1.2/istio.yaml
Labels: approved, cla: yes, lgtm, size/M

#3661 Add reconciliation for the protocol type.
  pkg/reconciler/v1alpha1/revision/reconcile_resources.go
  pkg/reconciler/v1alpha1/revision/table_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#3668 [RELEASE 0.5] Use Istio 1.0.7.
  hack/generate-yamls.sh
  test/e2e-common.sh
  third_party/istio-1.0.7/README.md
  third_party/istio-1.0.7/conn-timeout.yaml.patch
  third_party/istio-1.0.7/download-istio.sh
  third_party/istio-1.0.7/istio-crds.yaml
  third_party/istio-1.0.7/istio-lean.yaml
  third_party/istio-1.0.7/istio.yaml
  third_party/istio-1.0.7/namespace.yaml.patch
  third_party/istio-1.0.7/prestop-sleep.yaml.patch
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#3652 Fix wrong Copyright
  pkg/activator/stats_reporter.go
  pkg/activator/stats_reporter_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#3672 Move the networking defaults out of a versioned directory.
  pkg/apis/networking/register.go
  pkg/apis/networking/v1alpha1/clusteringress_defaults.go
  pkg/apis/networking/v1alpha1/clusteringress_defaults_test.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/reconciler/v1alpha1/clusteringress/clusteringress_test.go
  pkg/reconciler/v1alpha1/clusteringress/resources/virtual_service_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#3646 Update knative/pkg dependency to catch the new Gateway
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/knative/pkg/apis/istio/v1alpha3/gateway_types.go
Labels: approved, cla: yes, lgtm, size/S

#3673 Move the autoscaling annotation validation into autoscaling.
  pkg/apis/autoscaling/annotation_validation.go
  pkg/apis/autoscaling/annotation_validation_test.go
  pkg/apis/serving/v1alpha1/metadata_validation.go
  pkg/apis/serving/v1alpha1/metadata_validation_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3675 Use shared validation from knative/pkg
  Gopkg.lock
  Gopkg.toml
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/serving/metadata_validation.go
  pkg/apis/serving/metadata_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/route_validation.go
  pkg/apis/serving/v1alpha1/service_validation.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/addressable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/conditions_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/legacy_targetable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1alpha1/retired_targetable_types.go
  vendor/github.com/knative/pkg/apis/duck/v1beta1/status_types.go
  vendor/github.com/knative/pkg/apis/metadata_validation.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#3682 Since we're scraping metrics service now, remove the metric port
  pkg/reconciler/v1alpha1/revision/resources/constants.go
  pkg/reconciler/v1alpha1/revision/resources/service.go
  pkg/reconciler/v1alpha1/revision/resources/service_test.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#3685 Use new pkg helpers for condition testing
  Gopkg.lock
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/apis/networking/v1alpha1/certificate_lifecycle_test.go
  pkg/apis/networking/v1alpha1/clusteringress_lifecycle_test.go
  pkg/apis/networking/v1alpha1/serverlessservice_lifecycle_test.go
  pkg/apis/serving/v1alpha1/configuration_lifecycle_test.go
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/apis/serving/v1alpha1/route_lifecycle_test.go
  pkg/apis/serving/v1alpha1/service_lifecycle_test.go
  vendor/github.com/knative/pkg/apis/testing/conditions.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/XXL

#3679 Format markdown
  CONTRIBUTING.md
  DEVELOPMENT.md
  community/README.md
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/S

#3641 Immediately shut down resources and namespace
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#3648 Add shebang and apply shell best practices to istio download scripts.
  third_party/istio-1.0.7/download-istio.sh
  third_party/istio-1.1.2/download-istio.sh
Labels: approved, cla: yes, lgtm, size/S

#3631 Update upgrade test to 0.5.0
  test/e2e-upgrade-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#3655 Enable SDS within Istio Gateway to allow dynamically configuring TLS
  third_party/istio-1.1.2/download-istio.sh
  third_party/istio-1.1.2/istio-lean.yaml
  third_party/istio-1.1.2/istio.yaml
  third_party/istio-1.1.2/prestop-sleep.yaml.patch
Labels: approved, cla: yes, lgtm, size/M

#3684 Import the webhook contexts and use them.
  Gopkg.lock
  Gopkg.toml
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
  pkg/apis/serving/register.go
  pkg/apis/serving/v1alpha1/revision_types.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/service_defaults.go
  pkg/apis/serving/v1alpha1/service_lifecycle.go
  pkg/apis/serving/v1alpha1/service_lifecycle_test.go
  test/conformance/service_test.go
  vendor/github.com/knative/pkg/apis/contexts.go
  vendor/github.com/knative/pkg/apis/interfaces.go
  vendor/github.com/knative/pkg/apis/testing/conditions.go
  vendor/github.com/knative/pkg/webhook/webhook.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/XL

#3690 Improve the autoscale test.
  test/e2e/autoscale_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#3698 Revert "KPA changes to reconcile SKS. (#3677)"
  cmd/autoscaler/main.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/names/names.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/names/names_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/service.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/service_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/sks.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/sks_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice_test.go
  pkg/reconciler/v1alpha1/testing/factory.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XL

#3701 Use wait_until_batch_job_complete from knative/test-infra.
  Gopkg.lock
  test/e2e-common.sh
  vendor/github.com/knative/test-infra/scripts/README.md
  vendor/github.com/knative/test-infra/scripts/e2e-tests.sh
  vendor/github.com/knative/test-infra/scripts/library.sh
  vendor/github.com/knative/test-infra/scripts/release.sh
  vendor/github.com/knative/test-infra/shared/common/common.go
  vendor/github.com/knative/test-infra/shared/loadgenerator/loadgenerator.go
  vendor/github.com/knative/test-infra/shared/testgrid/testgrid.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#3691 Incorporate better OOB error message constructor.
  Gopkg.lock
  Gopkg.toml
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
  pkg/apis/networking/generic_types.go
  pkg/apis/networking/v1alpha1/clusteringress_validation.go
  pkg/apis/networking/v1alpha1/clusteringress_validation_test.go
  pkg/apis/networking/v1alpha1/serverlessservice_validation.go
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/route_validation.go
  pkg/apis/serving/v1alpha1/route_validation_test.go
  pkg/apis/serving/v1alpha1/service_validation.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/reconciler/v1alpha1/configuration/configuration_test.go
  vendor/github.com/knative/pkg/apis/condition_set.go
  vendor/github.com/knative/pkg/apis/duck/v1beta1/status_types.go
  vendor/github.com/knative/pkg/apis/field_error.go
  vendor/github.com/knative/pkg/apis/interfaces.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#3659 Fix activator watching metrics endpoint
  cmd/activator/main.go
  pkg/reconciler/filter.go
  pkg/reconciler/filter_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/service.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/service_test.go
  pkg/reconciler/v1alpha1/revision/resources/service.go
  pkg/reconciler/v1alpha1/revision/resources/service_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#3604 Updated performance test readme to include zipkin logging
  test/performance/README.md
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/M

#3695 Remove some no longer used activator code.
  pkg/activator/testing/utils.go
  pkg/activator/throttler_test.go
  pkg/activator/util/rewinder.go
  pkg/activator/util/rewinder_test.go
  pkg/activator/util/transports_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#3597 Add test flags to choose Istio version and mesh option
  test/e2e-common.sh
  test/e2e-upgrade-tests.sh
  test/performance-tests.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#3704 Move SKS helpers to a shared place.
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#3709 Use generic pkg/resources helpers for endpoint counting
  pkg/reconciler/v1alpha1/revision/helpers.go
  pkg/reconciler/v1alpha1/revision/helpers_test.go
  pkg/reconciler/v1alpha1/revision/reconcile_resources.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
Labels: approved, area/API, cla: yes, lgtm, size/M

#3699 Simplify validation of Route's TrafficTarget
  pkg/apis/serving/v1alpha1/route_validation.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#3708 Add arbitrarily large timeout while cleaning up serving-tests namespace
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#3714 Remove a silly import
  pkg/activator/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/S

#3694 Move Scraper from Scaler to Collector.
  cmd/autoscaler/main.go
  pkg/autoscaler/collector.go
  pkg/autoscaler/collector_test.go
  pkg/autoscaler/multiscaler.go
  pkg/autoscaler/multiscaler_test.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/L

#3705 Generic sks helpers for pa
  pkg/reconciler/v1alpha1/autoscaling/resources/doc.go
  pkg/reconciler/v1alpha1/autoscaling/resources/names/doc.go
  pkg/reconciler/v1alpha1/autoscaling/resources/names/names.go
  pkg/reconciler/v1alpha1/autoscaling/resources/names/names_test.go
  pkg/reconciler/v1alpha1/autoscaling/resources/sks.go
  pkg/reconciler/v1alpha1/autoscaling/resources/sks_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3717 Fix spelling errors
  pkg/resources/meta_test.go
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/XS

#3718 Format markdown
  test/performance/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, needs-ok-to-test, size/XS

#3716 Remove a bunch of pointless casts.
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/autoscaler/config_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/decider_test.go
  pkg/reconciler/v1alpha1/revision/resources/deploy_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#3721 Cleanup traffic_test.go a bit
  pkg/reconciler/v1alpha1/route/traffic/traffic_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#3720 Add explicit name and namespace based filter functions.
  pkg/reconciler/filter.go
  pkg/reconciler/filter_test.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#3337 Only report panic mode metric when the value changed
  pkg/autoscaler/autoscaler.go
  pkg/autoscaler/autoscaler_test.go
Labels: approved, lgtm, size/S

#3715 HPA changes to reconcile SKS
  cmd/autoscaler/main.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/resources/hpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/service.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/service_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler.go
  pkg/reconciler/v1alpha1/autoscaling/resources/sks.go
  pkg/reconciler/v1alpha1/autoscaling/resources/sks_test.go
  pkg/reconciler/v1alpha1/clusteringress/clusteringress.go
  pkg/reconciler/v1alpha1/route/route.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
  pkg/reconciler/v1alpha1/testing/factory.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#3692 Add a perf test for testing long running app
  test/performance/latency_test.go
  test/test_images/timeout/README.md
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#3711 SKS use one service
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice_test.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#3728 remove casts, add duck() private methods to the statuses
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/apis/networking/v1alpha1/certificate_lifecycle.go
  pkg/apis/networking/v1alpha1/certificate_lifecycle_test.go
  pkg/apis/networking/v1alpha1/clusteringress_lifecycle.go
  pkg/apis/networking/v1alpha1/clusteringress_lifecycle_test.go
  pkg/apis/networking/v1alpha1/serverlessservice_lifecycle.go
  pkg/apis/networking/v1alpha1/serverlessservice_lifecycle_test.go
  pkg/apis/serving/v1alpha1/configuration_lifecycle.go
  pkg/apis/serving/v1alpha1/configuration_lifecycle_test.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_lifecycle_test.go
  pkg/apis/serving/v1alpha1/route_lifecycle.go
  pkg/apis/serving/v1alpha1/route_lifecycle_test.go
  pkg/apis/serving/v1alpha1/service_lifecycle.go
  pkg/apis/serving/v1alpha1/service_lifecycle_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/XL

#3688 Take enable-scale-to-zero from configmap into account in KAP reconciler
  pkg/autoscaler/multiscaler.go
  pkg/autoscaler/multiscaler_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3727 Fix Istio ClusterIngress controller to use filtered global resync.
  Gopkg.lock
  Gopkg.toml
  pkg/reconciler/v1alpha1/clusteringress/clusteringress.go
  vendor/github.com/knative/pkg/controller/helper.go
  vendor/github.com/knative/pkg/ptr/ptr.go
  vendor/github.com/knative/pkg/test/kube_checks.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#3732 Fix the strings in the HPA reconciler
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XS

#3725 Bump ggcr dep, resolve digests differently
  Gopkg.lock
  Gopkg.toml
  pkg/reconciler/v1alpha1/revision/resolve.go
  vendor/github.com/google/go-containerregistry/pkg/name/check.go
  vendor/github.com/google/go-containerregistry/pkg/name/digest.go
  vendor/github.com/google/go-containerregistry/pkg/name/options.go
  vendor/github.com/google/go-containerregistry/pkg/name/ref.go
  vendor/github.com/google/go-containerregistry/pkg/name/registry.go
  vendor/github.com/google/go-containerregistry/pkg/name/repository.go
  vendor/github.com/google/go-containerregistry/pkg/name/tag.go
  vendor/github.com/google/go-containerregistry/pkg/v1/config.go
  vendor/github.com/google/go-containerregistry/pkg/v1/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layer.go
  vendor/github.com/google/go-containerregistry/pkg/v1/manifest.go
  vendor/github.com/google/go-containerregistry/pkg/v1/partial/compressed.go
  vendor/github.com/google/go-containerregistry/pkg/v1/partial/uncompressed.go
  vendor/github.com/google/go-containerregistry/pkg/v1/partial/with.go
  vendor/github.com/google/go-containerregistry/pkg/v1/random/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/random/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/check.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/descriptor.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/transport/bearer.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/write.go
  vendor/github.com/google/go-containerregistry/pkg/v1/stream/layer.go
  vendor/github.com/google/go-containerregistry/pkg/v1/v1util/zip.go
Labels: approved, area/API, cla: yes, lgtm, size/XXL

#3733 Fix the misleading comment in the table.go
  pkg/reconciler/testing/actions.go
  pkg/reconciler/testing/table.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#3697 Add greghaynes as autoscaling-approver.
  OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, size/XS

#3735 golang format tools
  pkg/apis/serving/v1alpha1/revision_defaults_test.go
  pkg/apis/serving/v1alpha1/service_defaults_test.go
Labels: approved, area/API, cla: yes, lgtm, size/S

#3736 Import the new contexts and decorate the appropriate places
  Gopkg.lock
  Gopkg.toml
  pkg/apis/autoscaling/v1alpha1/pa_defaults.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/networking/v1alpha1/certificate_validation.go
  pkg/apis/networking/v1alpha1/clusteringress_defaults.go
  pkg/apis/networking/v1alpha1/clusteringress_validation.go
  pkg/apis/networking/v1alpha1/serverlessservice_validation.go
  pkg/apis/serving/v1alpha1/configuration_defaults.go
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/revision_defaults.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/route_defaults.go
  pkg/apis/serving/v1alpha1/route_validation.go
  pkg/apis/serving/v1alpha1/service_defaults.go
  pkg/apis/serving/v1alpha1/service_validation.go
  vendor/github.com/knative/pkg/apis/contexts.go
  vendor/github.com/knative/pkg/webhook/webhook.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#3737 Check for deprecated fields when in contexts that disallow them.
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/route_validation.go
  pkg/apis/serving/v1alpha1/service_validation.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/L

#3738 Drop the ConcurrencyModel fields from PodAutoscaler.
  pkg/apis/autoscaling/v1alpha1/pa_defaults.go
  pkg/apis/autoscaling/v1alpha1/pa_defaults_test.go
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3422 Add test for same service name in different namespace
  pkg/reconciler/v1alpha1/testing/service.go
  test/configuration.go
  test/conformance/revision_timeout_test.go
  test/crd.go
  test/e2e/build_pipeline_test.go
  test/e2e/build_test.go
  test/e2e/e2e.go
  test/e2e/namespace_test.go
  test/namespace.go
  test/route.go
  test/service.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#3739 Add t.Helper() calls
  pkg/reconciler/testing/table.go
Labels: approved, area/API, cla: yes, lgtm, size/XS

#3746 Extract isKubeletProbe into cmd/util.
  cmd/queue/main.go
  pkg/activator/handler/healthz_handler.go
  pkg/network/network.go
  pkg/network/network_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#3743 Service-to-service cold start e2e test added
  test/e2e/service_to_service_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#3650 Add an example of domainTemplate to the config map's comments
  config/config-network.yaml
Labels: approved, cla: yes, lgtm, size/S

#3750 golang format tools
  pkg/reconciler/v1alpha1/testing/service.go
  test/crd.go
  test/e2e/e2e.go
  test/namespace.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, needs-ok-to-test, size/S

#3755 Use UnionMaps for cluster ingress annotations.
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#3757 This does some cleanup around throttler and service manipulation.
  cmd/activator/main.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
  pkg/reconciler/names.go
  pkg/resources/endpoints.go
  pkg/resources/endpoints_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#3712 Use UpdateExporter instead of UpdateExporterFromConfigMap
  pkg/metrics/config.go
Labels: approved, area/monitoring, cla: yes, lgtm, size/XS

#3726 Fix typo: lager -> larger
  pkg/queue/request_metric_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/XS

#3666 Fix naming lint error
  pkg/reconciler/v1alpha1/route/traffic/traffic.go
  pkg/reconciler/v1alpha1/route/traffic/traffic_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#3686 Fix typos
  cmd/default-domain/main.go
  pkg/queue/stats/stats_reporter_test.go
  pkg/reconciler/v1alpha1/revision/config/observability.go
  pkg/reconciler/v1alpha1/route/route.go
  pkg/reconciler/v1alpha1/service/service.go
  test/apicoverage/image/rules/coverage_rules.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/S

#3753 Fix a typo in Development guide
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, needs-ok-to-test, size/XS

#3754 Shift the validation of the DomainTemplate.
  pkg/network/network.go
  pkg/network/network_test.go
  pkg/network/zz_generated.deepcopy.go
  pkg/reconciler/v1alpha1/revision/config/store_test.go
  pkg/reconciler/v1alpha1/route/route.go
  pkg/reconciler/v1alpha1/route/route_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#3756 Simplify the ClusterIngress creation logic.
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress.go
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress_test.go
  pkg/reconciler/v1alpha1/route/route_test.go
  pkg/reconciler/v1alpha1/route/traffic/traffic.go
  pkg/reconciler/v1alpha1/route/traffic/traffic_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#2445 Run separate clusteringress controller
  cmd/controller/main.go
  cmd/networking/OWNERS
  cmd/networking/doc.go
  cmd/networking/istio/main.go
  config/networking-istio.yaml
Labels: approved, area/API, cla: yes, lgtm, size/L

#3548 Create variants of TestObservedConcurrency test
  test/performance/observed_concurency_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M

#3762 Make latency tests more durable by checking route consistency.
  test/performance/latency_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#3654 Check Knative Serving is ready at test setup time
  test/e2e-common.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/S

#3730 Reconcile KPA, HPA with SKS and then Revision with PA.
  cmd/activator/main.go
  cmd/autoscaler/main.go
  cmd/autoscaler/main_test.go
  pkg/activator/activator.go
  pkg/activator/activator_test.go
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle_test.go
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/autoscaling/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/serving/register.go
  pkg/reconciler/testing/table.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/resources/decider.go
  pkg/reconciler/v1alpha1/revision/queueing_test.go
  pkg/reconciler/v1alpha1/revision/reconcile_resources.go
  pkg/reconciler/v1alpha1/revision/revision.go
  pkg/reconciler/v1alpha1/revision/revision_test.go
  pkg/reconciler/v1alpha1/revision/table_test.go
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress.go
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress_test.go
  pkg/reconciler/v1alpha1/route/route_test.go
  pkg/reconciler/v1alpha1/route/table_test.go
  pkg/reconciler/v1alpha1/route/traffic/traffic.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/names/names.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/names/names_test.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/services.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/services_test.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice_test.go
  pkg/reconciler/v1alpha1/testing/factory.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, area/autoscale, area/networking, cla: yes, lgtm, size/XXL

#3744 Add custom report for ImmutableField validation errors
  Gopkg.lock
  Gopkg.toml
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort_go17.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort_go18.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/export_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_disable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/debug_enable.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/flags.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_legacy.go
  vendor/github.com/google/go-cmp/cmp/internal/flags/toolchain_recent.go
  vendor/github.com/google/go-cmp/cmp/internal/function/func.go
  vendor/github.com/google/go-cmp/cmp/internal/value/format.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_unsafe.go
  vendor/github.com/google/go-cmp/cmp/internal/value/sort.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/github.com/google/go-cmp/cmp/report_value.go
  vendor/github.com/google/go-cmp/cmp/reporter.go
  vendor/github.com/knative/caching/Gopkg.lock
  vendor/github.com/knative/pkg/kmp/diff.go
  vendor/github.com/knative/pkg/kmp/reporters.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/XXL

#3769 Move the sync writer into logging
  cmd/queue/main.go
  pkg/logging/sync_file_writer.go
  pkg/logging/sync_file_writer_test.go
Labels: approved, area/monitoring, area/networking, cla: yes, lgtm, size/XS

#3768 Move GetClusterThing out of pkg/utils.
  cmd/activator/main.go
  pkg/activator/handler/handler.go
  pkg/network/domain.go
  pkg/network/domain_test.go
  pkg/reconciler/names.go
  pkg/reconciler/v1alpha1/clusteringress/clusteringress_test.go
  pkg/reconciler/v1alpha1/clusteringress/config/istio.go
  pkg/reconciler/v1alpha1/clusteringress/resources/virtual_service.go
  pkg/reconciler/v1alpha1/route/config/domain.go
  pkg/reconciler/v1alpha1/route/config/domain_test.go
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress.go
  pkg/reconciler/v1alpha1/route/resources/names/names.go
  pkg/reconciler/v1alpha1/route/table_test.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/M

#3763 Add per-route AppendHeaders support in ClusterIngress.
  Gopkg.lock
  Gopkg.toml
  pkg/apis/networking/v1alpha1/clusteringress_types.go
  pkg/apis/networking/v1alpha1/zz_generated.deepcopy.go
  pkg/reconciler/v1alpha1/clusteringress/resources/virtual_service.go
  pkg/reconciler/v1alpha1/clusteringress/resources/virtual_service_test.go
  vendor/github.com/knative/pkg/apis/istio/v1alpha3/virtualservice_types.go
  vendor/github.com/knative/pkg/apis/istio/v1alpha3/zz_generated.deepcopy.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/L

#3767 Fixing Webhook API Coverage Job
  test/apicoverage.sh
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#3765 Raise HPA test coverage about errors
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#3772 Retire pkg/reconciler/names.go
  pkg/reconciler/names.go
Labels: approved, area/API, area/networking, cla: yes, lgtm, size/S

#3774 Reduce usage of ConcurrencyModel to places where it's needed.
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler_test.go
  pkg/reconciler/v1alpha1/revision/queueing_test.go
  pkg/reconciler/v1alpha1/service/service_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/M

#3524 Removed the liveness check from deployment probe in the runtime contract
  docs/runtime-contract.md
Labels: approved, cla: yes, lgtm, size/XS

#3773 Get rid of unnecessary int32s in the code
  cmd/activator/main.go
  cmd/queue/main.go
  pkg/activator/handler/handler_test.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
  pkg/queue/breaker.go
  pkg/queue/breaker_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/L

#3770 SKS usage in activator
  cmd/activator/main.go
  pkg/activator/activator.go
  pkg/activator/handler/handler.go
  pkg/activator/handler/handler_test.go
  pkg/activator/throttler.go
  pkg/activator/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/XL

#3783 Raise the activator.handler test coverage
  pkg/activator/handler/handler_test.go
  pkg/activator/throttler_test.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#3777 Add knative serving release label for podspec
  config/autoscaler.yaml
  config/controller.yaml
  config/webhook.yaml
Labels: approved, cla: yes, lgtm, size/XS

#3785 Rework the scale fake to take a deployment.
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/testing/factory.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3647 ScaleRevisionByLoadTest
  test/performance/scale_revision_by_load_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/L

#3788 Fix leftover todo
  pkg/autoscaler/collector.go
  pkg/autoscaler/statserver/server.go
Labels: approved, area/autoscale, cla: yes, lgtm, ok-to-test, size/S

#3792 Fix the istio version in the dev guide
  DEVELOPMENT.md
Labels: approved, cla: yes, lgtm, size/XS

#3778 Use pkg/reconciler/testing
  Gopkg.lock
  Gopkg.toml
  pkg/apis/config/defaults_test.go
  pkg/apis/config/store_test.go
  pkg/autoscaler/config_test.go
  pkg/gc/config_test.go
  pkg/logging/config_test.go
  pkg/network/network_test.go
  pkg/reconciler/testing/actions_test.go
  pkg/reconciler/testing/generate_name_reactor_test.go
  pkg/reconciler/testing/hooks_test.go
  pkg/reconciler/testing/sorter_test.go
  pkg/reconciler/v1alpha1/clusteringress/config/istio_test.go
  pkg/reconciler/v1alpha1/configuration/config/store_test.go
  pkg/reconciler/v1alpha1/revision/config/controller_test.go
  pkg/reconciler/v1alpha1/revision/config/observability_test.go
  pkg/reconciler/v1alpha1/revision/table_test.go
  pkg/reconciler/v1alpha1/route/config/domain.go
  pkg/reconciler/v1alpha1/route/config/domain_test.go
  pkg/reconciler/v1alpha1/route/config/store_test.go
  pkg/reconciler/v1alpha1/route/table_test.go
  pkg/reconciler/v1alpha1/testing/aliases.go
  pkg/reconciler/v1alpha1/testing/factory.go
  pkg/reconciler/v1alpha1/testing/listers.go
  vendor/github.com/knative/pkg/configmap/testing/configmap.go
  vendor/github.com/knative/pkg/reconciler/testing/actions.go
  vendor/github.com/knative/pkg/reconciler/testing/clock.go
  vendor/github.com/knative/pkg/reconciler/testing/events.go
  vendor/github.com/knative/pkg/reconciler/testing/generate_name_reactor.go
  vendor/github.com/knative/pkg/reconciler/testing/hooks.go
  vendor/github.com/knative/pkg/reconciler/testing/reactions.go
  vendor/github.com/knative/pkg/reconciler/testing/sorter.go
  vendor/github.com/knative/pkg/reconciler/testing/stats.go
  vendor/github.com/knative/pkg/reconciler/testing/table.go
  vendor/github.com/knative/pkg/reconciler/testing/tracker.go
  vendor/github.com/knative/pkg/reconciler/testing/util.go
Labels: approved, area/API, area/autoscale, area/monitoring, area/networking, cla: yes, lgtm, size/XL

#3562 This implements "BYO Revision name".
  cmd/controller/main.go
  docs/spec/spec.md
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/service_lifecycle.go
  pkg/apis/serving/v1alpha1/service_validation.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/reconciler/v1alpha1/configuration/configuration.go
  pkg/reconciler/v1alpha1/configuration/configuration_test.go
  pkg/reconciler/v1alpha1/configuration/resources/revision.go
  pkg/reconciler/v1alpha1/service/service.go
  pkg/reconciler/v1alpha1/service/service_test.go
  test/conformance/service_test.go
Labels: approved, area/API, area/autoscale, area/test-and-release, cla: yes, lgtm, size/XL

#3752 Check in the v1beta1 type definitions.
  hack/update-codegen.sh
  pkg/apis/serving/v1beta1/configuration_defaults.go
  pkg/apis/serving/v1beta1/configuration_defaults_test.go
  pkg/apis/serving/v1beta1/configuration_lifecycle.go
  pkg/apis/serving/v1beta1/configuration_lifecycle_test.go
  pkg/apis/serving/v1beta1/configuration_types.go
  pkg/apis/serving/v1beta1/configuration_validation.go
  pkg/apis/serving/v1beta1/configuration_validation_test.go
  pkg/apis/serving/v1beta1/contexts.go
  pkg/apis/serving/v1beta1/doc.go
  pkg/apis/serving/v1beta1/register.go
  pkg/apis/serving/v1beta1/register_test.go
  pkg/apis/serving/v1beta1/revision_defaults.go
  pkg/apis/serving/v1beta1/revision_defaults_test.go
  pkg/apis/serving/v1beta1/revision_lifecycle.go
  pkg/apis/serving/v1beta1/revision_lifecycle_test.go
  pkg/apis/serving/v1beta1/revision_types.go
  pkg/apis/serving/v1beta1/revision_validation.go
  pkg/apis/serving/v1beta1/revision_validation_test.go
  pkg/apis/serving/v1beta1/route_defaults.go
  pkg/apis/serving/v1beta1/route_defaults_test.go
  pkg/apis/serving/v1beta1/route_lifecycle.go
  pkg/apis/serving/v1beta1/route_lifecycle_test.go
  pkg/apis/serving/v1beta1/route_types.go
  pkg/apis/serving/v1beta1/route_validation.go
  pkg/apis/serving/v1beta1/route_validation_test.go
  pkg/apis/serving/v1beta1/service_defaults.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
  pkg/apis/serving/v1beta1/service_lifecycle.go
  pkg/apis/serving/v1beta1/service_lifecycle_test.go
  pkg/apis/serving/v1beta1/service_types.go
  pkg/apis/serving/v1beta1/service_validation.go
  pkg/apis/serving/v1beta1/service_validation_test.go
  pkg/apis/serving/v1beta1/zz_generated.deepcopy.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/XXL

#3787 Rework SKS in terms of object reference
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/networking/generic_types.go
  pkg/apis/networking/v1alpha1/serverlessservice_types.go
  pkg/apis/networking/v1alpha1/serverlessservice_validation.go
  pkg/apis/networking/v1alpha1/serverlessservice_validation_test.go
  pkg/apis/networking/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/kpa_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler_test.go
  pkg/reconciler/v1alpha1/autoscaling/resources/sks.go
  pkg/reconciler/v1alpha1/autoscaling/resources/sks_test.go
  pkg/reconciler/v1alpha1/revision/reconcile_resources.go
  pkg/reconciler/v1alpha1/revision/table_test.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/services.go
  pkg/reconciler/v1alpha1/serverlessservice/resources/services_test.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/XL

#3786 Revert the change that removed the public service creation in SKS
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice_test.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#3729 Add support for template: in addition to revisionTemplate:
  docs/spec/spec.md
  pkg/apis/serving/v1alpha1/configuration_lifecycle.go
  pkg/apis/serving/v1alpha1/configuration_types.go
  pkg/apis/serving/v1alpha1/configuration_validation.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/zz_generated.deepcopy.go
  pkg/reconciler/v1alpha1/configuration/configuration.go
  pkg/reconciler/v1alpha1/configuration/configuration_test.go
  pkg/reconciler/v1alpha1/configuration/resources/revision_test.go
  pkg/reconciler/v1alpha1/service/service.go
  pkg/reconciler/v1alpha1/service/service_test.go
  test/conformance/service_test.go
  test/crd.go
  test/e2e/build_test.go
  test/performance/scale_from_zero_test.go
Labels: approved, area/API, area/test-and-release, cla: yes, lgtm, size/L

#3795 Fix the SKS reconciliation in HPA
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa.go
  pkg/reconciler/v1alpha1/autoscaling/hpa/hpa_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/S

#3794 Reduce the default TCP timeout to fix #3700.
  pkg/activator/util/transports.go
  pkg/activator/util/transports_test.go
  pkg/http/h2c/h2c.go
  pkg/network/network.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#3796 Add Victor Agababov to networking-approvers.
  OWNERS_ALIASES
Labels: approved, cla: yes, lgtm, size/XS

#3784 Refactor StatsScraper
  pkg/autoscaler/http_scrape_client.go
  pkg/autoscaler/http_scrape_client_test.go
  pkg/autoscaler/stats_scraper.go
  pkg/autoscaler/stats_scraper_test.go
Labels: approved, area/autoscale, cla: yes, lgtm, size/XL

#3799 Add proxy mode to the serverlessservice reconciler
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice.go
  pkg/reconciler/v1alpha1/serverlessservice/serverlessservice_test.go
  pkg/reconciler/v1alpha1/testing/factory.go
  pkg/reconciler/v1alpha1/testing/functional.go
Labels: approved, area/API, cla: yes, lgtm, size/L

#3797 Implement v1alpha1.TrafficTarget via v1beta1.TrafficTarget
  pkg/apis/serving/v1alpha1/route_defaults.go
  pkg/apis/serving/v1alpha1/route_defaults_test.go
  pkg/apis/serving/v1alpha1/route_types.go
  pkg/apis/serving/v1alpha1/route_validation.go
  pkg/apis/serving/v1alpha1/route_validation_test.go
  pkg/apis/serving/v1alpha1/service_lifecycle_test.go
  pkg/apis/serving/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/serving/v1beta1/route_types.go
  pkg/apis/serving/v1beta1/route_validation.go
  pkg/apis/serving/v1beta1/route_validation_test.go
  pkg/apis/serving/v1beta1/service_defaults_test.go
  pkg/apis/serving/v1beta1/service_validation_test.go
  pkg/reconciler/v1alpha1/labeler/labeler_test.go
  pkg/reconciler/v1alpha1/route/queueing_test.go
  pkg/reconciler/v1alpha1/route/reconcile_resources_test.go
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress.go
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress_test.go
  pkg/reconciler/v1alpha1/route/route_test.go
  pkg/reconciler/v1alpha1/route/table_test.go
  pkg/reconciler/v1alpha1/route/traffic/traffic.go
  pkg/reconciler/v1alpha1/route/traffic/traffic_test.go
  pkg/reconciler/v1alpha1/service/resources/route.go
  pkg/reconciler/v1alpha1/service/resources/route_test.go
  pkg/reconciler/v1alpha1/service/service.go
  pkg/reconciler/v1alpha1/service/service_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
  test/conformance/service_test.go
  test/crd.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, size/XXL

#3779 Improve webhook validation
  Gopkg.lock
  Gopkg.toml
  pkg/apis/serving/fieldmask.go
  pkg/apis/serving/fieldmask_test.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  vendor/github.com/knative/pkg/apis/field_error.go
Labels: approved, area/API, cla: yes, lgtm, size/XXL

#3806 Using const() defines constants together
  pkg/reconciler/v1alpha1/route/resources/cluster_ingress_test.go
  pkg/reconciler/v1alpha1/route/traffic/traffic.go
  test/image_constants.go
Labels: approved, area/API, area/networking, area/test-and-release, cla: yes, lgtm, ok-to-test, size/M

#3771 Do not scale when there is no metric, and some cleanups.
  pkg/apis/autoscaling/v1alpha1/pa_lifecycle.go
  pkg/autoscaler/multiscaler.go
  pkg/autoscaler/multiscaler_test.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler.go
  pkg/reconciler/v1alpha1/autoscaling/kpa/scaler_test.go
Labels: approved, area/API, area/autoscale, cla: yes, lgtm, size/L

#3814 [RELEASE-0.5] Reduce the default TCP timeout to fix #3700. (#3794)
  pkg/activator/util/transports.go
  pkg/activator/util/transports_test.go
  pkg/http/h2c/h2c.go
  pkg/network/network.go
Labels: approved, area/networking, cla: yes, lgtm, size/M

#3810 Implement v1alpha1.RevisionSpec via v1beta1.RevisionSpec
  pkg/activator/handler/handler_test.go
  pkg/activator/throttler_test.go
  pkg/apis/autoscaling/v1alpha1/pa_types.go
  pkg/apis/autoscaling/v1alpha1/pa_validation.go
  pkg/apis/autoscaling/v1alpha1/pa_validation_test.go
  pkg/apis/serving/k8s_validation.go
  pkg/apis/serving/k8s_validation_test.go
  pkg/apis/serving/v1alpha1/configuration_defaults_test.go
  pkg/apis/serving/v1alpha1/configuration_validation_test.go
  pkg/apis/serving/v1alpha1/revision_defaults.go
  pkg/apis/serving/v1alpha1/revision_defaults_test.go
  pkg/apis/serving/v1alpha1/revision_lifecycle.go
  pkg/apis/serving/v1alpha1/revision_types.go
  pkg/apis/serving/v1alpha1/revision_validation.go
  pkg/apis/serving/v1alpha1/revision_validation_test.go
  pkg/apis/serving/v1alpha1/service_defaults_test.go
  pkg/apis/serving/v1alpha1/service_validation_test.go
  pkg/apis/serving/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/serving/v1beta1/revision_validation.go
  pkg/apis/serving/v1beta1/revision_validation_test.go
  pkg/autoscaler/config.go
  pkg/autoscaler/config_test.go
  pkg/reconciler/v1alpha1/configuration/configuration_test.go
  pkg/reconciler/v1alpha1/configuration/queueing_test.go
  pkg/reconciler/v1alpha1/revision/queueing_test.go
  pkg/reconciler/v1alpha1/revision/resources/deploy_test.go
  pkg/reconciler/v1alpha1/revision/resources/fluentd_test.go
  pkg/reconciler/v1alpha1/revision/resources/imagecache_test.go
  pkg/reconciler/v1alpha1/revision/resources/kpa_test.go
  pkg/reconciler/v1alpha1/revision/resources/queue_test.go
  pkg/reconciler/v1alpha1/revision/resources/service_test.go
  pkg/reconciler/v1alpha1/testing/functional.go
  test/crd.go
  test/e2e/build_test.go
Labels: approved, area/API, area/autoscale, area/networking, area/test-and-release, cla: yes, lgtm, size/XXL

#3813 Add loadfactors to the options when running load test
  test/performance/latency_test.go
  test/performance/scale_revision_by_load_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/XS

#3819 Disable downgrade testing.
  test/e2e-upgrade-tests.sh
  test/upgrade/README.md
  test/upgrade/service_postdowngrade_test.go
Labels: approved, area/test-and-release, cla: yes, lgtm, size/M
